/*------------------------------------*\
  Banner Hero [Banners Principales]
  Vitrina - Home
\*------------------------------------*/

.ban-hero {
  position: relative;
}

// .ban-hero__crop {}
.ban-hero__item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ban-hero__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 54%;
  color: $c-neutro;
  padding: 0 $sp-xsmall 0 $sp-medium;
}

.ban-hero__title {
  font-family: $f-light;
  @include font-rem(80px);
  line-height: .9;
}

.ban-hero__txt {
  @include font-rem(20px);
  line-height: 1.2;
}

.ban-hero__img {
  position: relative;
  top: 0;
  width: 100%;
}

.ban-hero__link {
  margin: $sp-small 0 0;
  padding: 4px;
  max-width: 200px;
}

.slider__arrow.i-arrow-left.i-next.slick-arrow {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
}

.slider__arrow.i-arrow-left.i-prev.slick-arrow {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
}

//- Estructura
.ban-hero__inner {
  max-width: 140px;
  display: block;
  margin: 0 0 0 auto;
}

//- Elemento
.ban-hero__sm {
  line-height: 1.3;
  display: inline-block;
}

//- Bloque Modificador
//- Banner Hero 2
.ban-hero_2 {
  .ban-hero__caption {
    //justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0 0 0 auto;
  }
  .ban-hero__title {
    color: $c-brand-2;
    padding-bottom: $sp-small;
  }
  .ban-hero__txt,
  .ban-hero__sm {
    color: $c-default;
    padding-bottom: $sp-xsmall;
  }
  .ban-hero__link {
    max-width: none;
  }
}

//- Manipulación del banner en Panel únicamente
@media only screen and (max-width: 767px) {
  //- Bloque Modificador
  //- Banner Hero 2
  .ban-hero_2 {
    .ban-hero__caption {
      padding: $sp-xsmall $sp-small $sp-xsmall;
      text-align: right;
      right: 0;
    }
    .ban-hero__title {
      @include font-rem(40px); //padding-bottom: $sp-small;
    }
    .ban-hero__txt {
      @include font-rem(18px); //padding-bottom: $sp-xsmall;
    }
    .ban-hero__sm {
      @include font-rem(12px); //padding-bottom: $sp-xsmall;
    }
  }
}

//bp-medium = 480px
@include media-query(small-m) {
  .ban-hero__txt {
    display: inline-block;
    max-width: 80%;
  } //- Bloque Modificador
  //- Banner Hero 2
  .ban-hero_2 {
    .ban-hero__inner {
      max-width: 200px;
    }
    .ban-hero__link {
      display: block;
      width: 100%;
      max-width: 220px;
      margin: 0 0 0 auto;
    }
  }
}

//bp-medium = 640px
@include media-query(small-medium) {
  .ban-hero__caption {
    height: 64%;
  }
  .ban-hero__title {
    line-height: .8;
    @include font-rem(88px);
  }
}

//bp-medium = 768px
@include media-query(medium) {
  .ban-hero__title {
    line-height: .9;
    @include font-rem(110px);
  }
  .ban-hero__txt {
    @include font-rem(22px);
    max-width: 90%;
  } //- Bloque Modificador
  //- Banner Hero 2
  .ban-hero_2 {
    .ban-hero__caption {
      padding: $sp-small;
      text-align: left;
      margin: 0 auto 0 0;
      left: 0;
    }
    .ban-hero__inner {
      margin: 0 auto 0 0;
      max-width: 400px;
    }
    .ban-hero__link {
      max-width: 220px;
      margin: 0 auto 0 0;
    }
    .ban-hero__title {
      @include font-rem(60px);
      line-height: 1.1;
    }
    .ban-hero__txt {
      @include font-rem(20px);
    }
    .ban-hero__sm {
      font-family: $f-bold;
      @include font-rem(16px);
      padding-bottom: $sp-small;
    }
  }
}

//bp-wide = 1024px
@include media-query(wide) {
  .ban-hero__caption {
    height: 65%;
    padding: 0 $sp-xsmall 0 $sp-large;
  }
  .ban-hero__txt {
    @include font-rem(24px);
  } //- Bloque Modificador
  //- Banner Hero 2
  .ban-hero_2 {
    .ban-hero__caption {
      padding-left: 10%
    }
  }
}
