//- ban = banner [uso de prefijo ban evitar bloquers]
.ban-frame {
  position: relative;
  display: flex;
  max-width: 380px;
  min-height: 570px;
  align-content: flex-end;
  margin: 0 auto;
  overflow: hidden;
}

.ban-frame__mask {
  position: relative;
      margin: 0 auto;
}

.ban-frame__crop {
  z-index: 1;
}

//.ban-frame__img {}
.ban-frame__svg {
  position: absolute;
  top: -595px;
  left: -281px;
  z-index: -1; // top: -700px;
  // left: -107px;
}

.ban-frame__txt {
  text-align: right;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(30px);
  padding: 0 $sp-small $sp-small $sp-small;
}

.ban-frame__btn {
  width: 100%;
  max-width: 90%;
  margin: $sp-small auto $sp-medium;
}

.ban-frame__info {
  position: absolute;
  right: 0;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ban-frame__img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

//- Medium 768px
@include media-query(medium) {
  .ban-frame__mask {
    margin: initial;
  }
  .ban-frame {
    max-width: 100%;
    display: flex;
    align-content: flex-end;
    min-height: 370px;
  }
  .ban-frame__info {
    min-height: 370px;
    max-width: 50%;
    margin: 0 0 0 auto;
    //right: 0;
  }
  .ban-frame__txt {
    @include font-rem(25px);
    padding: 0 $sp-small 0 $sp-small;
    margin: 0 0 0 auto;
    max-width: 300px;
  }
  .ban-frame__btn {
    width: 100%;
    max-width: 135px;
    margin: $sp-small $sp-small $sp-medium auto;
    padding: 8px;
  }
  .ban-frame__svg {
    top: -785px;
    left: -183px;
  }
  .ban-frame__img {
    width: 60%;
  }
}

//- Wide 1024px
@include media-query(wide) {
  .ban-frame__info {
    max-width: 100%;
  }
  .ban-frame__txt {
    @include font-rem(28px);
  }
  .ban-frame__img {
    width: 80%;
  }
  .ban-frame__svg {
    position: absolute;
    top: -747px;
    left: -163px;
  }
}

//- large 1180px
@include media-query(large) {
  .ban-frame__svg {
    position: absolute;
    top: -700px;
    left: -107px;
  }
}

//- Wide 1280px
@include media-query(big) {
  .ban-frame__info {
    max-width: 100%;
  }
  .ban-frame__img {
    width: 100%;
  }
  .ban-frame__txt {
    @include font-rem(30px);
  }
}
