/**
 * @molecule Box Banner
 * @section Banners
 * @markup
 *   <div class="band_brand-2">
 *     <div class="txt-banner">
 *       <header class="txt-banner__head">
 *         <h4 class="txt-banner__title">Movistar, siempre a mano</h4>
 *         <h5 class="txt-banner__subtitle">Habla más por menos</h5>
 *       </header>
 *       <div class="txt-banner__box"><span class="txt-banner__txt-xl">0<small class="txt-banner__txt-sm">%</small></span><span class="txt-banner__txt-strong">Sin intereses</span>
 *          <p class="txt-banner__txt">6 ó 12 meses sin intereses al pagar con tarjeta de crédito.</p>
 *        </div>
 *        <div class="txt-banner__box"><span class="txt-banner__txt-xl">48</span><span class="txt-banner__txt-strong">Gratis en 48 horas</span>
 *          <p class="txt-banner__txt">Recíbelo gratis en 48 horas en cualquier parte de Chile.</p>
 *        </div>
 *      </div>
 *   </div>
 */

.box-banner {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.box-banner__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  margin: 0 0.5% 10px 0.5%;
  max-width: 300px;
  min-height: 235px;
}

.box-banner__card {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: $sp-medium;
  background-color: $c-neutro;
  border-top: 8px solid $c-brand_l;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.15);
  }
}

.box-banner__txt {
  position: relative;
  font-family: $f-bold;
  color: $c-default;
  text-align: center;
  @include font-rem(20px);
  &:before {
    display: block;
    @include font-rem(50px);
    color: $c-brand-2;
    padding-bottom: $sp-medium;
  }
}
//- 640px
@include media-query(small-medium) {
  .box-banner__item {
    flex-basis: 47%;
    align-items: stretch;
  }
}
//- 980px
@include media-query(small-wide) {
    .box-banner__item {
      flex-basis: 24%;
      align-items: stretch;
    }
}
