.box-square {
  margin: 80px 0;
  &__list {
    background-color: $blue;
    padding: 20px;
  }
  &__item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $f-regular;
    margin-bottom: 1rem;
    min-height: 276px;
    padding: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    color: $green;
    font-family: $f-default;
    @include font-rem(44px);
    line-height: 1;
    margin-bottom: 1rem;
  }
  &__description {
    color: $grey-5;
    font-family: $f-light;
    @include font-rem(18px);
  }

  //- Medium 768px
  @include media-query(medium) {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 90vw;
      margin: auto;
      padding: 40px;
    }
    &__item {
      margin-bottom: 0;
      width: calc(50% - 20px);
      margin-right: 10px;
      &:last-child {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

  //- Wide 1024px
  @include media-query(wide) {
    &__title {
      @include font-rem(64px);
    }
    &__description {
      @include font-rem(24px);
    }
  }

  //- large 1180px
  @include media-query(large) {
    &__list {
      padding: 80px;
    }    
    &__item {
      width: 400px;
      height: 400px;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
