/*------------------------------------*\
  Estilos checkout Data Layout 2 columnas
\*------------------------------------*/

.data {
  padding-bottom: 50px;
}

//- Caja estructural a 100% de ancho
.data__header-full {
  width: 100%;
  text-align: center;
  padding-bottom: $sp-small;
  margin-bottom: $sp-medium;
  border-bottom: 1px solid $c-default-3;
}

.data__header {
  max-width: 480px;
  border-bottom: 1px solid $c-default-4;
}

.data__title {
  @include font-rem(18px);
  font-family: $f-bold;
}

.data__subtitle {
  margin: 0;
  padding-bottom: 16px;
  color: $c-default-1;
}

.data__aside-wrap {
  padding: 28px 26px 0;
}

.data__list {
  @include flexbox;
  @include justify-content(space-between);
  padding: 14px 0px;
}

.data__term {
  color: $c-default-1;
  @include font-rem(16px);
  font-family: $f-regular;
}

.data__value {
  text-align: right;
  @include font-rem(16px);
  font-family: $f-bold;
}

.data__form {
  padding-top: 16px;
}

.txt_blue {
  display: block;
  color: $c-brand-2;
}

.data__summary {
  padding-bottom: 22px;
  .data__term {
    color: $c-default;
    font-family: $f-bold;
    @include font-rem(24px);
  }
  .data__total {
    text-align: right
  }
}

.data__total {
  font-family: $f-regular;
  @include font-rem(24px);
  color: $c-brand;
}

.data__actions {
  margin: 0 -26px;
}

.data_btn {
  width: 100%;
}

.data__info {
  @include flexbox;
  @include justify-content(center);
  @include align-items(flex-start);
  padding: 26px 0;
  border-top: 1px solid $c-default-4;
}

.data__label {
  width: 30%;
  font-family: $f-bold;
  @include font-rem(18px);
  text-align: center;
}

.data__info-img {
  width: 70%;
  max-width: 218px;
}

.data__item {
  padding-top: 24px;
  padding-bottom: 8px;
  margin-top: 16px;
  border-top: 1px solid $c-default-4;
  .tag {
    display: inline-block;
    margin-bottom: 30px;
  }
}

.data__grid {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.data__col {
  @include flexbox;
  @include align-items(flex-start);
  width: 100%;
}

.data__subitem {
  width: 50%;
}

.data__subitem_huge {
  width: 100%;
}

.data__caption {
  padding-left: 24px;
}

.data__th {
  display: block;
  padding-bottom: 10px;
  font-family: $f-bold;
  @include font-rem(14px);
}

.data__link {
  display: block;
  text-decoration: underline;
  @include font-rem(14px);
  color: $c-default-7;
  &:hover {
    font-family: $f-regular;
  }
}

.data__group {
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
}

.data__tag {
  padding: 8px;
  margin-left: 12px;
}

.data__img {
  margin-top: -10px;
}

.data__txt {
  @include flexbox;
  @include align-items(flex-start);
  padding-bottom: 8px;
  color: $grey-4;
  &:before {
    line-height: 1.6;
    color: $c-brand-2;
    padding-right: 16px;
  }
}

.data__list-general {
  list-style: none;
}

.data__item-bullet {
  position: relative;
  padding-left: 18px;
  @include font-rem(14px);
  color: $c-default-7;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $c-default-7;
  }
}

.data__msg-success {
  display: block;
  margin-top: -20px;
  text-align: center;
  @include font-rem(14px);
  color: $c-brand_l;
}

.data__aside-link {
  display: block;
  @include font-rem(20px);
  text-align: center;
  color: $c-brand-2;
  &:hover {
    color: $c-brand-2-hover;
  }
}

.data__aside {
  border-top: 1px solid $c-default-4;
}

@include media-query(medium) {
  .layout_section {
    padding-top: 50px;
  }
  .data__title {
    @include font-rem(24px);
  }
  .data {
    @include flexbox;
    @include justify-content(space-between);
  } // Bloque Estructural al 70%
  .data__content {
    width: 70%;
    padding-right: 70px;
    padding: 28px 26px 0;
  }
  .data__content_top {
    padding-top: 0;
  } //- Estructura al 30%
  .data__aside {
    width: 30%;
    min-width: 320px;
    max-width: 364px;
    height: 100%;
  } //- Estructura al 50%
  .data__even {
    width: 50%;
    height: 100%;
  }
  .data__aside-wrap {
    border: 1px solid $c-default-4;
  }
  .data__info {
    padding: 40px 0;
  }
  .data__info-img {
    width: 60%;
    max-width: 346px;
  }
  .data__label {
    width: 40%;
    min-width: 150px;
    max-width: 200px;
    padding-top: 12px;
    @include font-rem(20px);
    text-align: left;
  } //- Caja estructural a 100% de ancho
  .data__header-full {
    margin-bottom: $sp-large;
  }
}

/**
 * @molecule Banner zig zag
 * @section Banners
 * @markup
 * <div class="tabs__pane">
 *  <article class="tabs__slot">
 *    <div class="tabs__slot-content">
 *      <div class="tabs-description">
 *        <p class="tabs-description__title">Diseño</p>
 *         <p class="tabs-description__txt">Resistente a las salpicaduras y al agua. Irresistible a los ojos. Nuevos acabados negro mate y negro brillante. Nuevo botón de inicio</p>
 *       </div>
 *       <figure class="tabs__figure"><img class="tabs__img" src="../dist/static/img/tabs-detail-product-001.jpg" alt="Apple iPhone X">
 *         <figcaption class="tabs__caption tabs__caption_curve-1">Nuevos acabados: <br>mate y brillante</figcaption>
 *       </figure>
 *     </div>
 *   </article>
 *   <article class="tabs__slot tabs__slot_reverse">
 *     <div class="tabs__slot-content">
 *       <div class="tabs-description">
 *         <p class="tabs-description__title">Cámara</p>
 *         <p class="tabs-description__txt">Una cámara totalmente nueva entra en escena. Estabilización óptica de imagen y Flash Quad-LED True Tone.</p>
 *       </div>
 *       <figure class="tabs__figure"><img class="tabs__img" src="../dist/static/img/tabs-detail-product-002.jpg" alt="Apple iPhone X">
 *         <figcaption class="tabs__caption tabs__caption_curve-2">Flash Quad-LED <br>True Tone</figcaption>
 *       </figure>
 *     </div>
 *   </article>
 * </div>
 */

.tabs {
  margin-bottom: 40px;
}

// Tas header
.tabs__list {
  list-style: none;
}

.tabs__btn {
  font-family: $f-regular;
  line-height: 1.5;
  color: $c-default;
  padding: 0;
  background-color: transparent;
}

.tabs-description {
  font-family: $f-light;
}

.tabs-description__title {
  margin: 0;
}

//Estilos de termnos y condiciones
//dentro de tas detalle sim
.tabs-terms__title {
  font-family: $f-light;
  @include font-rem(26px);
  padding-bottom: 16px;
  margin: 20px 0;
  border-bottom: 1px solid $c-default-2;
}

.tabs-terms__concept {
  padding-bottom: 14px;
  margin: 0;
  font-family: $f-bold;
  @include font-rem(14px);
}

.tabs-terms__txt {
  padding-bottom: 20px;
  margin: 0;
  font-family: $f-regular;
  @include font-rem(14px);
}

@include media-query(small-m) {
  .tabs__header {
    width: 90%;
    margin: 0 auto;
  }
}

@include media-query(max-medium) {
  .tabs__title {
    display: none;
  }
  .tabs__item {
    &:not(:last-child) {
      border-bottom: 1px solid $c-default-2;
    } //Clase para la tab activa
    &.js-tabItemActive {
      .tabs__btn {
        &:before {
          -webkit-transform: rotate(180deg);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: rotate(180deg);
          /* IE 9 */
          transform: rotate(180deg);
          /* IE 10, Fx 16+, Op 12.1+ */
        }
      } // Estado activo para contenido de tab
      .tabs__pane {
        height: 100%;
        transition: width 1s linear .2s;
      }
    }
  }
  .tabs__btn {
    @include flexbox;
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    padding: 30px 10px 26px 12px;
    &:before {
      @include font-rem(6px);
    }
  }
  .tabs__pane {
    height: 0;
    overflow: hidden;
    .tabs__slot {
      &:last-child {
        .tabs__slot-content {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  .tabs__slot {
    text-align: center;
    background-color: $c-default-5;
  }
  .tabs__slot-content {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid $c-default-3;
  } // Figure de tabs se oculta en mobile
  .tabs__figure {
    display: none;
  }
  .tabs-description__title {
    @include font-rem(30px);
  }
  .tabs-description__txt {
    font-family: $f-default;
    @include font-rem(16px);
  }
  .data__col {
    width: 100%;
  }
  .data__subitem {
    width: 50%;
  }
  .data__subitem_huge {
    width: 100%;
  }
  .data__aside-link {
    padding: 14px;
    margin-top: 14px;
    text-decoration: none;
    border: 1px solid $c-default-3;
    border-radius: 4px;
  }
}

// Media query desde 768px
@include media-query(medium) {
  .tabs__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .tabs__header {
    position: relative;
    padding-bottom: 20px;
  }
  .tabs__title {
    font-family: $f-bold;
    @include font-rem(18px);
  }
  .tabs__list {
    @include flexbox;
    text-align: center;
  }
  .tabs__pane {
    position: absolute;
    display: none;
    left: 0;
    top: 140px;
    width: 100%;
    text-align: left;
    background-color: $c-neutro;
  }
  .tabs__item {
    margin-left: 36px;
    border-bottom: 3px solid transparent; //Clase para la tab activa
    &.js-tabItemActive {
      border-color: $c-default;
      .tabs__pane {
        display: block
      }
      .tabs__btn {
        font-family: $f-bold;
      }
    }
  }
  .tabs__btn {
    padding: 24px 14px 20px;
    &:before {
      display: none;
    }
  }
  .tabs__header-content {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 1px solid $c-default-4;
  }
  .tabs__slot {
    padding: 20px 0;
  }
  .tabs__slot-content {
    @include flexbox;
  }
  .tabs-description {
    padding: 20px 20px 20px 0;
    width: 35%;
    text-align: left;
  }
  .tabs-description__title {
    @include font-rem(38px);
  }
  .tabs-description__txt {
    @include font-rem(16px);
  }
  .tabs__figure {
    position: relative;
    width: 65%;
    line-height: 1;
  }
  .tabs__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 20px 0;
    text-align: right;
    color: $c-neutro;
    font-family: $f-light;
    @include font-rem(20px);
  }
  .tabs__img {
    width: 100%;
  } // Clase de item imverso en zig-zag
  .tabs__slot_reverse {
    .tabs__slot-content {
      @include flex-direction(row-reverse);
    }
    .tabs-description {
      padding: 20px 0 20px 20px;
    }
    .tabs__caption {
      position: absolute;
      left: 0;
      padding: 20px 0 20px 20px;
      text-align: left;
    }
  }
  .tabs-terms__title {
    padding-bottom: 20px;
    margin-bottom: 30px;
    @include font-rem(32px);
  }
  .tabs-terms__concept {
    padding-bottom: 20px;
  }
  .tabs-terms__txt {
    padding-bottom: 28px;
  }
  .tabs-terms__title {
    margin-top: 0;
  }
  .data__aside-link {
    padding-top: 24px;
  }
}

// Media 1uery desde 1024px
@include media-query(wide) {
  .tabs-description__title {
    @include font-rem(42px);
  }
  .tabs-description__txt {
    @include font-rem(20px);
  }
  .tabs__caption {
    @include font-rem(24px);
  }
}

@include media-query(max-large) {
  .data__col {
    padding-bottom: 20px;
  }
  .data__subitem_huge {
    padding-bottom: 20px;
  }
}

@include media-query(large) {
  .tabs__header {
    padding-bottom: 40px;
  }
  .tabs__slot {
    padding: 40px 0;
  }
  .tabs-description {
    padding: 40px 40px 40px 0;
  }
  .tabs-description__title {
    @include font-rem(64px);
  }
  .tabs-description__txt {
    @include font-rem(24px);
  }
  .tabs__caption {
    @include font-rem(32px);
    padding: 0 40px 40px 0;
  } // Clase de item imverso en zig-zag
  .tabs__slot_reverse {
    .tabs__caption {
      padding: 40px 0 40px 40px;
    }
    .tabs-description {
      padding: 40px 0 40px 40px;
    }
  }
  .data__col {
    width: 33%;
  }
  .data__subitem {
    width: 16%;
  }
  .data__subitem_huge {
    width: 33%;
    padding-right: 30px;
  }
}
