.filtro__slide {
  margin-top: 0;
  margin-bottom: 74px;
  &__qty {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  &__number {
    border: none;
    color: $grey-4;
    font-family: $f-regular;
    @include font-rem(14px);
    &_max {
      text-align: right;
    }
  }
  &__dark {
    color: $blue;
    font-family: $f-regular;
    @include font-rem(14px);
    margin-top: 1rem;
    text-align: center;
  }
  .asRange {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 100px !important;
    &-tip {
      display: none !important;
    }
  }
  .asRange-pointer {
    border: 1px solid $grey-6;
    top: -4px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 1px 1px 2px 0 rgba(174, 174, 174, 0.5);
  }
  .asRange-selected {
    background-color: $blue !important;
    height: 3px;
  }
  .asRange-pointer, .asRange-pointer_active {
    &:before {
    background: $grey-6;
    display: none;
    }
    &:after {
    display: none;
    }
    &:focus {
    outline: none;
    }
  }
}