// Select de filtro

.filter-select__inner {
  position: relative;
  @include flexbox;
  @include flex-direction(row-reverse);
  @include align-items(center);
  @include justify-content(space-between);
  min-width: 120px;
  max-width: 200px;
  border-radius: 4px;
  border: 1px solid $c-default-2;
  &:before {
    position: absolute;
    right: 10px;
    line-height: 1.4;
    @include font-rem(8px);
    color: $c-brand-2;
    cursor: pointer;
    pointer-events: none;
  }
}

.filter-select__btn {
  width: 100%;
  padding: 8px 18px 8px 16px;
  font-family: $f-regular;
  @include font-rem(14px);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance : none;
  appearance : none;
  background-color: transparent;
}
.grid__top {
  .filter-select__label {
    display: block;
    margin-top: -30px;
    padding-bottom: 8px;
  }
}

@media only screen and (min-width: 400px) { 
  .filter-select__inner {
    min-width: 180px;
  }
}
@include media-query(medium) {
  .filter-select__inner {
    min-width: 180px;
    margin-left: 10px;
  }
  .grid__top {
    .filter-select__label {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
