.foot {
  padding-bottom: $sp-xsmall;
  border-top: 1px solid $c-default-5;
  background-color: $c-neutro;
}

.foot__cont {
  max-width: 500px;
  margin: 0 auto;
}

//-Estructura
.foot__head {
  padding: $sp-small 0;
  border-bottom: 1px solid $c-default-5;
  background-color: $c-neutro; // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

//-Bloque para foot
.foot__box {
  padding: $sp-xsmall 0 $sp-medium;
  text-align: center;
}

//- Elemento
.foot__link-i {
  color: $c-brand-2;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  &.i-arrow-left {
    text-decoration: none;
    &:before {
      order: 2;
      padding-left: 10px;
    }
  }
}

.foot__img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

/*---------Footer Lista Principal----------*/

.foot__list {
  @include flexbox;
  @include flex-direction(column); // padding-bottom: 62px;
  list-style: none;
}

.foot__title {
  width: 100%;
  height: 100%;
  &:before {
    order: 2;
    display: inline-block;
  }
}

.foot__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  text-align: left;
  font-family: $f-bold;
  color: $c-default;
  background-color: transparent;
  &:after {
    @include font-rem(12px);
    transition: all .3s linear;
  }
  &.js-footItemOpen {
    &:after {
      transform: rotate(90deg);
    }
  }
}

.foot__item {
  padding-left: $sp-small;
}

.foot__link {
  display: block;
  padding: $sp-small 0;
  color: $c-default-1;
  transition: all 0.2s linear;
  &:hover {
    font-family: $f-regular;
  }
}

/*---------Footer Lista Iconos----------*/

.foot__sublist {
  display: none;
  padding: 0 20px;
  list-style: none;
}

.foot-ico__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $sp-small 0;
  list-style: none;
  border: none;
}

.foot-ico__item {
  padding: 0 $sp-xsmall;
}

.foot-ico__link {
  @include font-rem(0px);
  transition: all 0.2s linear;
  &:before {
    border-radius: 50%;
    @include font-rem(30px);
  }
  &:hover {
    &:before {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

.foot-ico__title {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  font-family: $f-bold;
  border-top: 1px solid $c-default-5;
}

.foot-ico__txt {
  padding-right: 20px;
}

/*---------Footer Lista Logos----------*/

.foot-logos__list {
  display: block;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid $c-default-5;
  border-bottom: 1px solid $c-default-5;
}

.foot-logos__group {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.foot-logos__img_brand {
  width: 100%;
  height: 100%;
  max-width: 34px;
  margin-right: 8px;
}

.foot-logos__img_store {
  height: 40px;
  width: auto;
}

.foot-logos__item {
  padding-bottom: 16px;
}

.foot-logos__item_inline {
  display: inline-block;
  width: 49%;
  line-height: 1;
}

.foot-logos__list {
  .foot-logos__item_inline {
    &:not(:last-child) {
      text-align: right;
    }
  }
}

.foot-logos__link {
  display: inline-block;
  line-height: 1;
}

.foot-sponsors__list {
  display: none;
}

/*---------Footer Desktop----------*/

//$bp-medium 768px
@include media-query(medium) {
  .foot {
    border-top: none;
    padding: $sp-medium 0 $sp-xsmall;
  }
  .foot__head {
    padding: 40px;
    border-bottom: none;
    box-shadow: none;
    border-bottom: 1px solid $c-default-4;
  }
  .foot__img {
    max-width: 340px;
    margin: 0 auto 0 0;
  }
  /*---Footer columnas únicamente para Desktop---*/
  .foot__list {
    // width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    padding: 10px 20px 0;
  }
  /*---Footer sublist columnas únicamente para Desktop---*/
  .foot__sublist {
    display: block;
    border: none;
  }
  .foot-ico__list {
    @include flexbox;
    @include justify-content(flex-start);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  /*---------Footer Logos Itmes Desktop----------*/
  .foot-logos__list {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid $c-default-5;
  }
  .foot-logos__item {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
    &:not(:last-child) {
      padding-right: 20px;
    }
  }
  .foot-logos__item_inline {
    width: initial;
  }
  /*---------Footer Itmes Desktop----------*/
  .foot__title {
    border: none;
    width: 25%;
  }
  /*---------Footer Botones de items Desktop----------*/
  .foot__btn {
    cursor: default;
    &:after {
      display: none;
    }
  } // .foot__title,
  // .foot-ico__title {
  //   //-padding: $sp-xsmall 0;
  //   border-top: none;
  //   border-bottom: none;
  //   &:before {
  //     display: none;
  //   }
  // }
  /*---------Footer links Desktop----------*/
  .foot__link {
    padding: $sp-xsmall 0;
  }
  /*---Footer contenido únicamente para Desktop---*/
  .foot__cont {
    max-width: initial;
  }
  /*---------Footer Títulos Iconos Desktop----------*/
  .foot-ico__title {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid $c-default-5;
  }
  /*---------Footer marcas parocinadoras Desktop----------*/
  .foot-sponsors__list {
    display: block;
  }
  .foot-sponsors__sublist {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    list-style: none;
  }
  .foot-sponsors__title {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 110px;
    text-align: center;
    font-family: $f-regular;
    @include font-rem(7px);
    color: $c-default-1;
    background-color: $c-neutro;
  }
  .foot-sponsors__group {
    @include flexbox;
    @include justify-content(space-around);
    padding: 12px;
    border: 1px solid $c-default-4;
    border-radius: 5px;
  }
  .foot-sponsors__subitem {
    position: relative;
    min-width: 140px;
    margin: 20px 12px;
    text-align: center;
  }
  .foot-sponsors__img {
    height: 49px;
    width: auto;
  }
  .foot-sponsors__sublist_border {
    .foot-sponsors__subitem {
      @include flexbox;
      @include justify-content(space-between);
      width: 100%;
      max-width: 800px;
      padding: 20px;
      margin-top: 10px;
      margin-right: 0; // margin-left: 0;
      border-radius: 5px;
      border: 1px solid $grey-1;
    }
    .foot-sponsors__img {
      height: 40px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .foot-sponsors__list {
    @include align-items(center);
  }
  .foot-sponsors__sublist_border {
    .foot-sponsors__subitem {
      padding: 16px 20px;
    }
    .foot-sponsors__img {
      &:not(:last-child) {
        padding-right: 16px;
        border-right: 1px solid #E9EAE8;
        border-right: 1px solid $c-default-4;
      }
    }
  }
}

//$bp-large 1180px
@include media-query(large) {
  // .foot__cont {
  //   flex-wrap: nowrap;
  // }
  .foot__title {
    width: 20%;
  }
  .foot-ico__title {
    display: block;
    width: 20%;
    margin: 0;
    border-top: none;
  }
  .foot-ico__item {
    padding: 10px 20px 10px 0;
  }
  /*---------Footer Títulos Iconos Desktop----------*/
  .foot-ico__list {
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
  }
  /*---------Footer Logos Itmes Desktop----------*/
  .foot-logos__list {
    padding: 20px 0;
    margin-top: 0;
    text-align: left;
    border-top: 0;
  }
  .foot-logos__img_brand {
    max-width: 40px;
  }
  .foot-logos__item {
    padding-bottom: 10px;
  }
  .foot-logos__caption {
    max-width: 120px;
  }
  .foot-sponsors__list {
    @include flexbox;
    @include justify-content(space-between);
  }
  .foot-sponsors__sublist_border {
    .foot-sponsors__img {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .foot-sponsors__subitem {
      max-width: initial;
    }
  }
  .foot-sponsors__item_big {
    width: 70%;
  }
}
