/*------------------------------------*\
	Component Grid Thumb
\*------------------------------------*/

/**
 * @molecule Grid de tags en cápsula
 * @section Bloques
 * @markup
 *  <div class="grid-thumb">
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price1" type="radio" checked="checked" name="prices">
 *      <label class="list-thumb__boll" for="price1">$23.499</label><span class="list-thumb__txt">Equipo libre</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price2" type="radio" name="prices">
 *      <label class="list-thumb__boll" for="price2">$23.499</label><span class="list-thumb__txt">Equipo + Plan ($180/mes) Wow!!</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price3" type="radio" name="prices">
 *      <label class="list-thumb__boll list-thumb__small" for="price3">$23.499</label><span class="list-thumb__txt">Cámbiate a Movistar con este equipo</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price4" type="radio" name="prices">
 *      <label class="list-thumb__boll list-thumb__small" for="price4">$23.499</label><span class="list-thumb__txt">Equipo + SIM Prepago</span><span class="tag tag_yellow">Portabilidad</span>
 *    </div>
 *  </div>
 */

.grid-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-thumb__slot {
  position: relative;
  flex: 50%;
  max-width: 140px;
  padding: 10px;
  text-align: center;
  .list-thumb__boll {
    max-height: 50px;
    margin-bottom: $sp-xsmall;
    font-family: $f-bold;
  }
}

.list-thumb__circle_active {
  width: 64px;
  border-radius: 25px;
  opacity: 1;
}

//- $bp-small-medium: 640px;
@include media-query(small-medium) {
  .grid-thumb__slot {
    flex: 33.33%;
  }
}

//- $bp-wide: 1024px;
@include media-query(wide) {
  .grid-thumb {
    flex-wrap: nowrap;
  }
  .grid-thumb__slot {
    flex: auto;
  }
}
