.head {
  position: relative;
  .band_brand-2 {
    z-index: 3;
  }
}

/*---------Head inner  (Sólo Header) MB----------*/

.head-inner {
  width: 90%;
  margin: 0 auto;
}

/*---------Menú Brand Estructura del Menú 1(Header)----------*/

.head-brand {
  display: block;
}

/*---------Menú Content Estructura del Menú 2(Header)----------*/

.head-cont {
  border-bottom: 1px solid $c-default-5;
}

/*---------Menú Gral Estructura del Menú 2(Header)----------*/

.head-gral {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  z-index: 2;
  background-color: $c-neutro;
}

/*---------Menú Foot  (Header)----------*/

.head-foot {
  display: flex;
  align-items: center;
  padding-right: 10px;
  .head__item.btn {
    min-width: 160px;
    padding: 16px 12px;
  }
}

.head__item {
  position: relative;
  margin: auto;
  &:first-child {
    display: block;
    flex-grow: 2;
  }
  &:nth-child(2) {
    max-height: 40px;
    line-height: .6;
  }
}

.head__txt {
  @include font-rem(18px);
}

/*---------head Box header principal template 2  (Header)----------*/

.head__box {
  position: relative;
  text-align: center;
  padding: 0 $sp-small $sp-medium $sp-small;
  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 110%;
    height: 60px;
    border-radius: 50%;
    background-color: $c-default-5;
  }
}

/*---------Menú Callto  (Header)----------*/

.head-callto {
  position: relative;
  display: flex;
  max-width: 560px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: $sp-small $sp-xsmall;
  &:before {
    @include font-rem(20px);
    color: $c-brand-2;
    padding-right: $sp-small;
  }
}

.head-callto__box {
  display: flex;
  flex-direction: column;
  margin-bottom: $sp-small;
  width: 100%;
  text-align: center;
}

.head-callto__txt-bold {
  display: block;
  font-family: $f-bold;
}

@media only screen and (max-width: 767px) {
  .head__item {
    &.btn {
      display: none;
    }
    &.btn-circle {
      position: fixed !important;
      top: calc(100vh - 70px);
      right: 20px;
      width: 60px;
      height: 60px;
      z-index: 4;
    }
  }
}

@media (min-width: 768px ) and (max-width: 1023px) {
  .head-foot {
    .btn {
      display: none;
    }
  }
}


// $bp-medium: 480px
@include media-query(small-m) {
  .head-callto {
    flex-wrap: nowrap;
  }
  .head-callto__box {
    width: auto;
    padding-right: $sp-small;
    margin-right: $sp-small;
    margin-bottom: 0;
    border-right: 1px solid $c-default-3;
    text-align: left;
  }
}

// $bp-medium: 768px
@include media-query(medium) {
  /*---------Head inner  (Sólo Header)----------*/
  .head-inner {
    width: 100%;
    max-width: 1240px;
  }
  /*---------Head Content  (Sólo Header en Desktop)----------*/
  .head-cont {
    display: flex;
    align-items: center;
  }
  /*---------Menú Brand Estructura del Menú 1(Header)----------*/
  .head-brand {
    display: flex;
    justify-content: space-between;
  }
  /*---------Menú Gral Estructura del Menú 2(Header en desktop)----------*/
  .head-gral {
    align-items: center;
  }
  .head__box {
    padding: 0 0 $sp-medium 0;
    &:after {
      display: none;
    }
  } // Aparece el Botón fixed solo desde 768px
  .head__item {
    &.btn-circle-Fixed-bottom {
      display: block;
    }
  }
}

// $bp-wide: 1024px
@include media-query(wide) {
  .head__item {
    &:nth-child(2) {
      display: block;
      margin-right: 10px;
    }
  }
}

// $bp-large: 1180px
@include media-query(large) {
  .head__item {
    display: block;
    margin: 0 10px;
    &:nth-last-child(4n) {
      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $c-default-1;
      }
    }
  }
}
