/*------------------------------------*\
	Bloque Input Search
\*------------------------------------*/

/**
 * @molecule Input search
 * @section Formulario
 * @markup
 *  <div class="input-search">
 *    <label class="input-search__label">Tiempo de entrega</label>
 *    <input class="input-search__input" type="search" placeholder="Código Postal">
 *    <button class="input-search__btn" type="submit">Calcular</button>
 *  </div>
 *
 */

.input-search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 380px;
  margin: 0 auto $sp-small 0;
  position: relative;
  &:first-child {
    margin-bottom: $sp-medium;
  }
  &:before,
  &:after {
    display: none;
  }
}

.input-search__label {
  display: block;
  padding-bottom: $sp-small;
}

.input-search__tape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 50px;
  background-color: $c-default-5;
  padding: 8px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  @include font-rem(20px);
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: $c-default-3;
  }
}

.input-search__input {
  width: 100%;
  background-color: $c-default-5;
  padding: 14px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: $f-light;
  @include font-rem(14px);
}

.input-search__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100px;
  padding: 13px 24px;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(16px);
  background-color: $c-brand-2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s linear;
  &:hover {
    background-color: $c-brand-2-hover;
  }
}

//- $bp-medium: 768px;
@include media-query(medium) {
  .input-search {
    margin-right: auto;
    &.i-tel-comic {
      &:before {
        position: absolute;
        left: 0;
        bottom: 10px;
        color: $c-brand-2;
        @include font-rem(24px);
        z-index: 1;
        display: inline-block;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 44px;
        width: 30px;
        background-color: $c-neutro;
        display: block;
      }
      .input-search__input {
        padding-left: 35px;
      }
    }
  }
}
