/*------------------------------------*\
	Component list-Bullets
\*------------------------------------*/
/**
 * @molecule Lista con Bullets
 * @section Bloques
 * @markup
 *  <ul class="list-bullet">
 *    <li class="list-bullet__item">Pantalla Super Retina HD</li>
 *    <li class="list-bullet__item">Cámaras de 12 MP con gran angular y teleobjetivo</li>
 *    <li class="list-bullet__item">Grabación de video 4K a 24 cps, 30 cps o 60 cps</li>
 *    <li class="list-bullet__item">Hasta 2 horas más de batería que el iPhone 7</li>
 *  </ul>
 */
.list-bullet {
  @include font-rem(14px);
  list-style: none;
}
.list-bullet__item {
  position: relative;
  left: 10px;
  line-height: 1.8;
  vertical-align: middle;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $c-default;
  }
}
