/*------------------------------------*\
	Component List Thumb
\*------------------------------------*/

/**
 * @molecule Tags en cápsula
 * @section Bloques
 * @markup
 *  <ul class="list-thumb">
 *     <li class="list-thumb__item">
 *         <input class="list-thumb__input" id="boll1" type="radio" checked="checked" name="bolls">
 *        <label class="list-thumb__boll" for="boll1">32 GB</label>
 *      </li>
 *      <li class="list-thumb__item">
 *        <input class="list-thumb__input" id="boll2" type="radio" name="bolls">
 *        <label class="list-thumb__boll" for="boll2">128 GB</label>
 *      </li>
 *      <li class="list-thumb__item">
 *        <input class="list-thumb__input" id="boll3" type="radio" name="bolls">
 *        <label class="list-thumb__boll" for="boll3">256 GB</label>
 *      </li>
 *   </ul>
 */

.list-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.list-thumb__item {
  position: relative;
  display: inline-flex;
  margin-bottom: 10px;
}

.list-thumb__circle {
  position: relative;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: $c-default-2;
  opacity: 0.3;
  transition: all 0.2s;
  cursor: pointer;
}

.list-thumb__circle_1 {
  background-color: $c-tag-1;
}

.list-thumb__circle_2 {
  background-color: $c-tag-2;
}

.list-thumb__circle_3 {
  background-color: $c-tag-3;
}

.list-thumb__circle_4 {
  background-color: $c-tag-4;
}

.list-thumb__circle_5 {
  background-color: $c-tag-5;
}

.list-thumb__ovals {
  position: relative;
  left: 0;
  display: inline-block;
  width: 26px;
  height: 15px;
  margin: 0 4px;
  border-radius: 7px;  
  transition: all 0.2s;
  cursor: pointer;
}

/**
 * @molecule Tags de color
 * @section Bloques
 * @markup
 *  <ul class="list-thumb">
 *    <li class="list-thumb__item">
 *     <input class="list-thumb__input" id="color1" type="radio" checked="checked" name="colors">
 *     <label class="list-thumb__circle list-thumb__circle_5" for="color1"></label>
 *    </li>
 *    <li class="list-thumb__item">
 *      <input class="list-thumb__input" id="color2" type="radio" name="colors">
 *      <label class="list-thumb__circle list-thumb__circle_1" for="color2"></label>
 *    </li>
 *    <li class="list-thumb__item">
 *      <input class="list-thumb__input" id="color3" type="radio" name="colors">
 *      <label class="list-thumb__circle list-thumb__circle_3" for="color3"></label>
 *    </li>
 *    <li class="list-thumb__item">
 *      <input class="list-thumb__input" id="color4" type="radio" name="colors">
 *      <label class="list-thumb__circle list-thumb__circle_4" for="color4"></label>
 *    </li>
 *  </ul>
 */

.list-thumb__boll {
  position: relative; //left: -8px;
  display: inline-block;
  min-width: 100px;
  padding: 14px;
  margin: 0 4px;
  text-align: center;
  border: 1px solid $c-default-3;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  &:hover {
    border: 1px solid $c-brand-2-hover;
  }
}

.list-thumb__input {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.list-thumb__txt {
  display: block;
  text-align: center;
  @include font-rem(14px);
  margin-bottom: $sp-xsmall;
}

.list-thumb__small {
  &:before {
    position: absolute;
    top: 3px;
    left: 18px;
    content: 'Desde';
    display: block;
    @include font-rem(12px);
    font-family: $f-light;
    text-align: left;
    line-height: 1;
  }
}

.list-thumb__input {
  &:checked+.list-thumb__circle {
    width: 64px;
    border-radius: 25px;
    opacity: 1;
  }
  &:checked+.list-thumb__boll {
    background-color: $c-brand_2;
    color: $c-neutro;
    font-family: $f-bold;
  }
}
// Estilos para  la malla
.list-thumb_color {
  .list-thumb__item {
    margin-bottom: 0;
  }
  .list-thumb__circle {
    width: 14px;
    height: 14px;
    opacity: 1;
  }
  .list-thumb__input {
    &:checked+.list-thumb__circle {
      width: 28px;
    }
  }
}
