/*------------------------------------*\
	Slider entre Contenido
\*------------------------------------*/

.main-slider {
  width: 100%;
  max-width: 320px;
  overflow: hidden;
  margin: 0 auto 24px 0;
}

//Class de JS slider
// .slideImg {
//   width: 450px;
//   min-height: 450px;
// }

.main-slider__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.main-slider__img {
  width: 100%;
}

@media (max-width: 350px) {
  .main-slider {
    max-width: 270px;
  }
}

//- $bp-small-m: 480px;
@include media-query(small-m) {
  .main-slider {
    max-width: 450px;
    margin: 0 auto 30px;
  }
}

//- $bp-medium: 768px;
@include media-query(medium) {
  .slideImg {
    width: 450px;
  }
  .main-slider {
    max-width: 450px;
  }
}
