/*------------------------------------*\
	Menu promocional
\*------------------------------------*/
.menu-promo {
  display: none;
}
// Media query desde 980px
@include media-query(wide) {
  .menu-promo {
    display: block;
    background-color: $c-brand;
  }

  .menu-promo__inner {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .menu-promo__list {
    @include flexbox;
    @include align-items(stretch);
    @include justify-content(space-between);
    padding: 10px 0;
    list-style: none;
  }

  .menu-promo__item {
    position: relative;
    @include align-self(center);
    width: 33%;
    text-align: center;
    font-family: $f-regular;
    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 24px;
        background-color: $c-neutro;
      }
    }
  }

  .menu-promo__link {
    @include flexbox;
    @include align-items(center);
    max-width: 188px;
    margin: 0 auto;
    color: $c-neutro;
    &:before {
      margin-right: 20px;
      @include font-rem(30px);
      text-decoration: none;
    }
  }
}