.nav-side {
  position: fixed;
  right: -270px;
  top: 0;
  z-index: 3;
  width: 270px;
  background-color: $c-neutro;
  border-radius: 4px;
  padding: $sp-small;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: right 1s;
  &:after {
    content:'';
    background-color: red;
    width: 100%;
    height: 100%;

  }
}

.nav-side__list {
  position: relative;
  max-height: 277px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  padding-right: 15px;
}

.nav-side__item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: $sp-xsmall 0;
  border-bottom: 1px solid $c-default-3;
}

.nav-side__cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-side__col {
  flex: 1 50% 50%;
  &:last-child {
    text-align: right;
  }
}

.nav-side__title {
  font-family: $f-bold;
  padding-bottom: $sp-xsmall;
}

.nav-side__title_sm {
  width: 100%;
  font-family: $f-regular;
  @include font-rem(14px);
}

.nav-side__fig {
  width: 100%;
  max-width: 40px;
  min-height: 60px;
  padding: 5px $sp-xsmall 0 0;
}

.nav-side__img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-side__txt {
  color: $c-brand;
  .txt_through {
    padding-right: 6px;
    color: $c-default-1;
  }
}

.nav-side__txt_brand {
  color: $c-brand-2;
  text-align: right;
}

.nav-side__link {
  padding: 0 0 5px 0;
  @include font-rem(12px);
  background-color: transparent;
}

.nav-side__foot {
  text-align: center;
}

.nav-side__close {
  position: absolute;
  right: 4px;
  top: 22px;
  @include font-rem(0px);
  background-color: transparent;
  &:before {
    @include font-rem(16px);
  }
}

//- max 767px
@media only screen and (max-width: 767px) {
  .nav-side__foot {
    padding-top: $sp-small;
  }
}

//Interacción con el nav-side

.js-slideToView {
  right: 0;
}

.js-slideOutofView {
  right: -280px;
}

