//- Bloque
.panel-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: $sp-small auto;
  padding: $sp-xsmall;
}

//- Estructura
.panel-tab__inner {
  display: block;
}

//- Estructura
.panel-tab__tab {
  position: relative;
  display: flex;
  padding: $sp-small;
  background-color: $c-neutro;
  color: $c-default;
  font-family: $f-bold;
  justify-content: space-between; //border-bottom: 1px solid $c-default-3;
  &:before {
    order: 2;
    transition: all .5s;
  }
  &.i-arrow-right {
    &:before {
      transform: rotate(90deg);
    }
  }
}

//- Estructura
.panel-tab__head {
  padding: $sp-small;
  background-color: $c-neutro;
  .panel-tab__txt {
    padding-bottom: $sp-xsmall;
  }
}

//- Estructura
.panel-tab__foot {
  background-color: $c-neutro;
  padding: $sp-small;
}

//- Elemento
.panel-tab__label {
  display: none;
}

//- Elemento
.panel-tab__input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4;
  @include font-rem(12px);
  font-family: $f-light;
  color: $c-default;
  border-radius: 4px;
  background-color: $c-default-4;
  margin-bottom: $sp-small;
}

//- Elemento
.panel-tab__btn {
  display: block;
  width: 100%;
  padding: 10px 14px;
}

//- Elemento
.panel-tab__link {
  display: block;
  margin: 0 auto;
  padding: $sp-small 0 0 $sp-xsmall;
}

//- Elemento
.panel-tab__txt {
  font-family: $f-regular;
}

//- Elemento
.panel-tab__bold {
  font-family: $f-bold;
  @include font-rem(24px);
}

//- Bloque
.panel-tab__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around; //- Elemento
  .panel-tab__link {
    @include font-rem(0px);
    padding: 0;
    &:before {
      display: block;
      @include font-rem(30px);
      color: $c-brand-2;
      transition: all .5s ease-in-out;
      transform: scale(1);
    }
    &:hover {
      &:before {
        transform: scale(1.2);
      }
    }
  }
}

//- Elemento
.panel-tab__item {
  width: 100%;
}

//- js slideToggle
//clase para girar flechita :)
.js-tabOpen {
  
}

.js-tabContent {
  display: none;
}

@include media-query(medium) {
  .panel-tab__inner {
    height: 100%;
  }
  .panel-tab__tab {
    padding: $sp-small 0 $sp-small;
    border-bottom: 1px solid $c-default-3;
    &:before {
      display: none;
    }
    &.panel-tab__not {
      display: none;
    }
  }
}
