.prefoot {
  border-top: 1px solid $c-default-3;
  padding: $sp-medium $sp-small;
  text-align: center;
}

.prefoot__title {
  padding-bottom: $sp-medium;
}

.prefoot__txt {
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.8;
}
