/*------------------------------------*\
  Opiniiones
\*------------------------------------*/

.tabs-pane__header {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-between);
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $c-default-2;
}

.tabs-pane__title {
  padding-right: 20px;
  @include font-rem(26px);
}

.tabs-pane__label {
  font-family: $f-regular;
  @include font-rem(18px);
}

.tabs-pane__small {
  display: inline-block;
  font-family: $f-regular;
  @include font-rem(14px);
  padding-bottom: 14px;
}

.tabs-pane__filter {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  padding-bottom: 40px;
  .rating {
    width: 100%;
    padding-top: 10px;
  }
}

.review__line {
  padding-bottom: 40px;
}

.review__title {
  padding-bottom: 8px;
  margin: 0;
  @include font-rem(20px);
}

.review__date {
  display: block;
  padding-bottom: 8px;
  @include font-rem(14px);
}

.review__author {
  padding: 20px 0;
  margin: 0;
  font-family: $f-bold;
  @include font-rem(14px);
}

.review__txt {
  padding-bottom: 16px;
  margin: 0;
  color: $c-default-1;
}

.form-reviews {
  max-width: 663px;
  margin: 0 auto;
  padding: 50px 0;
  .form__btn {
    margin: 0 auto;
    max-width: 270px;
  }
}

@include media-query(small-medium) {
  .tabs-pane__filter {
    @include justify-content(flex-end);
    .rating {
      width: initial;
      padding-left: 20px;
    }
  }
}

 /**
 * @molecule Rating Review
 * @section Formulario
 * @modifiers
 *   .form-rating Bloque
 *   .rating-views  Estrellas de views
 * @markup
 *   <div class="form__row rating"><span class="form__label">Valoración del Producto</span>
 *    <fieldset class="form-rating">
 *      <input id="ratingReviews5" type="radio" name="rating-views" value="5">
 *      <label class="form-rating__label i-star-comic" for="ratingReviews5" title="5 Estrellas"></label>
 *      <input id="ratingReviews4" type="radio" name="rating-views" value="4">
 *      <label class="form-rating__label i-star-comic" for="ratingReviews4" title="4 Estrellas"></label>
 *      <input id="ratingReviews3" type="radio" name="rating-views" value="3">
 *      <label class="form-rating__label i-star-comic" for="ratingReviews3" title="3 Estrellas"></label>
 *      <input id="ratingReviews2" type="radio" name="rating-views" value="2">
 *      <label class="form-rating__label i-star-comic" for="ratingReviews2" title="2 Estrellas"></label>
 *      <input id="ratingReviews1" type="radio" name="rating-views" value="1">
 *      <label class="form-rating__label i-star-comic" for="ratingReviews1" title="1 Estrella"></label>
 *     </fieldset>
 *   </div>
 */


// Media query desde 768px
@include media-query(medium) {
  .tabs-pane__header {
    @include align-items(flex-end);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $c-default-2;
  }

  .review__header {
    @include flexbox;
    @include justify-content(space-between);
  }

  .review {
    width: 88%;
    margin: 0 auto;
  }

  .tabs-pane__nav {
    @include flexbox;
    @include justify-content(space-between);
    padding-bottom: 70px;
  }

  .review__line {
    padding-bottom: 50px;
  }

  .review__title {
    padding-bottom: 12px;
    @include font-rem(24px);
  }

  .review__author {
    padding: 18px 0 30px;
  }

  .review__txt {
    padding-bottom: 30px;
  }
}
