.row-order {
  width: 100%;

}
.row-order__row {
  display: flex;
  justify-content: space-between;
  padding: 5px $sp-small;
  &:nth-child(odd){
    background-color: $c-default-3;
  }
}

.row-order__value {
  font-family: $f-bold;
}

// $bp-medium: 768px
@include media-query(medium) {}
