/*------------------------------------*\
	SLIDERS [CARDS] vitrina-prepago
\*------------------------------------*/

//Módulo
//[.js-slideCards]
.slider__cards {
  padding: $sp-small $sp-xsmall;
  margin: 0 auto;
  //- Bloque
  .card {
    outline: none;
    margin: 5px 10px;
  }
  .slick-list {
    margin: 0 auto;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    @include font-rem(0px);
    background-color: transparent;
    padding: 0;
    &:before {
      display: block;
      font-family: 'msmx-eshop' !important;
      @include font-rem(18px);
      color: $c-brand-2;
    }
  }
  .slick-prev {
    left: 8px;
    &:before {
      content: '\e935';
    }
  }
  .slick-next {
    right: 8px;
    &:before {
      content: '\e902';
    }
  }
}

@media only screen and (min-width: 680px) {
  //Módulo
  //[.js-slideCards]
  .slider__cards {
    .slick-prev {
      left: -14px;
    }
    .slick-next {
      right: -14px;
    }
  }
}

@include media-query(large) {}
