.slider-detail {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  .grid-slot {
    padding: 0;
    margin: $sp-xsmall;
  }
  .grid-slot__inner {
    padding-top: $sp-medium;
  }
}

//- Máscara marco del slider
.slider-detail__inner {
  width: 100%;
  padding: 0 $sp-small;
  overflow: hidden;
}

.slider-detail__list {
  width: 100%;
}

.slider-detail__controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  .slider__arrow.prev {
    margin-left: 0;
  }
  .slider__arrow.next {
    margin-right: 0;
  }
  .slider__arrow {
    &:before {
      color: $c-brand-2;
      @include font-rem(18px);
    }
  }
}

////// Slider Detail del Home SLIDER #3
.js-slideHome3 {
  .grid__slot {
    width: 100%;
    margin: 0;
  }
  .grid__img {
    margin: 0 auto;
  }
  .slick-slide {
    padding: 0 10px;
  }
}

@include media-query(wide) {
  .slider-detail {
    margin-bottom: 60px;
  }
}
