/*------------------------------------*\
	Slider showcase
\*------------------------------------*/

.product-suggested__inner {
  position: relative;
  max-width: 260px;
  margin: 0 auto;
}

.product-suggested {
  position: relative;
  padding: 30px 0;
}

.product-suggested__title {
  text-align: center;
  padding-bottom: 30px;
}

.product-suggested__subtitle {
  padding-bottom: 30px;
  text-align: center;
}

//-slider de Dispositivos
.slider-showcase {
  width: 100%;
  overflow: hidden;
}

.slider-showcase__list {
  width: 100%;
  list-style: none;
  &:before {
    content: " ";
    display: table;
  }
}

.slider-showcase__slot {
  // float: left;
  // margin: 0 10px;
  padding: 34px 0 16px;
  width: 226px;
  height: 100%;
  background-color: $c-neutro;
  &:not(:last-child) {
    margin-right: 0;
  }
  &:not(:first-child) {
    margin-right: 0;
  }
  &:focus {
    outline: none;
  }
}

.slider-showcase__title {
  margin: 0;
  @include font-rem(12px);
  font-family: $f-bold;
  text-transform: uppercase;
  color: $c-default;
}

.slider-showcase__img {
  width: 100%;
}

.slider-showcase__content {
  padding: 34px 14px 0;
  .rating {
    padding-bottom: 10px;
  }
  .rating__stars {
    padding: 0;
  }
}

.slider-showcase__link {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

// .slider-showcase__controls {
//   display: none;
// }

.slider-showcase__controls {
  position: absolute;
  @include flexbox;
  @include justify-content(space-between);
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider__arrow {
  display: block;
  line-height: 1;
  cursor: pointer;
  opacity: 1;
  background-color: transparent;
  transition: opacity .2s linear;
  &:before {
    @include font-rem(16px);
    color: $c-default-1;
  }
  &.prev {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: -30px;
  }
  &.next {
    margin-right: -30px;
  }
  &.disabled {
    opacity: .4;
    cursor: auto;
  }
}

.slider__arrow-txt {
  display: none;
}

@media only screen and (min-width: 420px) {
  .product-suggested__inner {
    max-width: 500px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 520px) {
  .slider-showcase__link {
    @include flexbox;
    @include align-items(center);
    @include font-rem(12px);
    @include justify-content(center);
    text-align: left;
    &.i-shopping-car {
      &:before {
        @include font-rem(20px);
      }
    }
  }
}
//- bp 768px
@include media-query(medium) {
  .product-suggested__inner {
    max-width: initial;
  }
}

@include media-query(wide) {
  .product-suggested__inner {
    position: relative;
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;
  }

  .slider-showcase__list {
    @include justify-content(space-between);
  }

  .slider-showcase__slot {
    width: 320px;
    padding: 50px 0 28px;
  }

  .slider-showcase__content {
    padding: 60px 34px 0;
  }

  .slider-showcase__title {
    @include font-rem(16px);
  }

  .slider__arrow {
    &.prev {
      margin-left: -50px;
    }
    &.next {
      margin-right: -50px;
    }
  }
}
