/*------------------------------------*\
    toggle switch
\*------------------------------------*/
.es-toggle-switch {
  display: flex;
  align-items: center;
}
.es-toggle-switch__txt {
  color: $grey-5;
  font-family: $f-regular;
  @include font-rem(18px);
  margin-right: 16px;
}
.es-toggle-switch__label {
  position: relative;
  display: block;
  height: 30px;
  width: 52px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
  
.es-toggle-switch__label {
  &:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  }
}
  
.es-toggle-switch__label:active:after {
  transform: scale(1.15, 0.85);
}

.es-toggle-switch__input {
  display: none;
}

.es-toggle-switch__input:checked~.es-toggle-switch__label {
  background: $c-brand-2;
}

.es-toggle-switch__input:checked~.es-toggle-switch__label:after {
  left: 24px;
  background: $c-neutro;
}

.es-toggle-switch__input:disabled~.es-toggle-switch__label {
  background: #d5d5d5;
  pointer-events: none;
}

.es-toggle-switch__input:disabled~.es-toggle-switch__label:after {
  background: #bcbdbc;
}