/**
 * @molecule Tooltip
 * @section Bloques
 * @markup
 *  <div class="tooltip">
 *    <figure class="tooltip__fig"><img class="tooltip__img" src="static/img/brands/brand-cloud.svg" alt="Cloud"></figure>
 *    <p class="tooltip__txt">Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.</p>
 *    <div class="tooltip__foot">
 *      <div class="tooltip__col"><small class="tooltip__txt-sm">Llévalo a</small>
 *        <p class="tooltip__txt-value">$100</p><span class="tooltip__bold">por mes</span>
 *      </div><a class="tooltip__btn btn btn__brand">Comprar</a>
 *    </div>
 *  </div>
 */
//Sólo para resolución mobile
@media only screen and (max-width:829px) {
  .tooltip {
    display: block;
    position: relative;
    max-width: 320px;
    margin: 10px auto;
    border: 1px solid $c-default-3;
    text-align: center;
    padding: $sp-small;
    background-color: $c-neutro;
    &:before {
      content: url(../img/triangulo.svg);
      display: block;
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .tooltip__fig {
    max-width: 120px;
    padding: $sp-small 0;
    display: block;
    margin: 0 auto;
  }
  .tooltip__img {
    display: block;
    margin: 0 auto;
  }
  .tooltip__txt {
    padding-bottom: $sp-small;
  }
  .tooltip__foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tooltip__col {
    width: 100%;
    text-align: left;
  }
  .tooltip__txt-sm {
    font-size: 100%;
    color: $c-default-1;
  }
  .tooltip__txt-value {
    @include font-rem(32px);
    font-family: $f-bold;
    line-height: 1;
  }
  .tooltip__bold {
    font-family: $f-bold;
    @include font-rem(22px);
  }
  .tooltip__btn {
    width: 100%;
  }
}


//Para ver en desktop
@media (min-width: 830px) {
  .tooltip {
    transition: all 1s;
    display: none;
    padding: $sp-small;
  }
  .tooltip__foot,
  .tooltip__fig {
    display: none;
  }
}
