/*------------------------------------*\
	Bloque Input Search
\*------------------------------------*/

/**
 * @molecule Txt Banner
 * @section Banners
 * @markup
 *  <div class="band_brand-1">
 *   <div class="txt-banner">
 *     <header class="txt-banner__head">
 *       <h4 class="txt-banner__title">Movistar, siempre a mano</h4>
 *       <h5 class="txt-banner__subtitle">Habla más por menos</h5>
 *     </header>
 *     <ul class="box-banner">
 *       <li class="box-banner__item"><a class="box-banner__card" href="/" title="Ir a recargas"><span class="box-banner__txt i-cell-money">Recargas</span></a></li>
 *       <li class="box-banner__item"><a class="box-banner__card" href="/" title="Ir a Chat"><span class="box-banner__txt i-chat-comic">Chat con Nikko</span></a></li>
 *       <li class="box-banner__item"><a class="box-banner__card" href="/" title="Ir a Cobertura 4G"><span class="box-banner__txt i-cell-4g">Conoce la Cobertura 4G</span></a></li>
 *       <li class="box-banner__item"><a class="box-banner__card" href="/" title="Ir a App Movistar"><span class="box-banner__txt i-download">Descarga la App Movistar</span></a></li>
 *     </ul>
 *    </div>
 *   </div>
 */

.txt-banner {
  color: $c-neutro;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: $sp-wide 0;
  text-align: center;
  font-family: $f-light;
}

.txt-banner__box {
  padding-bottom: $sp-medium;
  @include font-rem(18px);
}

.txt-banner__head {
  padding-bottom: $sp-medium;
}

.txt-banner__title {
  @include font-rem(32px);
}

.txt-banner__subtitle {
  @include font-rem(24px);
}

.txt-banner__txt {
  display: block;
  max-width: 350px;
  line-height: 1.6;
  margin: 0 auto;
}

.txt-banner__txt-xl {
  display: block;
  @include font-rem(60px);
  font-family: $f-regular;
}

.txt-banner__txt-sm {
  @include font-rem(24px);
  font-family: $f-regular;
}

.txt-banner__txt-strong {
  display: block;
  font-family: $f-regular;
  padding-bottom: $sp-small;
}

//- $bp-medium: 768px;
@include media-query(medium) {
  .txt-banner {
    display: table;
  }
  .txt-banner__head {
    padding-top: $sp-wide;
    display: table-caption;
  }
  .txt-banner__title {
    @include font-rem(40px);
  }
  .txt-banner__box {
    display: table-cell;
  }
}
