//footer Site
footer.band_inner.foot
  .foot__head
    img.foot__img(src='static/img/brand-telefonica.svg', alt='Telefónica')
  .foot__cont
    ul.foot__list
      li.foot__title
        button.js-footBtn.js-footItemClose.foot__btn.i-a-arrow-right  Sobre
        ul.foot__sublist
          li.foot__subitem
            a.foot__link(href='#', title='Quienes somos') Quienes Somos
          li.foot__subitem
            a.foot__link(href='#', title='Información para clientes') Información para clientes
          li.foot__subitem
            a.foot__link(href='#', title='Aviso de privacidad') Aviso de privacidad
          li.foot__subitem
            a.foot__link(href='#', title='Fundación telefónica') Fundación telefónica
          li.foot__subitem
            a.foot__link(href='#', title='Personas con discapacida') Personas con discapacidad
          li.foot__subitem
            a.foot__link(href='#', title='Contrato de adhesión Móvil') Contrato de adhesión Móvil
          li.foot__subitem
            a.foot__link(href='#', title='Dialogando') Dialogando
          li.foot__subitem
            a.foot__link(href='#', title='Soluciones a empresas') Soluciones a Empresas
          li.foot__subitem
            a.foot__link(href='#', title='Atención a Clientes') Atención a Clientes
          li.foot__subitem
            a.foot__link(href='#', title='Factura Electrónica') Factura Electrónica
          //- li.foot__subitem
          //-   a.foot__link(href='#', title='Soluciones a Empresas') Soluciones a Empresas
      li.foot__title
        button.js-footBtn.js-footItemClose.foot__btn.i-a-arrow-right Teléfonos
        ul.foot__sublist
          li.foot__subitem
            a.foot__link(href='#', title='Iphone X') Iphone X
          li.foot__subitem
            a.foot__link(href='#', title='Samsung S9') Samsung S9
          li.foot__subitem
            a.foot__link(href='#', title='Tienda en Línea') Tienda en Línea
          li.foot__subitem
            a.foot__link(href='#', title='Accesorios') Accesorios
          //- li.foot__subitem
          //-   a.foot__link(href='#', title='México') México
      li.foot__title
        button.js-footBtn.js-footItemClose.foot__btn.i-a-arrow-right Planes
        ul.foot__sublist
          li.foot__subitem
            a.foot__link(href='#', title='Cámbiate a Movistar') Cámbiate a Movistar
          li.foot__subitem
            a.foot__link(href='#', title='Contrata un plan Movistar') Contrata un plan Movistar
          li.foot__subitem
            a.foot__link(href='#', title='Quienes somos') Planes con equipo en México
      li.foot__title
        button.js-footBtn.js-footItemClose.foot__btn.i-a-arrow-right Ayuda
        ul.foot__sublist
          li.foot__subitem
            a.foot__link(href='#', title='Mi Movistar') Mi Movistar
          li.foot__subitem
            a.foot__link(href='#', title='Preguntas Frecuentes') Preguntas Frecuentes
          li.foot__subitem
            a.foot__link(href='#', title='Centros de Atención') Centros de Atención
          li.foot__subitem
            a.foot__link(href='#', title='Atención en línea') Atención en línea
          li.foot__subitem
            a.foot__link(href='#', title='¿Qué hacer si perdí mi celular?') ¿Qué hacer si perdí mi celular?
          li.foot__subitem
            a.foot__link(href='#', title='Cobertura Movistar') Cobertura Movistar
      li.foot__title.foot-ico__title
        strong.foot-ico__txt Síguenos en
        ul.foot__sublist.foot-ico__list
          li.foot-ico__item
            a.foot-ico__link.i-facebook-circle(href='#', title='Ir a Facebook') Facebook
          li.foot-ico__item
            a.foot-ico__link.i-twitter-circle(href='#', title='Ir a Twitter') Twitter
          li.foot-ico__item
            a.foot-ico__link.i-youtube-circle(href='#', title='Ir a YouTube') YouTube
        ul.foot__sublist.foot-logos__list
          li.foot-logos__item
            figure.foot-logos__group
              img.foot-logos__img.foot-logos__img_brand(src="static/img/logo-small.png", alt="Mi Movistar")
              figcaption.foot-logos__caption Descarga la App Mi Movistar
          li.foot-logos__item.foot-logos__item_inline
            a.foot-logos__link(href="#", title="Descargar en App Store")
              img.foot-logos__img.foot-logos__img_store(src="static/img/logo-store-1.png", alt="App Store")
          li.foot-logos__item.foot-logos__item_inline
            a.foot-logos__link(href="#", title="Descargar en App Store")
              img.foot-logos__img.foot-logos__img_store(src="static/img/logo-store-2.png", alt="Google Play")
    ul.foot__list.foot-sponsors__list
      li.foot-sponsors__item
        ul.foot-sponsors__sublist
          li.foot-sponsors__subitem
            span.foot-sponsors__title Patrocinador Oficial de la NFL
            .foot-sponsors__group
              img.foot-sponsors__img(src="static/img/foot-logo-1.jpg", alt="Logo Movistar")
              img.foot-sponsors__img(src="static/img/foot-logo-2.jpg", alt="Logo Movistar")
          li.foot-sponsors__subitem
            span.foot-sponsors__title Patrocinador Oficial de la Selección Nacional de México
            .foot-sponsors__group
              img.foot-sponsors__img(src="static/img/foot-logo-3.jpg", alt="Logo Movistar")
              img.foot-sponsors__img(src="static/img/foot-logo-1.jpg", alt="Logo Movistar")
      li.foot-sponsors__item.foot-sponsors__item_big
        ul.foot-sponsors__sublist.foot-sponsors__sublist_border
          li.foot-sponsors__subitem
            img.foot-sponsors__img(src="static/img/foot-logo-4.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-5.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-6.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-7.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-8.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-9.jpg", alt="Logo Movistar")
            img.foot-sponsors__img(src="static/img/foot-logo-10.jpg", alt="Logo Movistar")


