head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title #{varTitle}
  meta(name='description', content=varDescription)
  meta(name='author', content=varAuthor)

  //responsive
  meta(name='viewport', content='width=device-width, initial-scale=1')

  //favicon
  link(rel='apple-touch-icon', sizes='180x180', href='static/favicon/apple-touch-icon.png')
  link(rel='icon', href='favicon.ico')
  link(rel='icon', type='image/png', sizes='32x32', href='static/favicon/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='static/favicon/favicon-16x16.png')
  link(rel='manifest', href='static/favicon/site.webmanifest')
  link(rel='mask-icon', href='static/favicon/safari-pinned-tab.svg', color='#5BC500')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='theme-color', content='#5BC500')

  link(rel='stylesheet', href="static/css/vendor/slick.css")
  link(rel='stylesheet', href="static/css/vendor/animate.css")
  link(rel='stylesheet', href="static/css/vendor/asRange.css")
  link(rel='stylesheet', href="static/css/vendor/flatpickr.min.css")
  link(rel='stylesheet', href="static/css/vendor/confirmDate.css")
  //style theme
  link(rel='stylesheet', href="static/css/main.css")

  //Feature detection to allow you to easily tailor your user's experiences based on the actual capabilities of their browser.
  script(src='static/js/vendor/modernizr-2.8.3.min.js')
