//- Menu general
nav.head-gral__cell.menu-gral
  //- botón Hamburguesa (Sólo Móvil) => Acciona el slidedown
  button.menu-gral__burger.js-menuClose(type='button')
    span.burguer
      span.burguer_txt Menú
  //- Menú General
  ul.menu-gral__list.js-menuClose
    li.menu-gral__item.js-menuGralClose
      //-[Item]: Link de menú general para móvil con fondo azul
      button.menu-gral__link.js-menuGralBtn.i-arrow-right Productos y servicios
      //- Submenú General 1
      ul.submenu-gral__list
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Planes prepago') Planes prepago
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Prepago') Prepago
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Cámbiate a Movistar') Cámbiate a Movistar
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Internet para casa') Internet para casa
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Roaming Internacional') Roaming Internacional
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Servicios para celulares') Servicios para celulares
    li.menu-gral__item.js-menuGralClose
      //-[Item]: Link de menú general para móvil con fondo azul
      button.menu-gral__link.js-menuGralBtn.i-arrow-right Tienda
      //- Submenú General 2
      ul.submenu-gral__list
        li.submenu-gral__item
          a.submenu-gral__link.link(href='malla.html', title='Smartphones') Smartphones
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Promociones en línea') Promociones en línea
    li.menu-gral__item.js-menuGralClose
      //-[Item]: Link de menú general para móvil con fondo azul
      button.menu-gral__link.js-menuGralBtn.i-arrow-right Atención al cliente
      //- Submenú General 3
      ul.submenu-gral__list
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Centros de Atención al cliente') Centros de Atención al cliente
        li.submenu-gral__item
          a.submenu-gral__link.link(href='#', title='Cobertura') Cobertura
