// Site Main Menu
nav.menu.head__item
  ul.menu__list
    li.menu__item
      a.menu__link.i-cell.active(href='malla.html', title='Teléfonos') Teléfonos
    li.menu__item
      a.menu__link.i-cell-voice(href='#', title='Planes') Planes
    li.menu__item
      a.menu__link.i-house(href='#', title='Hogar') Hogar
    li.menu__item
      a.menu__link.i-cell-reload(href='#', title='Renovaciones') Renovaciones
    li.menu__item
      a.menu__link.i-cell-favorite(href='#', title='Promociones') Promociones
    li.menu__item
      a.menu__link.i-cell-recharge(href='#', title='Recargas') Recargas
