//- Menu tabs
nav.menu-tabs
  //-span.menu-tabs__active.i-a-arrow-down.i-cell-recharge Recarga
  ul.menu-tabs__list
    li.menu-tabs__item
      a.menu-tabs__link.i-user.i-a-arrow-back.js-menuLogin(href='#', title='Mi movistar') Iniciar sesión
      //- button.menu-tabs__btn.js-menuLogin.i-arrow-back Abrir
      ul.submenu-tabs__list.js-menuLoginClose
        li.submenu-tabs__item
          a.submenu-tabs__link(href='#', title='Link') Mi Movistar
        li.submenu-tabs__item
          a.submenu-tabs__link(href='#', title='Link') Mi Tienda
    li.menu-tabs__item
      a.menu-tabs__link.i-a-cell-recharge(href='#', title='Recargas') Recarga
