//- ban = banner [uso de prefijo ban evitar bloquers]
.ban-window {
    position: relative;
    display: flex;
    max-width: 380px;
    min-height: 570px;
    align-content: flex-end;
    margin: 0 0 0 auto;
    overflow: hidden;
  }
  
  .ban-window__mask {
    position: relative;
        margin: 0 auto;
  }
  
  .ban-window__crop {
    z-index: 1;
  }
  
  //.ban-window__img {}
  .ban-window__svg {
    position: absolute;
    top: -595px;
    left: -281px;
    z-index: -1; // top: -700px;
    // left: -107px;
  }
  
  .ban-window__txt {
    text-align: right;
    color: $c-neutro;
    font-family: $f-light;
    @include font-rem(30px);
    padding: 0 $sp-small $sp-small $sp-small;
  }
  
  .ban-window__btn {
    width: 100%;
    max-width: 90%;
    margin: $sp-small auto $sp-medium;
  }
  
  .ban-window__info {
    position: absolute;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  .ban-window__img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  
  //- Medium 768px
  @include media-query(medium) {
    .ban-window {
      max-width: 100%;
      display: flex;
      align-content: flex-end;
      min-height: 370px;
    }
    .ban-window__mask {
      margin: initial;
      width: 50%;
    }
    .ban-window__info {
      min-height: 370px;
      max-width: 50%;
      margin: 0 0 0 auto;
      //right: 0;
      @include justify-content(center);
    }
    .ban-window__txt {
      @include font-rem(25px);
      padding: 0 $sp-small 0 $sp-small;
      margin: 0 0 0 auto;
      max-width: 250px;
    }
    .ban-window__btn {
      width: 100%;
      max-width: 135px;
      margin: $sp-small $sp-small $sp-medium auto;
      padding: 8px;
    }
    .ban-window__svg {
      top: -785px;
      left: 83px;
    }
    .ban-window__img {
      width: 90%;
    }
  }

  //- Wide 1024px
  @include media-query(wide) {
    .ban-window {
      height: 650px;
    }
    .ban-window__mask {
      width: 50%;
    }
    .ban-window__info {
      max-width: 100%;
      width: 50%;
    }
    .ban-window__txt {
      @include font-rem(50px);
      max-width: 300px;
    }
    .ban-window__img {
      margin-top: 6rem;
      width: 90%;
    }
    .ban-window__svg {
      position: absolute;
      top: -652px;
      left: 202px;
    }
  }

  //- large 1180px
  @include media-query(large) {
    .ban-window__txt {
      @include font-rem(50px);
      max-width: 350px;
    }
    .ban-window__img {
      width: 80%;
    }
    .ban-window__svg {
      position: absolute;
      top: -650px;
      left: 280px;
    }
  }
  
  //- Wide 1280px
  @include media-query(big) {
    .ban-window__info {
      max-width: 100%;
    }
    .ban-window__img {
      margin-top: 6rem;
      width: 70%;
    }
    .ban-window__svg {
      position: absolute;
      top: -650px;
      left: 400px;
    }
  }
  