//- ban = banner [uso de prefijo ban evitar bloquers]
.ban-publi {
  position: relative;
  display: flex;
  max-width: 380px;
  min-height: 570px;
  align-content: flex-end;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.ban-publi__mask {
  position: relative;
      margin: 0 auto;
}

.ban-publi__crop {
  z-index: 1;
}

//.ban-publi__img {}
.ban-publi__svg {
  position: absolute;
  top: -610px;
  left: -250px;
  z-index: 2;
  transform: rotate(-15deg);
}

.ban-publi__txt {
  text-align: right;
  color: $c-neutro;
  padding: 0 $sp-small $sp-small $sp-small;
}

.ban-publi__title {
  font-family: $f-light;
  @include font-rem(40px);
  margin-bottom: 32px;
}

.ban-publi__info {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 3;
}

.ban-publi__img {
  display: block;
  margin: 0 auto;
  min-width: 100%;
}

//- Medium 768px
@include media-query(medium) {
  .ban-publi {
    max-width: 100%;
    display: flex;
    align-content: flex-end;
    min-height: 370px;
  }
  .ban-publi__mask {
    margin: initial;
    width: 50%;
  }
  .ban-publi__info {
    min-height: 370px;
    max-width: 50%;
    margin: 0 0 0 auto;
    padding-bottom: 40px;
  }
  .ban-publi__txt {
    @include font-rem(25px);
    padding: 0 $sp-small 0 $sp-small;
    margin: 0 0 0 auto;
    max-width: 250px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ban-publi__subtitle {
    font-family: $f-light;
    @include font-rem(16px);
  }
  .ban-publi__svg {
    top: -652px;
    left: 0px;
    transform: rotate(0);
    transform: rotateY(-10deg);
  }
}

//- Wide 1024px
@include media-query(wide) {
  .ban-publi {
    height: 650px;
  }
  .ban-publi__mask {
    width: 100%;
  }
  .ban-publi__info {
    max-width: 100%;
    width: 50%;
  }
  .ban-publi__txt {
    @include font-rem(64px);
    max-width: 300px;
    padding: 0 40px 0 20px;
  }
  .ban-publi__svg {
    position: absolute;
    top: -652px;
    left: 202px;
  }
}

//- large 1180px
@include media-query(large) {
  .ban-publi__txt {
    @include font-rem(50px);
    max-width: 350px;
  }
  .ban-publi__svg {
    position: absolute;
    top: -650px;
    left: 280px;
  }
}

//- Wide 1280px
@include media-query(big) {
  .ban-publi__info {
    max-width: 100%;
  }
  .ban-publi__svg {
    position: absolute;
    top: -650px;
    left: 400px;
  }
}
