.ban-fullimage {
  display: flex;
  min-height: 910px;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 200%;
  background-image: url('../img/demo/fullimage.jpg');
}

.ban-fullimage__info {
  padding: 0 $sp-medium;
}

.ban-fullimage__title {
  color: $c-brand-2;
  font-family: $f-light;
  line-height: .8;
  @include font-rem(64px);
  padding-bottom: $sp-medium;
}

.ban-fullimage__subtitle {
  font-family: $f-bold;
  @include font-rem(20px);
  padding-bottom: $sp-xsmall;
}

.ban-fullimage__txt {
  padding-bottom: $sp-small;
}

.ban-fullimage__btn {
  display: none;
}

//- Bp 768px
@include media-query(medium) {
  .ban-fullimage {
    min-height: 640px;
    max-width: 100%;
    align-items: flex-start;
    background-position-x: 200px;
    background-position-y: 10px;
    background-size: cover;
  }
  .ban-fullimage__info {
    max-width: 60%;
  }
  .ban-fullimage__btn {
    display: block;
    max-width: 240px;
    padding: 10px 8px;
  }
}

//- Bp 1024px
@include media-query(wide) {
  .ban-fullimage__info {
    max-width: 50%;
    padding-left: 8%;
  }
  .ban-fullimage {
    background-size: contain;
    background-position-x: 290px;
    background-position-y: top;
  }
}

//- Bp 1180px
@include media-query(large) {
  .ban-fullimage {
    background-position-x: right;
    background-position-y: top;
  }
}
