.ban-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

//-Bloque banner cuadrado
.ban-square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 300px;
  max-width: 460px;
  width: 100%;
  margin: 0 auto $sp-small;
}
.ban-square__crop {
  overflow: hidden;
  margin: 0 auto;
}
.ban-square__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 40%;
  font-family: $f-light;
  color: $c-neutro;
  padding-right: $sp-small;
}

.ban-square__title {
  @include font-rem(36px);
  &:before {
    display: block;
    text-align: center;
  }
}

.ban-square__txt {
  padding-bottom: $sp-small;
}

.ban-square__link {
  color: $c-neutro;
  text-decoration: underline;
}

//-bp medium 480px
@include media-query(small-m) {
  .ban-square__title {
    @include font-rem(40px);
  }
  .ban-square__info {
    width: 40%;
  }
}

//-bp medium 768px
@include media-query(medium) {
  .ban-group {
    display: flex;
    flex-direction: row;
  }
  .ban-square {
    margin: 0 auto;
    max-width: 625px;
  }
  .ban-square {
    &:first-child {
      margin-right: 20px;
    }
  }
}

//-bp medium 1024px
@include media-query(wide) {
  .ban-square {
    min-height: 500px;
  }
}
