.box-ico {
  padding: $sp-wide $sp-small 0;
  text-align: center;
}
.box-ico__txt {
  padding-bottom: $sp-small;
  max-width: 500px;
  margin: 0 auto;
  &:before {
    display: block;
    @include font-rem(60px);
    color: $c-caution;
    padding-bottom: $sp-small;
  }
}
.board__btn {

}
