/*------------------------------------*\
    Pasos de carrito de compras
\*------------------------------------*/

.cart-steps__title {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

.cart-steps__grid {
  @include flexbox;
  margin-bottom: 30px;
  counter-reset: section;
}

.cart-steps__item {
  position: relative;
  @include align-self(center);
  width: 25%;
  margin: 0;
  padding: 10px;
  text-align: center;
  @include font-rem(10px);
  font-family: $f-regular;
  &:after {
    content: counter(section);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    counter-increment: section;
    color: $c-default-2;
    opacity: .2;
    font-family: $f-bold;
    @include font-rem(60px);
  }
  &:not(:first-child) {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -ms-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      display: block;
      width: 14px;
      height: 1px;
      background-color: $c-default-2;
    }
  }
  &.cart-steps__item_active {
    color: $c-brand-2;
    &:before {
      background-color: $c-brand-2;
    }
  }
}

.cart-steps__item_active {
  &:after{
    color: $c-brand-2;
  }
}
@include media-query(small-medium) {
  .cart-steps__grid {
    width: 90%;
    margin: 0 auto 40px;
  }

  .cart-steps__item {
    &:not(:first-child) {
      &:before {
        width: 20px;
      }
    }
  }
}

@include media-query(medium) {
  .cart-steps__grid {
    min-height: 70px;
    margin-bottom: 50px;
  }
  .cart-steps__item {
    @include font-rem(16px);
    &:after {
      @include font-rem(100px);
    }
    &:not(:first-child) {
      &:before {
        width: 22px;
      }
    }
  }
}

@include media-query(wide) {
  .cart-steps__grid {
    min-height: 160px;
    padding: 30px 0;
    margin-bottom: 50px;
    border-top: 1px solid $c-default-6;
    border-bottom: 1px solid $c-default-6;
  }
  .cart-steps__item {
    @include font-rem(20px);
    &:after {
      @include font-rem(150px);
    }
    &:not(:first-child) {
      &:before {
        width: 50px;
      }
    }
  }
}
