.card-brand {
  background-color: #fff;
  margin-top: 40px;
  &__inner {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__item {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 20px;
    text-align: center;
    &_left {
      background-color: $blue;
    }
    &_right {
      background-color: $green;
    }
  }
  &__icon {
    @include font-rem(60px);
  }
  &__title {
    @include font-rem(40px);
    line-height: 1;
    margin-bottom: 1rem;
  }
  &__description {
    @include font-rem(16px);
  }

  //- Medium 768px
  @include media-query(medium) {
    &__inner {
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      flex: 1 1 calc(50% - 30px);
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
  }

  //- Wide 1024px
  @include media-query(wide) {
    &__inner {
      max-width: 95vw;
    }
    &__info {
      display: flex;
      align-items: center;
      max-width: 420px;
      margin: 20px auto;
    }
    &__item {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
    &__icon {
      margin-right: 2rem;
    }
  }
}