/**
 * Tener en cuenta:
 * La clase .styleguide **sólo** es se usa en la guía de estilos.
 * @molecule Modal
 * @section Bloques
 * @markup
 *   <div class="styleguide">
 *     <div class="modal__box">
 *       <button class="modal__close i-x">Cerrar</button>
 *       <img class="modal__img" src="../dist/static/img/m-movistar-green.svg" alt="App Store">
 *       <h3 class="modal__title">Alerta</h3>
 *       <p class="modal__txt">No podrás comprar más de 5 productos del mismo tipo.</p>
 *       <button class="modal__btn btn btn__brand">Comprar otros productos</button>
 *     </div>
 *   </div>
 */

// Modificador  para cada color
$colorList: ( ok: $c-ok, warning: $c-warning, caution: $c-caution);
@each $name-color,
$bgcolor in $colorList {
  .card-ico__#{$name-color} {
    background-color: $bgcolor;
  }
  .card-top__#{$name-color} {
    color: $bgcolor;
  }
}

//-Bloque Alerta
.card-ico {
  color: $c-neutro;
  text-align: center;
  padding: $sp-medium $sp-small;
}

.card-ico__title {
  @include font-rem(36px);
  line-height: 1;
  padding-bottom: $sp-small;
  &:before {
    display: block;
    @include font-rem(90px);
    padding-bottom: $sp-small;
  }
}

.card-ico__txt {
  @include font-rem(20px);
}

// Media query desde 768px
@include media-query(medium) {
  .card-ico__title {
    @include font-rem(43px);
  }
}
// Media query desde 1024px
@include media-query(wide) {
  .card-ico__title {
    @include font-rem(50px);
  }
}
