/*------------------------------------*\
	CARDS
\*------------------------------------*/

//- Bloque
.card {
  width: 100%;
  margin: 0 auto;
  border: 1px solid $c-default-4;
  background-color: $c-neutro;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

//- Tamaño de Bloque
// .card_sm {
//   max-width: 290px;
// }

//- Estructura
.card__header {
  position: relative;
  text-align: center;
  border-top: 3px solid $c-brand;
  background-color: $c-brand-2;
}

//- Estructura
.card__content {
  padding: 0 $sp-small;
}

//- Estructura
.card__foot {
  padding: 0 $sp-small $sp-small;
}

//- Estructura
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100px;
  padding: 12px 0;
  text-align: center;
  border-bottom: 1px solid $c-default-4;
  &:last-child {
    border-bottom: none;
  }
}

//- Estructura
.card__grid {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

//- Elemento
.card__title {
  padding: $sp-medium $sp-xsmall;
  color: $c-neutro;
  font-family: $f-default;
  @include font-rem(30px);
}

//- Elemento
.card__tag {
  position: absolute;
  top: -10px;
  left: 50%;
  min-width: 140px;
  padding: 2px;
  color: $c-neutro;
  border-radius: 10px;
  @include font-rem(14px);
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
  background-color: $c-brand;
}

//- Modificador
.card__tag_magenta {
  background-color: $c-tag-1_l;
}

//- Elemento
.card__subtitle {
  padding-bottom: 5px;
  margin: 0;
  font-family: $f-regular;
  @include font-rem(14px);
  color: $c-default-6;
}

//- Elemento
.card__ico {
  padding: 0 12px;
  @include font-rem(0px);
  &:before {
    @include font-rem(23px);
    color: $c-default;
  }
}

//- Elemento
.card__txt {
  @include font-rem(18px);
  font-family: $f-regular;
  margin: 0;
}

//- Elemento
.card__img {
  margin: 0 $sp-xsmall;
  max-width: 24px;
}

//- Elemento
.card__btn {
  display: block;
  width: 100%;
}

//- bp-medium 768px
@include media-query(medium) {
  //- Elemento
  .card__title {
    @include font-rem(36px);
  }
}

//- bp-medium 1024px
@include media-query(wide) {
  //- Elemento
  .card__title {
    @include font-rem(42px);
  }
}

//- bp-medium 1280px
@include media-query(big) {
  //- Elemento
  .card__title {
    @include font-rem(50px);
  } //- Elemento
  .card__txt {
    @include font-rem(22px);
  }
}

/*------------------------------------*\
    CARD-RADIO
\*------------------------------------*/

// Radio Buttons Card
.card-radio {
  min-width: 210px;
  margin: 5px;
  padding-bottom: $sp-small;
}

.card-radio__title {
  display: inline-block;
  padding-bottom: $sp-xsmall;
}

.card-radio__list {
  list-style: none;
}

.card-radio__item {
  display: block;
  padding: $sp-xsmall 0;
}

.card-radio__input {
  opacity: 0;
  &:checked+.card-radio__label {
    &:before {
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
    &:after {
      width: 14px;
      height: 14px;
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
  }
}

.card-radio__label {
  position: relative;
  left: 20px;
  vertical-align: middle;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -35px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $c-brand-2;
    background-color: $c-neutro;
  }
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    transform: scale(0);
    border-radius: 50%;
    background-color: $c-brand-2;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
}

/**
 * @molecule Card Box
 * @section Bloques
 * @modifiers
 *  .card-box__grid Grid de posiciones de los Radiobuttons
 *  .card-box__slot Label del Radio Button
 * @markup
 *   <div class="card-box__grid">
 *     <label class="card-box__slot" for="recharge1"><span class="card-box__txt-xl">3000 MB</span><small class="card-box__txt-sm">$60</small>
 *       <ul class="card-box__list">
 *         <li class="card-box__item">Minutos y SMS ilimitados</li>
 *         <li class="card-box__item">Whatsapp Ilimitado</li>
 *         <li class="card-box__item">Vigencia 30 días</li>
 *       </ul><a class="card-box__link link__brand" href="#" title="Ver más información" style="display: none;">Ver más información</a>
 *     </label>
 *     <input type="radio" name="recharge" value="recharge1">
 *   </div>
 */

/*------------------------------------*\
    CARD-BOX
\*------------------------------------*/

// Box card
.card-box,
.card-box__slot {
  display: block; // min-width: 210px;
  padding: $sp-small;
  border: 1px solid $c-default-3;
  border-radius: 4px;
  margin: 5px;
}

.card-box__slot {
  padding: $sp-xsmall;
}

.card-box__txt-xl {
  @include font-rem(32px);
  font-family: $f-light;
  vertical-align: middle;
  padding-top: $sp-xsmall;
}

.card-box__txt-sm {
  display: inline-block;
  color: $c-brand-2;
  @include font-rem(18px);
  font-family: $f-bold;
  vertical-align: middle;
  padding-left: $sp-xsmall;
  padding-bottom: $sp-xsmall;
}

.card-box__list {
  list-style: none;
}

.card-box__item {
  display: block;
  padding-bottom: 8px;
  @include font-rem(14px);
}

.card-box__link {
  display: block;
  width: 80%;
  text-align: center;
}

/*--Bloque card-box Radio button---*/

.card-box__input {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  &:checked+.card-box__slot {
    //transition: all 0.3s;
    border: 2px solid $c-brand-2;
    position: relative;
    &:after {
      position: absolute;
      top: 22px;
      left: -9px;
      display: block;
      content: '\e939';
      font-family: 'msmx-eshop' !important;
      @include font-rem(18px);
      color: $c-brand-2;
    }
    &:before {
      position: absolute;
      top: 26px;
      left: -7px;
      display: block;
      content: '';
      width: 14px;
      height: 14px;
      background-color: $c-neutro;
      border-radius: 50%;
    }
    .card-box__txt-xl {
      color: $c-brand-2;
      font-family: $f-default;
    }
  }
}

/*--Label card-box Radio button [step 2 board-tabs.pug]---*/

.card-box__slot {
  // max-width: 250px;
  margin: 0 auto;
  background-color: $c-neutro;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  .card-box__txt-xl,
  .card-box__txt-sm {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
  .card-box__txt-sm {
    width: 30%;
    text-align: right;
  }
  .card-box__txt-xl {
    width: 69%;
    padding-bottom: $sp-xsmall;
  }
}

// $bp-small-medium : 640px;
@include media-query(small-medium) {
  .card-box__slot {
    max-width: 300px;
  }
}
