.data-sheet {
  display: block;
  max-width: 380px;
  text-align: center;
}

//- Formulario del buscador
.data-sheet__form {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: $sp-medium $sp-xsmall;
}

//- Caja organizadora
.data-sheet__grid {
  display: flex;
  align-content: stretch;
}

//- Input del buscador
.data-sheet__input {
  width: 90%;
  padding: 8px;
  line-height: 1.4;
  font-family: $f-regular;
  text-align: left;
  color: $c-default-1;
  background-color: $c-default-4;
  border-radius: 4px 0 0 4px;
}

//- Label
.data-sheet__label {
  font-family: $f-light;
  padding-bottom: $sp-xsmall;
  text-align: left;
}

//- BTN del buscador
.data-sheet__btn {
  width: 44px;
  color: $c-neutro;
  @include font-rem(0px);
  border-radius: 0px 4px 4px 0px;
  background-color: $c-brand-2;
  transition: all 0.2s linear;
  &:hover {
    background-color: $c-brand-2-hover;
  }
  &:before {
    @include font-rem(16px);
  }
}

//- Información
.data-sheet__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 204px;
  padding: $sp-medium $sp-xsmall;
}

//- Boton de comprar
.data-sheet__btn2 {
  display: block;
  width: 100%;
}

//- Texto verde
.data-sheet__value {
  font-family: $f-light;
  @include font-rem(18px);
  color: $c-brand;
  padding-bottom: $sp-small;
}

//- cuerpo de datos
.data-sheet__specs {
  text-align: left;
}

//- Filas cons bordes
.data-sheet__row {
  min-height: 59px;
  border-bottom: 1px solid $c-default-3;
  padding: 6px 0 6px $sp-xsmall;
  &:first-child {
    border-top: 1px solid $c-default-3;
  }
}

//- Link
.data-sheet__link {
  color: $c-brand-2;
  transition: all 0.2s linear;
  display: flex;
  align-items: baseline;
  justify-content: left;
  padding: $sp-xsmall 0 $sp-xsmall $sp-xsmall;
  &:before {
    @include font-rem(10px);
    order: 2;
    padding-left: 4px;
  }
}

//- Crop de la imagen
.data-sheet__fig {
  overflow: hidden;
  min-height: 206px;
  max-height: 206px;
  width: 100%;
}

//- Imagen
.data-sheet__img {
  width: auto;
}

//- Slots de terminales
.data-pack__slot {
  &:last-child {
    display: none;
  }
}

//-------- Slide up de Buscar -----//
.data-sheet__list {
  position: absolute;
  top: 100px;
  left: 10px;
  display: none;
  width: 100%;
  list-style: none;
  max-width: 224px;
  max-height: 345px;
  background-color: $c-neutro;
  overflow: hidden;
  overflow-y: scroll;
  padding: $sp-small;
  border: 1px solid $c-default-3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.1);
  //transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.data-sheet__item {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.data-sheet__crop {
  max-width: 30px;
  .data-sheet__img {
    width: 100%;
  }
}

.data-sheet__group {
  .data-sheet__value {
    padding-bottom: 0;
  }
  .data-sheet__txt {
    @include font-rem(13px);
  }
}

.data-sheet__crossed {
  position: relative;
  color: $c-default;
  @include font-rem(13px);
  padding-left: 5px;
  text-decoration: line-through;
}

// Media query desde 768px
@include media-query(medium) {
  .data-sheet__title {
    padding-top: 50px;
    padding-bottom: 50px;
    @include font-rem(32px);
  }
  .data-pack__slot {
    width: 33.333%;
    max-width: 320px;
    margin: 0 auto;
    &:last-child {
      display: block;
    }
  }
  .data-sheet__group {
    .data-sheet__txt {
      @include font-rem(14px);
    }
  }

  .data-sheet__crossed {
    @include font-rem(14px);
  }
  // .data-sheet__btn2 {
  //   margin: 0 auto;
  //   max-width: 250px;
  // }
}
