.data-pack {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: stretch;
  overflow: hidden;
  padding: $sp-large 0 $sp-medium 0;
}

.data-pack__slot {
  height: 100%;
}

//- Medium 768px
@include media-query(medium){
  .data-pack {
    padding: $sp-large $sp-small $sp-small;
  }
}
