/*------------------------------------*\
    Terminos y condiciones #Dropdown
\*------------------------------------*/

/**
 * @molecule Dropdown Faq
 * @section Dropdowns
 * @markup
 *   <div class="faq">
 *     <div class="faq__inner">
 *       <ul class="faq__list">
 *         <li class="faq__item">
 *           <div class="faq__item-inner">
 *             <button class="faq__btn i-arrow-back">¿La SIM Movistar sirve para todos los celulares que aceptan SIM?</button>
 *             <div class="faq__content">
 *               <p class="faq__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 *               <p class="faq__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 *             </div>
 *           </div>
 *         </li>
 *         <li class="faq__item">
 *           <div class="faq__item-inner">
 *             <button class="faq__btn i-arrow-back">¿Cómo solicitar el término de mi contrato con Movistar?</button>
 *             <div class="faq__content">
 *               <p class="faq__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 *               <p class="faq__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 *             </div>
 *           </div>
 *         </li>
 *       </ul>
 *     </div>
 *   </div>
 */

.faq {
  background-color: $c-tag-5_l;
}

.faq__title {
  padding: 45px 20px;
  @include font-rem(32px);
  text-align: center;
}

.faq__list {
  list-style: none;
}

.faq__item {
  padding: 14px 0 28px;
  background-color: transparent;
  border-bottom: 1px solid $c-default-4;
  &.js-dropdownActive {
    background-color: $c-neutro;
    .faq__btn {
      background-color: $c-neutro;
      &:before {
        -webkit-transform: rotate(-180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: rotate(-180deg); /* IE 9 */
                transform: rotate(-180deg); /* IE 10, Fx 16+, Op 12.1+ */
      }
    }
  }
}

.faq__item-inner {
  width: 78%;
  margin: 0 auto;
}

.faq__btn {
  @include flexbox;
  @include flex-direction(row-reverse);
  @include align-items(baseline);
  @include justify-content(space-between);
  width: 100%;
  padding: 0 0 20px;
  font-family: $f-regular;
  @include font-rem(16px);
  line-height: 1.6;
  text-align: left;
  color: $c-default;
  background-color: $c-tag-5_l;
  transition: all .2s linear;
  &:before {
    display: inline-block;
    margin-left: 20px;
    color: $c-brand-2;
    @include font-rem(8px);
    transition: all .5s;
  }
  &:hover {
    color: $c-brand-2;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

.faq__content {
  display: none;
}

.faq__txt {
  margin: 0;
  padding: 24px 0 0;
  color: $c-default-1;
}

@include media-query(medium) {
  .faq__title {
    @include font-rem(36px);
  }

  .faq__btn {
    @include justify-content(space-between);
    @include align-items(center);
    @include font-rem(20px);
  }

  .faq__txt {
    @include font-rem(16px);
  }
}

@include media-query(wide) {
  .faq__inner {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
  }

  .faq__title {
    @include font-rem(40px);
  }

  .faq__item {
    padding: 48px 0;
  }

  .faq__item-inner {
    width: 90%;
    max-width: 910px;
  }
  
  .faq__btn {
    padding-bottom: 0;
    @include font-rem(24px);
  }

  .faq__txt {
    @include font-rem(18px);
  }
}