/*------------------------------------*\
    Malla de productos
\*------------------------------------*/

/**
 * @molecule slot
 * @section Grid
 * @markup
 *
*/

.layout_grid {
  padding: 14px 0;
}

//filtro
.grid_filtro {
  min-width: 220px;
  ul {
    list-style: none;
    margin: 0;
  }
  .i-arrow-back {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    &:before {
      display: block;
      margin-left: 10px;
      color: $c-brand-2;
      @include font-rem(10px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
  .js-dropdownBtn {
    cursor: pointer;
  }
}

.filtro {
  min-width: 180px;
  margin-right: 40px;
}

.filtro__title {
  padding-bottom: 8px;
  margin-bottom: 24px;
  @include font-rem(24px);
  font-family: $f-regular;
  border-bottom: 1px solid $c-default-1;
}

.filtro__item {
  padding-bottom: 16px;
  @include font-rem(14px);
  font-family: $f-regular;
}

.filtro__subitem {
  margin-bottom: 16px;
  color: $c-default-1;
  @include font-rem(14px);
  font-family: $f-regular;
}

.filtro__subtitle {
  display: block;
  padding-bottom: 24px;
  @include font-rem(18px);
}

.filtro__headline {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 14px;
  @include font-rem(16px);
  border-bottom: 1px solid $c-default-1;
}

.filtro__level2 {
  display: none;
}

.filtro__level3 {
  display: none;
}

.filtro__footer {
  display: none;
}

.js-dropdownActive {
  &:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.grid__select {
  padding-right: 7px;
}

.asRange {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 25px;
  border: 1px solid $c-default-4;
}

.asRange-pointer {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -1px;
  border: 1px solid $c-default-4;
  background-color: #fff;
  border-radius: 50%;
}

.asRange-selected {
  position: absolute;
  left: 30%;
  z-index: 1;
  width: 40%;
  height: 5px;
  background-color: $blue_light;
  border-radius: 25px;
}

.asRange-tip {
  position: absolute;
  bottom: -20px;
  display: block !important;
  color: $c-brand-2;
}

//controles filtro ordenar M/D y filtrar M
.grid__top {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  margin-bottom: 26px;
  padding-top: 40px;
  .btn_tag {
    min-width: 120px;
  }
}

//- Contenedor
.grid {
  position: relative;
  display: -ms-grid;
  display: grid; //-grid-template-columns: 50% 50%;
  //-grid-template : filas / columnas;
  //-grid-gap : filas / columnas;
  -ms-grid-columns: (minmax(115px, 300px)) [2];
  grid-template-columns: repeat(2, minmax(115px, 300px));
  grid-gap: $sp-xsmall;
}

.grid__slot {
  position: relative;
  border: 1px solid $grey-1;
}

.grid__slot_unique {
  .grid__inner {
    display: flex;
    height: 100%;
    flex-direction: column; //justify-content: flex-end;
    .grid__photo {
      margin: $sp-small auto;
      max-width: 100%;
    }
  }
  .grid__img {
    max-width: 100%;
  }
  .grid__label {
    color: $c-brand;
  }
  .grid__price {
    &:first-child {
      padding-right: 0px;
    }
    &:last-child {
      border: none;
      padding-left: 0px;
    }
  }
}

.grid__slot_brand {
  background-color: $c-brand;
}

.grid__ads {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  img {
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
  }
}

.grid__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px $sp-small $sp-xsmall;
}

.grid__action {
  color: $grey-5;
  flex-grow: 2;
}

.grid__photo {
  text-align: center;
  margin: 18px auto;
}

.grid__img {
  width: 100%;
  max-width: 150px;
  vertical-align: bottom;
}

.grid__img_wide {
  max-width: 95%;
}

.grid__art {
  width: 100%;
}

.grid__header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: $sp-xsmall;
}

.grid__title {
  @include font-rem(16px);
  font-family: $f-bold;
}

.grid__ref {
  margin: 0;
  text-transform: uppercase;
  @include font-rem(16px);
  font-family: $f-regular;
}

.grid__ico {
  @include font-rem(0px);
  &:before {
    @include font-rem(30px);
    color: $c-neutro-dark;
  }
}

.grid__assess {
  .grid__rating {
    padding: 0;
    margin-bottom: 20px;
  }
  .rating__stars {
    padding-left: 0;
    img {
      vertical-align: bottom;
    }
  }
}

.grid__value {
  @include font-rem(24px);
  font-family: $f-light;
}

.grid__value_line {
  text-decoration: line-through;
  @include font-rem(20px);
  font-family: $f-light;
}

.grid__blocks {
  display: flex;
}

.grid__price {
  width: 50%;
  margin: 0;
  &:last-child {
    border-left: 1px solid $c-default-3;
    padding-left: $sp-small;
  }
}

.grid__label {
  color: $c-default-7;
  @include font-rem(16px);
}

.grid__label_brand {
  color: $c-brand;
}

.grid__label_brand2 {
  color: $c-brand-2;
}

.grid__center {
  text-align: center;
}

.grid__row {
  padding: 10px 0;
}

.grid__btn {
  width: 100%;
  min-width: 110px;
}

.grid__ads {
  margin: 14px 0;
}

.grid__pager {
  //border: none;
  // grid-column-start: 1;
  // grid-column-end: 3;
  // grid-column: 2 / span 2; Que ocupe dos espacios
  // grid-column: 1 / -1; Ocupa el 100%
  grid-column: 1 / -1;
}

.grid__banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2; // -ms-grid-column: 1;
  // -ms-grid-column-span: 1;
  // grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  &.grid__banner_brand {
    background-color: $c-brand;
  }
}


.grid__banner2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / -1; // -ms-grid-column: 1;
  // -ms-grid-column-span: 1;
  // grid-column: 1 / -1;
  // -ms-grid-row: 7;
  // -ms-grid-row-span: 1;
  // grid-row: 7 / 8;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  background-color: $c-brand;
}

.grid__slot-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / -1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

.grid__tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

//_ Arreglo de slot para que quepan dos
@media only screen and (max-width: 480px) {
  .grid__inner {
    padding: $sp-small 8px $sp-xsmall;
  }
  .grid__value {
    @include font-rem(14px);
  }
  .grid__label_brand,
  .grid__label_brand2 {
    font-size: 78%;
  }
  .grid__price {
    &:first-child {
      padding-right: 2px;
    }
    &:last-child {
      padding-left: 2px;
    }
  }
  .grid__title {
    @include font-rem(14px);
  }
  .grid__ref {
    @include font-rem(12px);
  }
  .grid__btn {
    padding: 8px 14px;
  }
  .grid__tags {
    overflow: hidden;
    height: 100%;
  }
  .filtro__control {
    .btn_tag {
      margin: 0;
    }
  }
  .grid__ico {
    &:before {
      @include font-rem(20px);
    }
  }
  .grid__photo {
    max-width: 70px;
  }
  .grid__banner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
  .grid__banner2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }
}

@media only screen and (max-width: 767px) {
  .grid__img {
    max-width: 170px;
  }
  .grid__assess {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .grid_filtro {
    position: fixed;
    top: 0;
    left: -340px;
    z-index: 1000;
    width: 320px;
    height: 100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
  .filtro__scroll {
    position: relative;
    z-index: 2;
    width: 320px;
    height: 100vh;
    padding: 24px 20px 140px;
    overflow: scroll;
    background-color: $c-neutro;
  }
  .js-filtroOpen {
    left: 0;
    &:before {
      content: "";
      opacity: 1;
    }
  }
  .filtro__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: block;
    padding: 30px 20px;
    width: 100%;
    text-align: center;
    background-color: $c-neutro;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+17,ffffff+99&0.5+0,1+17,1+100 */
    background: -moz-linear-gradient( top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    .btn {
      width: 100%;
    }
  }
}

@include media-query(small-medium) {
  .grid__top {
    .btn_tag {
      min-width: 170px;
    }
  }
}

@include media-query(medium) {
  //- Contenedor
  .grid {
    -ms-grid-columns: (minmax(170px, 300px)) [3];
    grid-template-columns: repeat(3, minmax(170px, 300px));
  }
  .grid__banner {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .grid__banner2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .grid__slot-info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .order {
    padding-top: $sp-medium;
    padding-bottom: 6px;
  } //controles filtro ordenar M/D y filtrar M
  .grid__top {
    padding-top: 0;
  }
  .grid__select {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
  }
  .grid_filtro {
    padding-top: 14px;
  }
  .grid__ads {
    width: -webkit-calc(33% - 14px);
    width: -moz-calc(33% - 14px);
    width: -o-calc(33% - 14px);
    width: calc(33% - 14px);
    margin: 14px 7px;
  }
  .grid__order {
    @include flexbox;
    @include flex-direction(column);
  }
  .grid__header {
    @include order(2);
    padding: $sp-small 0;
  }
  .grid__value {
    @include font-rem(20px);
  }
  .grid__price {
    &:last-child {
      padding-left: 8px;
    }
  }
  .grid__photo {
    max-width: 144px;
  }
}

@include media-query(wide) {
  .hide_desk {
    display: none;
  } //controles filtro ordenar M/D y filtrar M
  .grid__top {
    @include justify-content(flex-end);
  }
  .layout_grid {
    @include flexbox;
    @include justify-content(space-between);
  }
}

@include media-query(large) {
  .grid__value {
    @include font-rem(24px);
  }
  .grid__assess {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    .grid__rating {
      margin-bottom: 0;
    }
  }
}
