/*------------------------------------*\
	Estructura de Layout
\*------------------------------------*/

//wrapper del grid
.grid-box {
  width: 90%;
  margin: 0 auto;
  @include prefixer(display, grid, ("webkit", "moz"));
  padding-bottom: $sp-medium;
}

.grid-box__cell-1 {
  @include prefixer(grid-column, 1, ("webkit", "moz"));
  @include prefixer(grid-row, 2, ("webkit", "moz"));
}

.grid-box__cell-2 {
  @include prefixer(grid-column, 1, ("webkit", "moz"));
  @include prefixer(grid-row, 1, ("webkit", "moz"));
}

.grid-box__cell-3 {
  @include prefixer(grid-column, 1, ("webkit", "moz"));
  @include prefixer(grid-row, 3, ("webkit", "moz"));
}

.grid-box__cell-4 {
  @include prefixer(grid-column, 1, ("webkit", "moz"));
  @include prefixer(grid-row, 4, ("webkit", "moz"));
}

.grid-box__cell-5 {
  @include prefixer(grid-column, 1, ("webkit", "moz"));
  @include prefixer(grid-row, 5, ("webkit", "moz"));
}

.grid-box__row {
  max-width: 100%;
  padding: $sp-small 0;
  .tags {
    max-width: 450px;
  }
}

.grid-box__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .grid-box__item {
    padding: 0;
    margin: 0;
  }
}

.grid-box__item {
  padding: 0 $sp-xsmall $sp-xsmall;
}

.grid-box__txt {
  display: inline-block;
  flex-grow: 2;
  width: 100%;
  padding-bottom: $sp-xsmall;
}

.grid-box__txt-xl {
  @include font-rem(24px);
}

.grid-box__link {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  &.btn {
    max-width: 380px;
  }
}

//- $bp-small-medium: 640px;
// @include media-query(small-medium) {
//   .grid-box__wrap {
//     .grid-box__item {
//       margin: 0 30px 0 0;
//     }
//   }
// }
//- $bp-medium: 768px;
@include media-query(medium) {
  .grid-box {
    width: 100%;
    @include prefixer(grid-template-columns, repeat(2, 50%), ("webkit", "moz"));
    padding-bottom: $sp-wide;
  }
  .grid-box__cell {
    padding: 0 $sp-xsmall;
  }
  .grid-box__cell-1 {
    @include prefixer(grid-column, #{1/2}, ("webkit", "moz"));
    @include prefixer(grid-row, #{1/3}, ("webkit", "moz"));
  }
  .grid-box__cell-2 {
    @include prefixer(grid-column, #{2/2}, ("webkit", "moz"));
    @include prefixer(grid-row, 1, ("webkit", "moz"));
  }
  .grid-box__cell-3 {
    @include prefixer(grid-column, 2, ("webkit", "moz"));
    @include prefixer(grid-row, 2, ("webkit", "moz"));
  }
  .grid-box__cell-4 {
    @include prefixer(grid-column, #{1/2}, ("webkit", "moz"));
    @include prefixer(grid-row, #{2/2}, ("webkit", "moz"));
    .grid-box__row {
      position: relative;
      top: 0;
      max-width: 364px;
      margin: 250px auto 0;
    }
  }
  .grid-box__cell-5 {
    @include prefixer(grid-column, 2, ("webkit", "moz"));
    @include prefixer(grid-row, 3, ("webkit", "moz"));
  } //Filas con Flexbox
  .grid-box__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  } //Row del grid
  .grid-box__link {
    &.btn {
      margin: 0 auto 0 0;
      max-width: 260px;
    }
  }
  .grid-box__item {
    padding: 0 10px 0px;
  }
  .grid-box__row_line {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 20px;
      background-color: $c-default-3;
    }
    &:last-child {
      &:before {
        top: 7px;
      }
    }
  }
}

///Cajas pequeñas
.grid-box__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-box__grid2 {
  display: table;
  width: 100%;
  padding: 20px 0;
}

//- $bp-small-wide: 980px;
@include media-query(small-wide) {
  .grid-box__cell {
    padding: 0;
  } //Row del grid
}

//- $bp-large: 1180px;
@include media-query(large) {
  .grid-box__item {
    padding: 0 10px 0px;
  }
  .grid-box__grid {
    justify-content: space-around;
  }
}
