//- Bloque Head Section
.head-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: $sp-small 0;
}

.head-section__title,
.head-section__img {
  display: none;
}

.head-section__img {
  margin: 0 auto;
}

.head-section__title {
  font-family: $f-light;
  @include font-rem(64px);
  padding: $sp-small 0;
}

.head-section__subtitle {
  font-family: $f-light;
  @include font-rem(32px);
}

//- bp 648px
@include media-query(small-medium) {
  .head-section__title,
  .head-section__img {
    display: block;
  }
  .head-section {
    padding: $sp-medium 0;
  }
}

//- bp 768
@include media-query(medium) {
  .head__txt {
    @include font-rem(20px);
  }
}
