.history {
  &__title {
    @include font-rem(32px);
    font-family: $f-regular;
    text-align: center;
  }
  &__divider {
    border: 1px solid #d8d8d8;
    margin: 32px auto;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $blue;
    font-family: $f-regular;
  }
}
