/**
 * @molecule Info Prom
 * @section Navigation
 * @markup
 *   <div class="info-prom">
 *     <div class="info-prom__inner">
 *       <dl class="info-prom__list">
 *         <dt class="info-prom__title">Beneficios que tienes al comprar en Movistar</dt>
 *         <dd class="info-prom__item"><a class="info-prom__link i-calendar-comic" href="#" title="Meses sin intereses">Meses sin intereses</a></dd>
 *         <dd class="info-prom__item"><a class="info-prom__link i-cards" href="#" title="Múltiples opciones de pago">Múltiples opciones de pago</a></dd>
 *         <dd class="info-prom__item"><a class="info-prom__link i-price" href="#" title="Los mejores precios">Los mejores precios</a></dd>
 *       </dl>
 *     </div>
 *   </div>
 */

.info-prom {
  display: block;
  background-color: $c-default-5;
}

.info-prom__inner {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.info-prom__list {
  @include flexbox;
  @include justify-content(center);
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: $sp-medium 0;
  margin: 0 -6px;
}

.info-prom__item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  padding: $sp-xsmall -6px;
  text-align: center;
  font-family: $f-regular;
  @include font-rem(12px);
  &:before {
    display: block;
    margin-bottom: 6px;
    @include font-rem(30px);
  }
}
.info-prom__title {
  width: 100%;
  padding-top: $sp-xsmall;
  padding-bottom: 20px;
  text-align: center;
  font-family: $f-bold;
  @include font-rem(14px);
  font-weight: bold;
}

//- $bp-sm-md: 768px;
@include media-query(medium) {
  .info-prom__inner {
    width: 95%;
  }
  .info-prom__list {
    @include align-items(center);
    @include justify-content(space-between);
    flex-wrap: nowrap;
    list-style: none;
    min-height: 100%;
    margin: 0;
    padding: 10px 0;
  }
  .info-prom__title {
    font-family: $f-light;
    @include font-rem(21px);
    font-weight: 300;
    min-width: 200px;
    padding: 0 8px 0 0;
    text-align: left;
    width: min-content;
  }
}
// $bp-wide: 1024px
@include media-query(wide) {
  .info-prom__item {
    @include font-rem(16px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    width: auto;
    &:before {
      @include font-rem(30px);
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }
}

//- $bp-medium: 768px;
@include media-query(medium) {
  .info-prom__inner {
    width: 90%;
  }
  .info-prom__link {
    @include font-rem(16px);
  }
}
