/*------------------------------------*\
	Component list-ico
\*------------------------------------*/

.list-ico {
  display: flex;
}

.list-ico__txt {
  vertical-align: middle;
  padding: 6px 0;
}

// .list-ico__item {
// }
.list-ico__link {
  display: inline-block;
  color: $c-brand-2;
  padding: 10px 6px 0;
  vertical-align: middle;
  @include font-rem(0px);
  &:before {
    display: block;
    @include font-rem(16px);
  }
}

// Grupo de Lista
.list-icons {
  padding-bottom: $sp-medium;
}

.list-icons__txt {
  @include font-rem(14px);
}

.list-ico__line {
  position: relative;
  display: block;
  padding: 10px 6px 0 24px;
  @include font-rem(14px);
  &:before {
    display: block;
    color: $c-brand-2;
    @include font-rem(16px);
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}
