/*------------------------------------*\
	Component List Sticky
\*------------------------------------*/

/**
 * @molecule List Sticky
 * @section Navigation
 * @markup
 *  <section class="band">
 *   <div class="list-sticky">
 *      <div class="list-sticky__item">
 *        <figure class="list-sticky__fig"><img class="list-sticky__img" src="../dist/static/img/iphone.png" alt="Apple iPhone X">
 *          <figcaption class="list-sticky__caption">Apple iPhone X</figcaption>
 *        </figure>
 *      </div>
 *      <div class="list-sticky__item"><small class="list-sticky__sm-txt">Precio:</small><span class="list-sticky__txt">$23.789</span></div>
 *      <div class="list-sticky__item"><small class="list-sticky__sm-txt">Color:</small><span class="list-sticky__txt">Negro</span></div>
 *      <div class="list-sticky__item"><small class="list-sticky__sm-txt">Capacidad:</small><span class="list-sticky__txt">32 GB</span></div>
 *      <div class="list-sticky__item"><small class="list-sticky__sm-txt">Cantidad:</small><span class="list-sticky__txt">1</span></div>
 *      <div class="list-sticky__item">
 *          <button class="list-sticky__btn btn i-shopping-car">Agregar al carrito</button>
 *      </div>
 *    </div>
 *   </section>
 */

//_ Clase PRINCIPAL de SUBNAV que necesita el menú para ser Sticky
.sticky {
  background-color: transparent;
  .list-sticky {
    display: none;
  }
}

.list-sticky {
  list-style: none; // Cuando tiene la clase sticky se pone con display Flex
  display: none;
  width: 86%;
  // align-items: center;
  @include align-items(center);
  justify-content: flex-start;
}

.list-sticky__item {
  &:not(:first-child):not(:last-child) {
    padding: 0 10px;
  }
  &:nth-last-child(3) {
    text-align: center;
  }
  &:first-child {
    min-width: 260px;
    margin-left: 20px;
  }
}

.list-sticky__item_huge {
  width: 100%;
  text-align: right;
}

.list-sticky__fig {
  // display: flex;
  @include flexbox;
  // align-items: center;
  @include align-items(center);
  width: 100%;
  height: auto;
}

.list-sticky__img {
  width: 100%;
  max-width: 72px;
  flex-grow: 1;
}

.list-sticky__caption {
  @include font-rem(24px);
  flex-flow: 2;
  padding: 0 20px;
}

.list-sticky__sm-txt {
  display: block;
  @include font-rem(14px);
  font-family: $f-bold;
}

.list-sticky__txt {
  @include font-rem(18px);
}

// // $bp-wide: 1024px
// @include media-query(wide) {}

// $bp-medium: 768px
@include media-query(medium) {
  .sticky {
    .list-sticky {
      // display: flex;
      @include flexbox;
    }
    display: block;
    background-color: $c-default-5;
    position: fixed;
    width: 100%;
    z-index: 6;
    top: 0;
    .menu-links__item {
      &:last-child {
        display: none;
      }
    }
  }
}

// $bp-large: 1180px
@include media-query(large) {
  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
  }
  .list-sticky__item {
    &:not(:first-child):not(:last-child) {
      padding: 0 24px;
    }
  }

  .list-sticky__item_huge {
    .list-sticky__btn {
      width: 100%;
      max-width: 250px;
    }
  }
}
