/*------------------------------------*\
	Component Header Menu
\*------------------------------------*/

/**
 * @molecule Header Menu
 * @section Navigation
 * @markup
 *  <nav class="menu head__item">
 *    <ul class="menu__list">
 *      <li class="menu__item">
 *        <a class="menu__link i-cell active" href="#" title="Teléfonos">Teléfonos</a></li>
 *      <li class="menu__item">
 *        <a class="menu__link i-cell-voice" href="#" title="Planes">Planes</a></li>
 *      <li class="menu__item">
 *        <a class="menu__link i-house" href="#" title="Hogar">Hogar</a></li>
 *      <li class="menu__item">
 *        <a class="menu__link i-cell-reload" href="#" title="Renovaciones">Renovaciones</a></li>
 *      <li class="menu__item">
 *        <a class="menu__link i-cell-favorite" href="#" title="Promociones">Promociones</a></li>
 *      <li class="menu__item">
 *        <a class="menu__link i-cell-recharge" href="#" title="Recargas">Recargas</a></li>
 *    </ul>
 *  </nav>
 */

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__item {
  position: relative;
  list-style: none;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $c-default-1;
    &:last-child {
      display: none;
    }
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.menu__link {
  position: relative;
  width: 100%;
  display: block;
  padding: 20px;
  color: $c-default-1;
  text-align: center;
  letter-spacing: 0.02em;
  &:before {
    @include font-rem(20px);
    margin-right: 10px;
    vertical-align: text-top;
  }
  &:after {
    content: '';
    position: absolute;
    left: 8%;
    bottom: 0;
    height: 4px;
    width: 0;
    border-radius: 5px;
    background-color: $c-brand-2;
    transition: width .3s linear;
  }
  &:hover {
    &:after {
      will-change: left, right;
      width: 82%;
    }
  }
  &.active {
    &:after {
      width: 82%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*---------Menú Brand (Header) Mobile----------*/

.menu-brand {
  position: relative;
}

.menu-brand__item {
  border-bottom: 1px solid $c-default-3;
  height: 40px;
  background-color: $c-neutro;
}

.menu-brand__link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 18px 8px 18px;
  color: $c-brand-2;
  font-family: $f-regular;
  text-align: center;
  transition: all 0.2s linear;
  &:after {
    position: absolute;
    top: 16px;
    right: 20px;
    display: inline-block;
    @include font-rem(10px);
    margin-left: 20px;
  }
  &:hover {
    text-decoration: underline;
  }
}

//- Menu oculto para interacción  js
.menu-brand__btn {
  @include font-rem(0px);
  background-color: transparent;
  width: 15%;
  height: 100%;
  text-align: right;
  color: $c-neutro;
  &:before {
    text-align: center;
    @include font-rem(10px);
  }
}

.menu-brand__list {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-width: 200px;
  height: 40px;
  transition: height .3s linear;
  overflow: hidden;
  padding: 0;
  background-color: $c-default-5;
  list-style: none;
  .active {
    width: 100%;
    display: inline-block;
    position: relative;
    font-family: $f-regular;
    cursor: pointer;
    background-color: $c-brand-2;
    border: 1px solid $c-brand-2;
    &:before {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .menu-brand__link {
      color: $c-neutro;
    }
  }
}

/*---------Menú Tabs (Header) Mobile----------*/

.menu-tabs {
  position: relative;
  min-width: 320px;
}

.menu-tabs__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
}

.menu-tabs__item {
  width: 100%;
}

.menu-tabs__link {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;
  min-height: 40px;
  font-family: $f-regular;
  @include font-rem(14px);
  cursor: pointer;
  transition: all 0.2s linear;
  &:first-child {
    padding: 8px 0 8px 0;
    color: $c-brand-2;
    background-color: $c-neutro;
    &:hover {
      color: #fff;
      background-color: $c-brand-2-hover;
    }
  }
  &:last-child {
    padding: 8px 0 8px 10px;
    color: $c-neutro;
    background-color: $c-brand;
    &:hover {
      background-color: $c-brand-hover;
    }
  }
  &:before {
    @include font-rem(22px);
    margin: 0 10px;
  }
  &:after {
    @include font-rem(22px);
    margin: 0 10px;
  }
  &.i-a-arrow-back {
    &:after {
      @include font-rem(8px);
    }
  }
}

.menu-tabs__active {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 30px 10px 10px;
  &:after {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    padding-right: 20px;
  }
}

/*---------Submenú Tabs (Header) Mobile----------*/

.submenu-tabs__list {
  // display: none;
  position: absolute;
  // top: 42px;
  z-index: -1;
  top: -80px;
  transition: top .3s linear;
  width: 100%;
  list-style: none;
  border: 1px solid $c-brand-2;
  border-top: none;
  &.js-menuLoginOpen {
    top: 40px;
  }
}

.submenu-tabs__link {
  display: block;
  color: $c-brand-2;
  background-color: $c-neutro;
  padding: 8px 0 8px 10px;
  border-top: 1px solid $c-brand-2; //min-width: 150px;
  transition: all 0.2s linear;
  &:hover {
    font-family: $f-regular;
  }
}

/*---------Menú General (Header) Mobile----------*/

.menu-gral {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100%;
  text-align: right;
  background-color: $c-neutro;
}

.menu-gral__burger {
  height: 50px;
  color: $c-neutro;
  background-color: $c-brand-2;
}

//-[Item]: Link de menú general para móvil con fondo azul
.menu-gral__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-family: $f-default;
  @include font-rem(18px);
  color: $c-neutro;
  background-color: $c-brand-2;
  &:before {
    position: absolute;
    right: 14px;
    transition: all .1s linear;
  }
  &:hover {
    color: $c-neutro;
  }
}

.menu-gral__item {
  position: relative;
  height: 40px;
  transition: height .3s linear;
  overflow: hidden;
  &.js-menuGralOpen {
    .menu-gral__link {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
}

/*---------Submenú General (Header) Mobile----------*/

.submenu-gral__list {
  display: inline-block;
  width: 100%;
  list-style: none;
  text-align: left;
  @include font-rem(16px);
}

.submenu-gral__item {
  display: block;
  width: 100%;
}

.submenu-gral__link {
  display: block;
  padding: 10px;
  background-color: $c-neutro;
}

/*---------Menú Search (Header) Mobile----------*/

.menu-search {
  position: absolute;
  top: -25px;
  transition: top .3s linear;
  overflow: hidden;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: $c-neutro;
  padding: 10px 0;
  box-shadow: 0 10px 14px -10px rgba(0, 0, 0, 0.19);
  &.js-menuSearchOpen {
    top: 132px;
  }
}


.menu-search__btn {
  position: relative;
  right: 55px;
  @include font-rem(0px);
  width: 50px;
  height: 50px;
  color: $c-brand-2;
  z-index: 1;
  background-color: $c-neutro;
  &:before {
    @include font-rem(30px);
    text-align: center;
  }
}

.menu-search__form {
  position: relative; //display: none;
  @include flexbox; //@include align-items(stretch);
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; //max-width: 500px;
  max-width: 500px; //max-width: 500px;
  margin: 0 auto;
  background-color: $c-neutro;
  z-index: 1;
  padding: $sp-xsmall;
  .search__input,
  .search__btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .search__input {
    // flex-basis: 90%;
    width: 80%;
  }
  .search__btn {
    // flex-basis: 10%;
    width: 20%;
    align-items: center;
  }
}

.menu-search__label {
  display: flex;
  flex-basis: 100%;
  //padding-bottom: $sp-xsmall;
  @include font-rem(0px);
}

//*---------menu-tabs mobile---------*/
.menu-tabs__item {
  position: relative;
  @include flexbox;
}

// .menu-tabs__btn {
//   @include font-rem(0px);
//   height: 100%;
//   background-color: $c-neutro;
//   &:before {
//     @include font-rem(8px);
//     color: $c-brand-2;
//   }
// }

 //-[Item general]: Link contenedor del submenú
.menu-gral__list {
  width: 100%;
  list-style: none;
  background-color: $c-neutro;
  z-index: 2;
}

//*---------MOBILE---------*/
@media screen and (max-width: 767px) {
  .menu-tabs {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .submenu-tabs__list {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .menu-gral__burger {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 54px;
    cursor: pointer;
    right: 10px;
    background-color: transparent;
  }
  .burguer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 38px;
    height: 3px;
    margin: auto;
    color: $c-neutro;
    text-align: left;
    font-size: 1px;
    font-size: 0;
    transition: background, 0s, .25s;
    background-color: $c-brand-2;
    border-radius: 5px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      transition-delay: .25s, 0s;
      transition-duration: .25s, .25s;
      background-color: $c-brand-2;
      border-radius: 5px;
    }
    &:before {
      left: 0;
      top: -10px;
      transition-property: top, transform;
    }
    &:after {
      left: 0;
      bottom: -10px;
      transition-property: bottom, transform;
    }
  }// fin burguer
  .menu-gral__burger {
    &.js-menuOpen {
      .burguer {
        background-color: transparent;
        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
        &:before,
        &:after {
          transition-delay: 0s, .25s;
        }
      }
    }
  }
  .menu-gral__list {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 320px;
    // border-top: 3px solid $c-neutro;
    top: 50px;
    right: -100%;
    transition: right .3s linear;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
    &.js-menuOpen {
      right: 0;
    }
  }
  .burguer_txt {
    display: none;
  }
}

//*---------TERMINA MOBILE---------*/
//*---------COMIENZA DESKTOP-----------*/
// $bp-small-m: 480px
@include media-query(small-m) {

}

// $bp-medium: 768px
@include media-query(medium) {
  /*---Menú Brand (Header) Desktop---*/
  .menu-brand__active,
  .menu-tabs__active {
    display: none;
  }
  .menu-brand__list {
    display: flex;
    width: 100%;
    position: relative;
    top: 0;
    background-color: transparent;
    border: none;
    .active {
      width: inherit;
      display: inherit;
    }
  }
  .menu-brand__item {
    position: relative;
    border-bottom: none;
    background-color: transparent;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 25px;
      width: 1px;
      background-color: $c-neutro;
    }
  }
  .menu-brand__link {
    width: 100%;
    padding: 8px 18px;
    color: $c-neutro;
    &:after {
      display: none;
    }
  }
  .menu-brand__btn {
    display: none;
  }
  /*---------Menú Tabs (Header) Desktop----------*/
  .menu-tabs {
    min-width: 350px;
  }
  .menu-tabs__list {
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
  }
  .menu-tabs__link {
    min-width: 150px;
    @include font-rem(16px);
  }
  .menu-tabs__item {
    position: relative;
  }
  /*---------Submenú Tabs (Header) Desktop----------*/
  .submenu-tabs__list {
    // position: absolute;
    // top: 40px;
    width: 100%;
    // list-style: none;
  }
  .submenu-tabs__link {
    display: block;
    color: $c-brand-2;
    background-color: $c-neutro;
    padding: 8px 10px;
    border-bottom: none;
  }
  /*---------Menú General (Header) Desktop----------*/
  .menu-gral {
    position: relative;
    border-bottom: none;
  }
  .menu-gral__list {
    position: relative;
    display: table;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0 auto;
  }
  .menu-gral__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: initial;
    height: initial;
    padding: 20px 0;
  }
  .menu-gral__link {
    display: inline-block;
    width: initial;
    padding-right: 24px;
    color: $c-default-1;
    background-color: $c-neutro;
    @include font-rem(16px);
    text-align: center;
    &:before {
      right: 0;
      @include font-rem(12px);
      top: 16px;
    }
    &:hover,
    &:active,
    &:focus {
      color: $c-default;
    }
  }
  .menu-gral__burger {
    display: none;
  }

  /*---------Submenú General (Header) Desktop----------*/
  .submenu-gral__list {
    position: absolute;
    // height: 0;
    display: none;
    padding-top: 20px;
    // z-index: -1;
    // opacity: 0;
    transition: opacity 0.1s linear;
    min-width: 200px;
    left: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.01), 0 2px 4px rgba(0, 0, 0, 0.05);
    // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  }
  .menu-gral__item {
    &:hover {
      color: $c-default;
      // .menu-gral__link {
      //   &:before {
      //     transform: rotate(90deg);
      //   }
      // }
      // .submenu-gral__list {
      //   z-index: -1;
      //   opacity: 1;
      // }
    }
  }
  .submenu-gral__link {
    width: 100%;
  }
  /*---------Menú Buscador (Header) Desktop----------*/
  .menu-search {
    position: relative;
    box-shadow: none;
    top: 0;
    padding: 0;
    max-width: 200px; //flex-shrink: 2;
  }
  .menu-search__btn {
    display: none;
  }
  .menu-search__form {
    padding: 14px 10px;
    .menu-search__label {
      display: none;
    }
    .search__input {
      //flex-basis: 79%;
      padding: 10px;
    }
  }

  .menu-search {
    &.js-menuSearchOpen {
      top: 0;
    }
  }
} // $bp-small-wide: 980px
@include media-query(small-wide) {
  .menu-gral__link {
    @include font-rem(18px);
  }
  .menu-search__form {
    .menu-search__label {
      display: block;
    }
  }
} // $bp-wide: 1024px
@include media-query(wide) {
  .menu-gral__link {
    @include font-rem(20px);
  }
  .menu-search {
    max-width: 270px;
  }
}
