/**
 * Tener en cuenta:
 * La clase .styleguide **sólo** es se usa en la guía de estilos.
 * @molecule Modal
 * @section Bloques
 * @markup
 *   <div class="styleguide">
 *     <div class="modal__box">
 *       <button class="modal__close i-x">Cerrar</button>
 *       <img class="modal__img" src="../dist/static/img/m-movistar-green.svg" alt="App Store">
 *       <h3 class="modal__title">Alerta</h3>
 *       <p class="modal__txt">No podrás comprar más de 5 productos del mismo tipo.</p>
 *       <button class="modal__btn btn btn__brand">Comprar otros productos</button>
 *     </div>
 *   </div>
 */
.modal {
  transition: .5s;
  transition-delay: 0.2s; //pointer-events: none;
  //transform: scale(0);
  opacity: 0;
  position: fixed;
  display: flex;
  background-color: rgba($c-default-6, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
//Bloque modal
.modal__box {
  position: relative;
  top: -100%;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  background-color: $c-neutro;
  z-index: 1000;
  padding: $sp-medium;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //transform: translate(-20%);
  transition: 1s;
  transition-delay: 0.2s; //pointer-events: none;
  transform: scale(0);
}
.modal__view {
  //activa la modal
  &.modal {
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
  }
  .modal__box {
    transform: scale(1);
    //transform: translate(0, 0);
    top: 0;
  }
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 5px;
  background-color: transparent;
  @include font-rem(0px);
  &:before {
    @include font-rem(20px);
    color: $c-default-1;
  }
}

.modal__img {
  padding-bottom: $sp-xsmall;
}

.modal__title {
  @include font-rem(32px);
  font-family: $f-default;
  padding-bottom: $sp-xsmall;
}

.modal__txt {
  padding-bottom: $sp-medium;
}

.modal__btn {
  display: block;
  width: 100%;
  margin: 0 auto;
}

