/*------------------------------------*\
    Elements #Rating
\*------------------------------------*/

/**
 * @molecule Rating
 * @section Bloques
 * @markup
 *  <div class="rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><span class="rating__txt">Valoración</span>
 *    <figure class="rating__stars">
 *    <img src="../dist/static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
 *      <span class="rating__value" itemprop="ratingValue">4.0</span>
 *  </div>
 */

.rating {
  @include flexbox;
  @include align-items(flex-end);
}

.rating__stars {
  padding-left: 10px;
}

.rating__txt {
  padding-right: 14px;
  padding-bottom: 4px;
}

.rating__value {
  padding-left: 14px;
  padding-bottom: 3px;
}

.rating__value_big {
  padding-left: 20px;
  line-height: 1;
  @include font-rem(26px);
}

/****** Style Star Rating Widget *****/

.form-rating {
  display: inline-block;
  padding-bottom: 8px;
  border: none;
  @include h-clearfix;
}

.form-rating>input {
  display: none;
}

.form-rating>.form-rating__label:before {
  margin: 0 5px;
  @include font-rem(16px);
  font-family: msmx-eshop;
  display: inline-block;
  content: "\e922";
}

.form-rating>.form-rating__label {
  color: $c-default-4;
  float: right;
  cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.form-rating>input:checked~.form-rating__label,
/* show gold star when clicked */

.form-rating:not(:checked)>.form-rating__label:hover,
/* hover current star */

.form-rating:not(:checked)>.form-rating__label:hover~.form-rating__label {
  color: $c-tag-3_b;
}

/* hover previous stars in list */

.form-rating>input:checked+.form-rating__label:hover,
/* hover current star when changing rating */

.form-rating>input:checked~.form-rating__label:hover,
.form-rating>.form-rating__label:hover~input:checked~.form-rating__label,
/* lighten current selection */

.form-rating>input:checked~.form-rating__label:hover~.form-rating__label {
  color: $c-tag-3_b;
}

@include media-query(medium) {
  .form-rating {
    padding-left: 14px;
  }
}

@include media-query(wide) {
  .rating__value_big {
    @include font-rem(36px);
  }
}
