/*------------------------------------*\
    Listado de especificaciones en tabs
\*------------------------------------*/

/**
 * @molecule Lista de definición (grilla)
 * @section Bloques
 * @markup
 *   <div class="tabs-detail">
 *     <article class="tabs-detail__content">
 *       <h3 class="tabs-detail__title">Especificación general</h3>
 *       <dl class="tabs-detail__list">
 *         <dt class="tabs-detail__term">Tiempo de conversación</dt>
 *         <dd class="tabs-detail__define">Hasta 21 horas</dd>
 *         <dt class="tabs-detail__term">Dimensiones</dt>
 *         <dd class="tabs-detail__define">143.6 x 70.9 x 7.7mm</dd>
 *         <dt class="tabs-detail__term">Peso</dt>
 *         <dd class="tabs-detail__define">174g</dd>
 *         <dt class="tabs-detail__term">Memoria interna del teléfono</dt>
 *         <dd class="tabs-detail__define">64 GB, 256 GB</dd>
 *         <dt class="tabs-detail__term">Capacidad de correo electrónico</dt>
 *         <dd class="tabs-detail__define">Sí</dd>
 *         <dt class="tabs-detail__term">Sistema operativo</dt>
 *         <dd class="tabs-detail__define">iOS 11</dd>
 *         <dt class="tabs-detail__term">A prueba de salpicaduras</dt>
 *         <dd class="tabs-detail__define">Sí - Clasificación IP67 según el estándar IEC 60529</dd>
 *         <dt class="tabs-detail__term">Wifi y llamadas 4G</dt>
 *         <dd class="tabs-detail__define">Sí</dd>
 *       </dl>
 *     </article>
 *     <article class="tabs-detail__content">
 *       <h3 class="tabs-detail__title">Entretenimiento</h3>
 *       <dl class="tabs-detail__list">
 *         <dt class="tabs-detail__term">Cámara trasera</dt>
 *         <dd class="tabs-detail__define">12MP de gran angular y telefoto</dd>
 *         <dt class="tabs-detail__term">Cámara frontal</dt>
 *         <dd class="tabs-detail__define">7MP</dd>
 *         <dt class="tabs-detail__term">Captura de video</dt>
 *         <dd class="tabs-detail__define">Grabación de video 4K a 24 fps, 30 fps o 60 fps</dd>
 *         <dt class="tabs-detail__term">NFC</dt>
 *         <dd class="tabs-detail__define">Sí</dd>
 *         <dt class="tabs-detail__term">Reproductor de música</dt>
 *         <dd class="tabs-detail__define">Sí</dd>
 *       </dl>
 *    </article>
 *   </div>
 */


.tabs-detail {
  text-align: left;
}

.tabs-detail__list {
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid $c-default-3;
}

.tabs-detail__title {
  @include font-rem(20px);
  line-height: 2;
  padding: 20px 0;
}
  
.tabs-detail__term,
.tabs-detail__define {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  @include font-rem(14px);
}

.tabs-detail__term {
  max-width: 250px;
  padding-bottom: 8px;
  padding-right: 10px;
  font-family: $f-bold;
  color: $c-default-1;
}

.tabs-detail__define {
  padding-bottom: 8px;
  padding-left: 10px;
}

.tabs-detail__list_messy {
  padding-bottom: 10px;
  font-family: $f-regular;
  @include font-rem(14px);
}

.tabs-detail__item {
  @include flexbox;
  padding-bottom: 6px;
  &:before {
    content: '•';
    padding-right: 8px;
  }
}

// Media query desde 768px
@include media-query(medium) {
  .tabs-detail__title {
    @include font-rem(26px);
    line-height: 2;
  }
}

// Media query desde 980px
@include media-query(small-wide) {
  .tabs-detail {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .tabs-detail__content {
    width: 48%;
  }

  .tabs-detail__title {
    @include font-rem(32px);
    padding-top: 0;
  }

  .tabs-detail__define {
    max-width: 230px;
  }

  .tabs-detail__list {
    padding: 30px 0;
  }

}
