/*------------------------------------*\
    Tabs filtros malla de terminal
\*------------------------------------*/

/**
 * @molecule Tabs Filtro
 * @section Navigation
 * @markup
 *  <nav class="band_shadow">
        <div class="layout_inner">
            <ul class="tabs-bar">
                <li class="tabs-bar__item">
                    <a class="tabs-bar__link i-cell-all tabs-bar__link_active">Todos los equipos</a>
                </li>
                <li class="tabs-bar__item">
                    <a class="tabs-bar__link i-cell-favorite">Promociones</a>
                </li>
                <li class="tabs-bar__item">
                    <a class="tabs-bar__link i-cell-recharge">Equipos con plan</a>
                </li>
            </ul>
        </div>
*   </nav>
*/

.tabs-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    @include flexbox;
    @include justify-content(space-evenly);
}

.tabs-bar__item {
    padding: 0 8px;
}
.tabs-bar__link {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    padding: 12px 0;
    text-align: center;
    letter-spacing: 0.02em;
    color: $c-default-1;
    @include font-rem(16px);
    &::before {
        @include font-rem(24px);
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        border-radius: 5px;
        background-color: $c-brand-2;
        transition: width .3s linear;
    }
    &:hover {
        &:after {
            will-change: left, right;
            width: 100%;
        }
    }
}

.tabs-bar__link_active {
    &:after {
        will-change: left, right;
        width: 100%;
    }
}
@include media-query(medium) {
    .tabs-bar__item {
        padding: 0 16px;
    }
    .tabs-bar__link {
        padding: 18px 16px;
    }
}
@include media-query(wide) {
    .tabs-bar__link {
        @include flex-direction(row);
        padding: 34px 16px;
        @include font-rem(24px);
        &::before {
            @include font-rem(32px);
            padding-right: 10px;
        }
    }
}