/*------------------------------------*\
    Elements #Tags
\*------------------------------------*/

/**
 * @atom Tags
 * @section Elementos
 * @modifiers
 *  .tag_blue Tag Azul
 *  .tag_pink Tag Magenta
 *  .tag_purple Tag Purpura
 * @markup
 *  <span class="tag tag_blue">Este producto recibe cupones</span>
 *  <span class="tag tag_pink">Re-Manufacturado</span>
 *  <span class="tag tag_purple">5 Horas 22 Minutos de Promoción</span>
 *  <span class="tag tag_yellow">Portabilidad</span>
 */

//Elemento general
.tag {
  @include font-rem(14px);
  color: $c-neutro;
  padding: 4px 18px;
  border-radius: 10px;
}

.tag_min {
  @include font-rem(16px);
  font-family: $f-regular;
  padding: 2px 8px;
  border-radius: 0;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.tag_blue {
  background-color: $c-brand-2;
}

.tag_pink {
  background-color: $c-tag-1;
}

.tag_purple {
  background-color: $c-tag-2;
}

.tag_yellow {
  background-color: $c-tag-3;
}

.tag_green {
  background-color: $c-brand;
}

//- Tag Promo
.tag_corner {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $c-neutro;
  font-family: $f-regular;
  &:before {
    position: absolute;
    right: -10px;
    top: -10px;
    @include font-rem(80px);
    z-index: -1;
  }
}

.tag_corner-red {
  &:before {
    color: $c-alert;
  }
}

.tag_corner-yellow {
  &:before {
    color: $c-tag-3;
  }
}

//- Bloque Nube de Tags
.tags {
  max-width: 420px;
  .tag {
    display: block;
    max-width: fit-content;
    margin: 10px 0;
  }
}

//_ Areglo de slot para que quepan dos
@media only screen and (max-width: 480px) {
  .tag_min {
    position: relative;
    top: -4px;
    @include font-rem(11px);
  } //- Tag Promo
  .tag_corner {
    @include font-rem(12px);
    right: 3px;
    top: 3px;
    padding: 4px 4px 0 0;
    &:before {
      right: -3px;
      top: -3px;
      @include font-rem(60px);
    }
  }
}

//- $bp-medium: 768px;
@include media-query(medium) {
  .tags {
    .tag {
      display: inline-block;
      margin: 4px 2px;
    }
  }
}
