//*------------------------------------*\
//Variables Typo font
//*------------------------------------*/
//font root
$font-path: "../fonts" !default;
// Variables font family:
$f-bold: 'Telefonica-Bold',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-regular: 'Telefonica-Regular',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-default: 'Telefonica-Light',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-light: 'Telefonica-ExtraLight',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
//Variable font-ico V5.0
$i-bell: \e967;
//Variable font-ico V4.0
$i-youtube-fill  : \e951;
$i-triangle      : \e952;
$i-transport     : \e953;
$i-tablet        : \e954;
$i-sim-4g        : \e955;
$i-question      : \e956;
$i-page-comic    : \e957;
$i-order         : \e958;
$i-jpg           : \e959;
$i-google-plus   : \e95a;
$i-faq           : \e95b;
$i-facebook-comic: \e95c;
$i-cell-world    : \e95d;
$i-cell-star     : \e95e;
$i-cell-repair   : \e95f;
$i-cell-movistar : \e960;
$i-cell-chat     : \e961;
$i-cell-at       : \e962;
$i-camera-upload : \e963;
$i-box-empty     : \e964;
$i-bag           : \e965;
$i-accessibility : \e966;
// Variables font-ico V3.0
$i-calendar-comic: \e92e;
$i-cards         : \e94c;
$i-filter        : \e94d;
$i-price         : \e94e;
$i-reload        : \e94f;
$i-whatsapp      : \e950;
// Variables font-ico V2.0
$i-hours                   : \e930;
$i-alert-circular-filling  : \e931;
$i-alert-triangular-filling: \e932;
$i-alert-triangular        : \e933;
$i-arrow-down              : \e934;
$i-arrow-left              : \e935;
$i-arrow-up                : \e936;
$i-bars                    : \e937;
$i-calendar                : \e938;
$i-check-circle2           : \e939;
$i-check-ring              : \e93a;
$i-clock                   : \e93b;
$i-download2               : \e93c;
$i-graphs                  : \e93d;
$i-group-people            : \e93e;
$i-hand-money              : \e93f;
$i-menu-bullets            : \e940;
$i-menu-historical         : \e941;
$i-menu-list               : \e942;
$i-menu-recent             : \e943;
$i-messages                : \e944;
$i-phone-search            : \e945;
$i-search-help             : \e946;
$i-star-edge               : \e947;
$i-thief                   : \e948;
$i-x-ring                  : \e949;
$i-eye                     : \e94a;
// Variables font-ico V1.0
$i-share-google            : \e92f;
$i-share-facebook          : \e92e;
$i-tel-comic               : \e92d;
$i-twitter-comic           : \e92c;
$i-substract               : \e900;
$i-arrow-back              : \e901;
$i-arrow-right             : \e902;
$i-add                     : \e903;
$i-box                     : \e904;
$i-bullet-comic            : \e905;
$i-camera                  : \e906;
$i-cell-4g                 : \e907;
$i-cell-all                : \e908;
$i-cell-detail             : \e909;
$i-cell-favorite           : \e90a;
$i-cell-money              : \e90b;
$i-cell-recharge           : \e90c;
$i-cell-reload             : \e90d;
$i-cell-voice              : \e90e;
$i-cell                    : \e90f;
$i-chat-comic              : \e910;
$i-chat                    : \e911;
$i-check-circle            : \e912;
$i-check-comic             : \e913;
$i-check                   : \e914;
$i-conectivity             : \e915;
$i-download                : \e916;
$i-email                   : \e917;
$i-facebook-fill           : \e918;
$i-facebook                : \e919;
$i-house                   : \e91a;
$i-logo-movistar           : \e91b;
$i-money                   : \e91c;
$i-phone                   : \e91d;
$i-search-nav              : \e91e;
$i-search                  : \e91f;
$i-send-comic              : \e920;
$i-shopping-car            : \e921;
$i-star-comic              : \e922;
$i-star-fill               : \e923;
$i-star                    : \e924;
$i-success                 : \e925;
$i-total                   : \e926;
$i-twitter                 : \e927;
$i-user-comic              : \e928;
$i-user                    : \e929;
$i-x                       : \e92a;
$i-youtube                 : \e92b;
$i-substract               : \e900;
$i-arrow-back              : \e901;
$i-arrow-left              : \e902;
$i-add                     : \e903;
$i-box                     : \e904;
$i-bullet-comic            : \e905;
$i-camera                  : \e906;
$i-cell-4g                 : \e907;
$i-cell-all                : \e908;
$i-cell-detail             : \e909;
$i-cell-favorite           : \e90a;
$i-cell-money              : \e90b;
$i-cell-recharge           : \e90c;
$i-cell-reload             : \e90d;
$i-cell-voice              : \e90e;
$i-cell                    : \e90f;
$i-chat-comic              : \e910;
$i-chat                    : \e911;
$i-check-circle            : \e912;
$i-check-comic             : \e913;
$i-check                   : \e914;
$i-conectivity             : \e915;
$i-download                : \e916;
$i-email                   : \e917;
$i-facebook-fill           : \e918;
$i-facebook                : \e919;
$i-house                   : \e91a;
$i-logo-movistar           : \e91b;
$i-money                   : \e91c;
$i-phone                   : \e91d;
$i-search-nav              : \e91e;
$i-search                  : \e91f;
$i-send-comic              : \e920;
$i-shopping-car            : \e921;
$i-star-comic              : \e922;
$i-star-fill               : \e923;
$i-star                    : \e924;
$i-success                 : \e925;
$i-total                   : \e926;
$i-user-comic              : \e928;
$i-user                    : \e929;
$i-x                       : \e92a;
$i-twitter-circle          : \e927;
$i-facebook-circle         : \e919;
$i-youtube-circle          : \e92b;
$i-wifi                    : \e94b;
