header.head.band_shadow
    //- Header 1 (brand)
    .band_brand-2
      .head-brand.band_inner
        include _menu-brand
        include _menu-tabs
    //- Header 2 (light)
    .band_neutro.band_inner.head-cont
      .head-gral
        //- Logotipo principal
        a.head-gral__cell.brand(href='/', title='Mi Movistar')
          img.brand__img(src='static/img/brand-movistar-green.svg', alt='Mi movistar')
        //- botón Lupa (Sólo Móvil) => Acciona el slidedown
        button.menu-search__btn.js-btnSearch.i-search-nav(type='button') Buscar
        include _menu-gral
      //- Header 3  (Slide up con botón en mobile)(Buscador)
      include _menu-search
    //- Header 4  (Esta es la barra Sticky)(footer)
    if uncarMenu != false
      .band.band_inner
        .head-foot
          //- Menu principal
          include _menu
          //- Botón Azul rectangular
          a.btn.btn_blue.head__item(href='#', title='Pórtate a Movistar') Pórtate a Movistar
          //- Botón Redondo carrito de compra
          //-button.btn-circle.i-shopping-car.head__item.js-btnCart(onclick="location.href='car-checkout.html'") Carrito de compra
          button.btn-circle.i-shopping-car.head__item.js-btnCart.btn-circle-Fixed-bottom Carrito de compra
            small.btn-circle-small 1
          .nav-side.js-slideOutofView
            button.nav-side__close.i-x.js-sideClose Cerrar Menú
            //- Submenú del carrito de compras
            h4.nav-side__title 5 equipos añadidos al carrito
            ul.nav-side__list
              //- Item #1
              li.nav-side__item
                figure.nav-side__fig
                  img.nav-side__img(src='static/img/demo/samsung-galaxy-grand.jpg', alt='Samsung Galaxy Grand')
                .nav-side__cont
                  h4.nav-side__col.nav-side__title_sm Samsung Galaxy Grand Prime Plus 16 GB
                  button.nav-side__col.nav-side__link.link__brand.js-deleteItemCart Eliminar
                  .nav-side__col
                    small.nav-side__txt_brand Prepago
                    p.nav-side__txt
                      small.txt_through $2,499 /
                      | $1,999
              //- Item #2
              li.nav-side__item
                figure.nav-side__fig
                  img.nav-side__img(src='static/img/demo/sim.jpg', alt='SIM')
                .nav-side__cont
                  h4.nav-side__col.nav-side__title_sm SIM Movistar
                  button.nav-side__col.nav-side__link.link__brand.js-deleteItemCart Eliminar
                  .nav-side__col
                    p.nav-side__txt $1,999
              //- Item #3
              li.nav-side__item
                figure.nav-side__fig
                  img.nav-side__img(src='static/img/demo/iphone.jpg', alt='Iphone')
                .nav-side__cont
                  h4.nav-side__col.nav-side__title_sm Iphone X
                  button.nav-side__col.nav-side__link.link__brand.js-deleteItemCart Eliminar
                  .nav-side__col
                    small.nav-side__txt_brand Prepago
                    p.nav-side__txt
                      small.txt_through $2,499 /
                      | $1,999
              //- Item #3
              li.nav-side__item
                figure.nav-side__fig
                  img.nav-side__img(src='static/img/demo/cell-ico.jpg', alt='Recarga Movistar')
                .nav-side__cont
                  h4.nav-side__col.nav-side__title_sm Recarga fija 3000 MB
                  button.nav-side__col.nav-side__link.link__brand.js-deleteItemCart Eliminar
                  .nav-side__col
                    p.nav-side__txt $200
              //- Item #4
              li.nav-side__item
                figure.nav-side__fig
                  img.nav-side__img(src='static/img/demo/airpods.jpg', alt='Accesorios airpods')
                .nav-side__cont
                  h4.nav-side__col.nav-side__title_sm AirPods
                  button.nav-side__col.nav-side__link.link__brand.js-deleteItemCart Eliminar
                  .nav-side__col
                    small.nav-side__txt_brand Prepago
                    p.nav-side__txt
                      small.txt_through $2,499 /
                      | $1,999
            //- Footer
            footer.nav-side__item-foot
              //- Fondo azul que bordea el btn de carrito de compra solo para móvil
              .sticky-foot
                p.sticky-foot__txt Total:
                  small.sticky-foot__t-light $6.197
                a.btn.sticky-foot__btn(href='car-datos-de-pago.html', title='Ir a pagar') Pagar

              //-Link seguir comprando
              .nav-side__foot
                a.link__brand(href='malla.html', title='Ir a malla') Seguir comprando



