//- Buscador del menú con animación slideup
.menu-search.js-menuSearchClose
  form.menu-search__form
    label.menu-search__label Buscar
    input.search__input(type='text', placeholder='Ej: iPhone 8 negro', name='search')
    button.search__btn.i-search(type='submit')
