//- Menu brand
nav.menu-brand
  //-span.menu-brand__active.i-arrow-down Particulares
  ul.menu-brand__list.list-close
    li.menu-brand__item.active
      a.menu-brand__link.js-btn__hidden.i-a-arrow-back(href='#', title='Particulares') Particulares
      //- button.menu-brand__btn.js-btn__hidden.i-arrow-back Abrir
    li.menu-brand__item
      a.menu-brand__link(href='#', title='Negocios') Negocios
      //- button.menu-brand__btn.js-btn__hidden.i-arrow-back Abrir
    li.menu-brand__item
      a.menu-brand__link(href='#', title='Empresas') Empresas
      //- button.menu-brand__btn.js-btn__hidden.i-arrow-back Abrir
