//-Jquery
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script.
  window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\\/script>')

script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")

script(src='static/js/vendor/sly.min.js')
script(src='static/js/vendor/slick.min.js')

script(src='static/js/vendor/jquery-asRange.js')

script(src='static/js/vendor/jquery.validate.min.js')

//- Date Picker
script(src='static/js/vendor/flatpickr/confirmDate.js')
script(src='static/js/vendor/flatpickr/flatpickr.js')
script(src='static/js/vendor/flatpickr/es.js')

//- js Main
script(src='static/js/main.js')

//- Google Analytics: change UA-XXXXX-X to be your site's ID.
script.
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
