//variables Theme
block variables

doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='es')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='es')
//if IE 8
  html.no-js.lt-ie9(lang='es')
// [if gt IE 8] <!
html.no-js(lang='es')
  // <![endif]

  //-Head html
  include theme/_head

  body.theme_bg
    // [if gt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]

    //-header and menu site
    include theme/_header
    include theme/_subnav
    if callTo === true
      include theme/_head-callto

    main.content

      //-contenidos
      block content

    //-Footer site
    include theme/_footer

    //- Modal
    include block/_modal

    //-js for page
    include theme/_script
