extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var callTo = true
  - var uncarMenu = false
  //- Cambios de Texto en Bloque board foot
  - var footTitle = 'Si solicitaste factura por tu compra'
  - var footTxt = 'La factura de compra será enviada al correo electrónico que ingresaste. Para cualquier duda o reclamo por favor escribe un correo a'
  - var footLink = true

block content
  section.layout_section
    article.board
      include block/_card-ico_ok
      include block/_board
