extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 2
  - var callTo = true
  - var uncarMenu = false

block content
  section.layout_section
    include block/_cart-steps
    .layout_inner
      //- contenido para ingresar
      .data
        //- Contenido constante con título
        .data__content
          header.data__header
            h2.data__title Ingresa tu contraseña
          //- formulario de Ingresa tus datos [form-slot2]
          include block/_form__ingresa-tu-contrasena
        //- Aside permanente
        include block/_data-aside
      //- info footer Band de logos
      include block/_data-footer


  include block/_cart-showcase


