extends _template
block variables
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 3
  - var callTo = true
  - var uncarMenu = false

block content
  section.layout_section
    include block/_cart-steps
    .layout_inner
      //- contenido para ingresar
      .data
        //- Contenido constante con título
        .data__content
          header.data__header
            h2.data__title Métodos de envío
          //- formulario de Ingresa tus datos [form-slot2]
          include block/_form__metodos-de-envio
        //- Aside permanente
        include block/_data-aside
      //- info footer Band de logos
      include block/_data-footer


  include block/_cart-showcase


