extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var callTo = true
  - var uncarMenu = false

block content
  section.band_inner.layout_section
    article.board
      include block/_card-ico_warning
      include block/_board-head
      include block/_board-footer
    include block/_data-footer
