extends _template-2
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  //- var item1 = 'Inicio'
  //- var item2 = 'Tienda'
  //- Breadcrumbs de solo un item
  - var breadcrumbsUnique = true
  //- Call to action llámanos gratis
  - var callTo = false
  //- Desaparece el carrito
  - var uncarMenu = true
//- variable carga el menu-sticky
  - var sticky = true

block content
  section.layout_section
    .layout_inner-d
      //- Contenido constante con título al 100%
      header.head__box
        h1.head__title.title_section Comparador
        h2.head__txt.subtitle_section Encuentra el dispositivo adecuado para ti
        p.head__txt Compare las especificaciones, revisiones y el costo de hasta tres dispositivos.
    //- Caja con borde nueva estructura
    section.layout_inner-d
      .layout_box
        include block/_data-pack


