extends _template
block variables
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  //- Cambios de slots en la grilla
  - var termMarca = 1
  //- Imagen ADS
  - var titleImg = 'static/img/demo/banner-ads.jpg'
  //- Grid en Malla Módulos
  - var gridModules = true
  //- Imagen de grid
  - var gridImg = 'static/img/demo/promocion2.jpg'

block content
  //banner hero solo imagen (al que hay que colocarle el video)
  include block/_hero-img
  // Menu Info prom Gris
  include block/_info-prom
  // Search
  include block/_search
  //- // Menu Tabs malla
  //- include block/_tabs-bar
  // Head Detail
  include block/_head-section
  // Slider de Terminal destacado
  include block/_slider-detail
  // Malla productos
  include block/_grid
  // Prefoot
  include block/_prefoot
