extends _template-3
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- Breadcrumbs de solo un item
  - var breadcrumbsUnique = true
  //- Call to action llámanos gratis
  - var callTo = false
  //- Desaparece el carrito y el menú footer
  - var uncarMenu = false
//- variable carga el menu-sticky
  - var sticky = true

block content
  section.layout_section
    //- Caja con borde nueva estructura
    section.layout_panels
      .panel
        .panel__head
          h1.title_underline Consulta Requerimientos
        .panel__inner
          form(action="").panel__subhead
            label.search__label Número de ticket o el nombre del caso
            .search__form
              input.search__input(type='text', placeholder='Ej: #2064527 o sin línea', name='search')
              button.search__btn.i-search(type='submit')
          .panel__row
            //- label y texto de rango de fecha
            include block/_date-range
            include block/_table-data
          .panel__footer
            include block/_pager
