extends _template-3
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- Breadcrumbs de solo un item
  - var breadcrumbsUnique = true
  //- Call to action llámanos gratis
  - var callTo = false
  //- Desaparece el carrito y el menú footer
  - var uncarMenu = false
  //- Variable que cambia la tab
  - var compartir = true
//- variable carga el menu-sticky
  - var sticky = true

block content
  section.layout_section
    .layout_inner-d
      //- Layout de dos columnas + aside
      section.layout-grid
        .layout-grid__col-s
          //-Panel de carc con avatar
          include block/_panel-card
          //-Slides
          include block/_panel-tabs
        //-Columna 2
        .layout-grid__col-l
          //- Panel form
          include block/_panel-form
          //- Panel table
          include block/_panel-table

        aside.layout-grid__aside
          //- Panel odd
          include block/_panel-odd
          //- Paneles de iconos
          include block/_panel-ico
          //- Panel Brand
          include block/_panel-brand

      //- Banner Band
      include block/_panel-banner
      //- Prefoot
      include block/_prefoot
