/*------------------------------------*\
    #font-family, font-icon
\*------------------------------------*/
/*------------------------------------*\
  ALL fonts ESHOP MOVISTAR
  Load Time: Slow
  https: //transfonter.org/

\*------------------------------------*/
@font-face {
  font-family: 'Telefonica-Bold';
  src: url('#{$font-path}/Telefonica-Bold.eot');
  src: url('#{$font-path}/Telefonica-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Telefonica-Bold.woff2') format('woff2'), url('#{$font-path}/Telefonica-Bold.woff') format('woff'), url('#{$font-path}/Telefonica-Bold.ttf') format('truetype'), url('#{$font-path}/Telefonica-Bold.svg#Telefonica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-Regular';
  src: url('#{$font-path}/Telefonica-Regular.eot');
  src: url('#{$font-path}/Telefonica-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Telefonica-Regular.woff2') format('woff2'), url('#{$font-path}/Telefonica-Regular.woff') format('woff'), url('#{$font-path}/Telefonica-Regular.ttf') format('truetype'), url('#{$font-path}/Telefonica-Regular.svg#Telefonica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-Light';
  src: url('#{$font-path}/Telefonica-Light.eot');
  src: url('#{$font-path}/Telefonica-Light.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Telefonica-Light.woff2') format('woff2'), url('#{$font-path}/Telefonica-Light.woff') format('woff'), url('#{$font-path}/Telefonica-Light.ttf') format('truetype'), url('#{$font-path}/Telefonica-Light.svg#Telefonica-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-ExtraLight';
  src: url('#{$font-path}/Telefonica-ExtraLight.eot');
  src: url('#{$font-path}/Telefonica-ExtraLight.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Telefonica-ExtraLight.woff2') format('woff2'), url('#{$font-path}/Telefonica-ExtraLight.woff') format('woff'), url('#{$font-path}/Telefonica-ExtraLight.ttf') format('truetype'), url('#{$font-path}/Telefonica-ExtraLight.svg#Telefonica-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

/*------------------------------------*\
  Ico font $font-path
\*------------------------------------*/
@font-face {
  font-family: 'msmx-eshop';
  src : url('#{$font-path}/msmx-eshop.eot?83f4nh');
  src : url('#{$font-path}/msmx-eshop.eot?83f4nh#iefix') format('embedded-opentype'),
  url('#{$font-path}/msmx-eshop.ttf?83f4nh') format('truetype'),
  url('#{$font-path}/msmx-eshop.woff?83f4nh') format('woff'),
  url('#{$font-path}/msmx-eshop.svg?83f4nh#msmx-eshop') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i-,
[class^="i-"],
[class*=" i-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'msmx-eshop' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.i-a-,
[class^="i-a-"],
[class*=" i-a-"] {
  &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'msmx-eshop' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@function unicode($str) {
  @return unquote("\"")+$str+unquote("\"");
}
// v5
.i-bell {
  &:before {
    content: unicode($i-bell);
  }
}
// v4
.i-youtube-fill {
  &:before {
    content: unicode($i-youtube-fill);
  }
}

.i-triangle {
  &:before {
    content: unicode($i-triangle);
  }
}

.i-transport {
  &:before {
    content: unicode($i-transport);
  }
}

.i-tablet {
  &:before {
    content: unicode($i-tablet);
  }
}

.i-sim-4g {
  &:before {
    content: unicode($i-sim-4g);
  }
}

.i-question {
  &:before {
    content: unicode($i-question);
  }
}

.i-page-comic {
  &:before {
    content: unicode($i-page-comic);
  }
}

.i-order {
  &:before {
    content: unicode($i-order);
  }
}

.i-jpg {
  &:before {
    content: unicode($i-jpg);
  }
}

.i-google-plus {
  &:before {
    content: unicode($i-google-plus);
  }
}

.i-faq {
  &:before {
    content: unicode($i-faq);
  }
}

.i-facebook-comic {
  &:before {
    content: unicode($i-facebook-comic);
  }
}

.i-cell-world {
  &:before {
    content: unicode($i-cell-world);
  }
}

.i-cell-star {
  &:before {
    content: unicode($i-cell-star);
  }
}

.i-cell-repair {
  &:before {
    content: unicode($i-cell-repair);
  }
}

.i-cell-movistar {
  &:before {
    content: unicode($i-cell-movistar);
  }
}

.i-cell-chat {
  &:before {
    content: unicode($i-cell-chat);
  }
}

.i-cell-at {
  &:before {
    content: unicode($i-cell-at);
  }
}

.i-camera-upload {
  &:before {
    content: unicode($i-camera-upload);
  }
}

.i-box-empty {
  &:before {
    content: unicode($i-box-empty);
  }
}

.i-bag {
  &:before {
    content: unicode($i-bag);
  }
}

.i-accessibility {
  &:before {
    content: unicode($i-accessibility);
  }
}
// V3
.i-calendar-comic {
  &:before {
    content: unicode($i-calendar-comic);
  }
}

.i-cards {
  &:before {
    content: unicode($i-cards);
  }
}

.i-filter {
  &:before {
    content: unicode($i-filter);
  }
}

.i-price {
  &:before {
    content: unicode($i-price);
  }
}

.i-reload {
  &:before {
    content: unicode($i-reload);
  }
}

.i-whatsapp {
  &:before {
    content: unicode($i-whatsapp);
  }
}
// V2.0.i-hours {
.i-hours {
  &:before {
    content: unicode($i-hours);
  }
}

.i-alert-circular-filling {
  &:before {
    content: unicode($i-alert-circular-filling);
  }
}

.i-alert-triangular-filling {
  &:before {
    content: unicode($i-alert-triangular-filling);
  }
}

.i-alert-triangular {
  &:before {
    content: unicode($i-alert-triangular);
  }
}

.i-arrow-down {
  &:before {
    content: unicode($i-arrow-down);
  }
}

.i-a-arrow-down {
  &:after {
    content: unicode($i-arrow-down);
  }
}

.i-arrow-left {
  &:before {
    content: unicode($i-arrow-left);
  }
}

.i-arrow-up {
  &:before {
    content: unicode($i-arrow-up);
  }
}

.i-bars {
  &:before {
    content: unicode($i-bars);
  }
}

.i-calendar {
  &:before {
    content: unicode($i-calendar);
  }
}

.i-check-circle2 {
  &:before {
    content: unicode($i-check-circle2);
  }
}

.i-check-ring {
  &:before {
    content: unicode($i-check-ring);
  }
}

.i-clock {
  &:before {
    content: unicode($i-clock);
  }
}

.i-download2 {
  &:before {
    content: unicode($i-download2);
  }
}

.i-graphs {
  &:before {
    content: unicode($i-graphs);
  }
}

.i-group-people {
  &:before {
    content: unicode($i-group-people);
  }
}

.i-hand-money {
  &:before {
    content: unicode($i-hand-money);
  }
}

.i-menu-bullets {
  &:before {
    content: unicode($i-menu-bullets);
  }
}

.i-menu-historical {
  &:before {
    content: unicode($i-menu-historical);
  }
}

.i-menu-list {
  &:before {
    content: unicode($i-menu-list);
  }
}

.i-menu-recent {
  &:before {
    content: unicode($i-menu-recent);
  }
}

.i-messages {
  &:before {
    content: unicode($i-messages);
  }
}

.i-phone-search {
  &:before {
    content: unicode($i-phone-search);
  }
}

.i-search-help {
  &:before {
    content: unicode($i-search-help);
  }
}

.i-star-edge {
  &:before {
    content: unicode($i-star-edge);
  }
}

.i-thief {
  &:before {
    content: unicode($i-thief);
  }
}

.i-x-ring {
  &:before {
    content: unicode($i-x-ring);
  }
}

.i-eye {
  &:before {
    content: unicode($i-eye);
  }
}
// V1.0
/**
 * @icon $i-share-google
 * @markup
 *  <span class="i-share-google"></span>
 */
.i-share-google {
  &:before {
    content: unicode($i-share-google);
  }
}
/**
 * @icon $i-share-facebook
 * @markup
 *  <span class="i-share-facebook"></span>
 */
.i-share-facebook {
  &:before {
    content: unicode($i-share-facebook);
  }
}
/**
 * @icon .twitter-comic
 * @markup
 *  <span class="i-twitter-comic"></span>
 */
.i-twitter-comic {
  &:before {
    content: unicode($i-twitter-comic);
  }
}

/**
 * @icon .tel-comic
 * @markup
 *  <span class="i-tel-comic"></span>
 */

.i-tel-comic {
  &:before {
    content: unicode($i-tel-comic);
  }
}

.i-substract {
  &:before {
    content: unicode($i-substract);
  }
}

/**
 * @icon .i-arrow-back
 * @markup
 *  <span class="i-arrow-back"></span>
 */
.i-arrow-back {
  &:before {
    content: unicode($i-arrow-back);
  }
}

/**
 * @icon .i-a-arrow-back
 * @markup
 *  <span class="i-a-arrow-back"></span>
 */

.i-a-arrow-back {
  &:after {
    content: unicode($i-arrow-back);
  }
}

/**
 * @icon .i-arrow-right
 * @markup
 *  <span class="i-arrow-right"></span>
 */
.i-arrow-right {
  &:before {
    content: unicode($i-arrow-right);
  }
}

/**
 * @icon .i-a-arrow-right
 * @markup
 *  <span class="i-a-arrow-right"></span>
 */

.i-a-arrow-right {
  &:after {
    content: unicode($i-arrow-right);
  }
}

.i-a-arrow-left {
  &:after {
    content: unicode($i-arrow-left);
  }
}

/**
 * @icon .i-add
 * @markup
 *  <span class="i-add"></span>
 */
.i-add {
  &:before {
    content: unicode($i-add);
  }
}
/**
 * @icon .i-box
 * @markup
 *  <span class="i-box"></span>
 */
.i-box {
  &:before {
    content: unicode($i-box);
  }
}
/**
 * @icon .i-bullet-comic
 * @markup
 *  <span class="i-bullet-comic"></span>
 */
.i-bullet-comic {
  &:before {
    content: unicode($i-bullet-comic);
  }
}
/**
 * @icon .i-camera
 * @markup
 *  <span class="i-camera"></span>
 */
.i-camera {
  &:before {
    content: unicode($i-camera);
  }
}
/**
 * @icon .i-cell-4g
 * @markup
 *  <span class="i-cell-4g"></span>
 */
.i-cell-4g {
  &:before {
    content: unicode($i-cell-4g);
  }
}
/**
 * @icon .i-cell-all
 * @markup
 *  <span class="i-cell-all"></span>
 */
.i-cell-all {
  &:before {
    content: unicode($i-cell-all);
  }
}
/**
 * @icon .i-cell-detail
 * @markup
 *  <span class="i-cell-detail"></span>
 */
.i-cell-detail {
  &:before {
    content: unicode($i-cell-detail);
  }
}
/**
 * @icon .i-cell-favorite
 * @markup
 *  <span class="i-cell-favorite"></span>
 */
.i-cell-favorite {
  &:before {
    content: unicode($i-cell-favorite);
  }
}
/**
 * @icon .i-cell-money
 * @markup
 *  <span class="i-cell-money"></span>
 */
.i-cell-money {
  &:before {
    content: unicode($i-cell-money);
  }
}

/**
 * @icon .i-cell-recharge
 * @markup
 *  <span class="i-cell-recharge"></span>
 */
.i-cell-recharge {
  &:before {
    content: unicode($i-cell-recharge);
  }
}

/**
 * @icon .i-cell-recharge
 * @markup
 *  <span class="i-cell-recharge"></span>
 */

.i-a-cell-recharge {
  &:after {
    content: unicode($i-cell-recharge);
  }
}

/**
 * @icon .i-cell-reload
 * @markup
 *  <span class="i-cell-reload"></span>
 */
.i-cell-reload {
  &:before {
    content: unicode($i-cell-reload);
  }
}
/**
 * @icon .i-cell-voice
 * @markup
 *  <span class="i-cell-voice"></span>
 */
.i-cell-voice {
  &:before {
    content: unicode($i-cell-voice);
  }
}
/**
 * @icon .i-cell
 * @markup
 *  <span class="i-cell"></span>
 */
.i-cell {
  &:before {
    content: unicode($i-cell);
  }
}
/**
 * @icon .i-chat-comic
 * @markup
 *  <span class="i-chat-comic"></span>
 */
.i-chat-comic {
  &:before {
    content: unicode($i-chat-comic);
  }
}
/**
 * @icon .i-chat
 * @markup
 *  <span class="i-chat"></span>
 */
.i-chat {
  &:before {
    content: unicode($i-chat);
  }
}
/**
 * @icon .i-check-circle
 * @markup
 *  <span class="i-check-circle"></span>
 */
.i-check-circle {
  &:before {
    content: unicode($i-check-circle);
  }
}
/**
 * @icon .i-check-comic
 * @markup
 *  <span class="i-check-comic"></span>
 */
.i-check-comic {
  &:before {
    content: unicode($i-check-comic);
  }
}
/**
 * @icon .i-check
 * @markup
 *  <span class="i-check"></span>
 */
.i-check {
  &:before {
    content: unicode($i-check);
  }
}
/**
 * @icon .i-conectivity
 * @markup
 *  <span class="i-conectivity"></span>
 */
.i-conectivity {
  &:before {
    content: unicode($i-conectivity);
  }
}
/**
 * @icon .i-download
 * @markup
 *  <span class="i-download"></span>
 */
.i-download {
  &:before {
    content: unicode($i-download);
  }
}
/**
 * @icon .i-email
 * @markup
 *  <span class="i-email"></span>
 */
.i-email {
  &:before {
    content: unicode($i-email);
  }
}
/**
 * @icon .i-facebook-fill
 * @markup
 *  <span class="i-facebook-fill"></span>
 */
.i-facebook-fill {
  &:before {
    content: unicode($i-facebook-fill);
  }
}
/**
 * @icon .i-facebook
 * @markup
 *  <span class="i-facebook"></span>
 */
.i-facebook {
  &:before {
    content: unicode($i-facebook);
  }
}
/**
 * @icon .i-house
 * @markup
 *  <span class="i-house"></span>
 */
.i-house {
  &:before {
    content: unicode($i-house);
  }
}
/**
 * @icon .i-logo-movistar
 * @markup
 *  <span class="i-logo-movistar"></span>
 */
.i-logo-movistar {
  &:before {
    content: unicode($i-logo-movistar);
  }
}
/**
 * @icon .i-money
 * @markup
 *  <span class="i-money"></span>
 */
.i-money {
  &:before {
    content: unicode($i-money);
  }
}
/**
 * @icon .i-phone
 * @markup
 *  <span class="i-phone"></span>
 */
.i-phone {
  &:before {
    content: unicode($i-phone);
  }
}
/**
 * @icon .i-search-nav
 * @markup
 *  <span class="i-search-nav"></span>
 */
.i-search-nav {
  &:before {
    content: unicode($i-search-nav);
  }
}
/**
 * @icon .i-search
 * @markup
 *  <span class="i-search"></span>
 */
.i-search {
  &:before {
    content: unicode($i-search);
  }
}
/**
 * @icon .i-send-comic
 * @markup
 *  <span class="i-send-comic"></span>
 */
.i-send-comic {
  &:before {
    content: unicode($i-send-comic);
  }
}
/**
 * @icon .i-shopping-car
 * @markup
 *  <span class="i-shopping-car"></span>
 */
.i-shopping-car {
  &:before {
    content: unicode($i-shopping-car);
  }
}
/**
 * @icon .i-star-comic
 * @markup
 *  <span class="i-star-comic"></span>
 */
.i-star-comic {
  &:before {
    content: unicode($i-star-comic);
  }
}
/**
 * @icon .i-star-fill
 * @markup
 *  <span class="i-star-fill"></span>
 */
.i-star-fill {
  &:before {
    content: unicode($i-star-fill);
  }
}
/**
 * @icon .i-star
 * @markup
 *  <span class="i-star"></span>
 */
.i-star {
  &:before {
    content: unicode($i-star);
  }
}
/**
 * @icon .i-success
 * @markup
 *  <span class="i-success"></span>
 */
.i-success {
  &:before {
    content: unicode($i-success);
  }
}
/**
 * @icon .i-total
 * @markup
 *  <span class="i-total"></span>
 */
.i-total {
  &:before {
    content: unicode($i-total);
  }
}
/**
 * @icon .i-twitter
 * @markup
 *  <span class="i-twitter"></span>
 */
.i-twitter {
  &:before {
    content: unicode($i-twitter);
  }
}
/**
 * @icon .i-user-comic
 * @markup
 *  <span class="i-user-comic"></span>
 */
.i-user-comic {
  &:before {
    content: unicode($i-user-comic);
  }
}
/**
 * @icon .i-a-user
 * @markup
 *  <span class="i-a-user"></span>
 */

.i-a-user {
  &:after {
    content: unicode($i-user);
  }
}
/**
 * @icon .i-user
 * @markup
 *  <span class="i-user"></span>
 */
.i-user {
  &:before {
    content: unicode($i-user);
  }
}
/**
 * @icon .i-x
 * @markup
 *  <span class="i-x"></span>
 */
.i-x {
  &:before {
    content: unicode($i-x);
  }
}
/**
 * @icon .i-youtube-circle
 * @markup
 * <span class="i-youtube-circle"></span>
 */
.i-youtube-circle {
  &:before {
    content: unicode($i-youtube-circle);
  }
}
/**
 * @icon .i-twitter-circle
 * @markup
 * <span class="i-twitter-circle"></span>
 */
.i-twitter-circle {
  &:before {
    content: unicode($i-twitter-circle);
  }
}
/**
 * @icon .i-facebook-circle
 * @markup
 * <span class="i-facebook-circle"></span>
 */
.i-facebook-circle {
  &:before {
    content: unicode($i-facebook-circle);
  }
}
/**
 * @icon .i-wifi
 * @markup
 * <span class="i-wifi"></span>
 */
.i-wifi {
  &:before {
    content: unicode($i-wifi);
  }
}
