.ban-band
  picture.ban-band__crop
    source(media='(max-width: 768px)', srcset='static/img/demo/banner-band_m.jpg')
    img.ban-band__img(src='static/img/demo/banner-band_xl.jpg', alt='Movistar')
  .ban-band__info
    p.ban-band__txt
      | Pásate a
      strong.ban-band__strong pospago
      | con Movistar y te regalamos 1 mes.
    a.ban-band__link(href='#', title='Ver planes postpago') Mira los Planes Pospago
