.ban-slot
  picture.ban-slot__crop
    source(media='(max-width: 480px)', srcset='static/img/demo/banner-grid2_sm.jpg')
    img.ban-slot__img(src='static/img/demo/banner-grid2.jpg', alt='Movistar')
  .ban-slot__info
    //p.ban-slot__def ¿Eres cliente movistar? recarga $200 y obtienes más MB por tu compra en línea
    p.ban-slot__txt ¿Eres cliente movistar? recarga $200 y obtienes más MB por tu compra en línea
    a.btn.btn_blue(href='#', title='Ver más recargas') Ver más recargas
