.band-banner
  .band-banner__bg
    img.band-banner__img(src='static/img/m-2.svg', alt='Movistar Brand')
    .band-banner__caption
      span.band-banner__txt Pásate a
        strong.band-banner__bold   postpago
        |   con Movistar y te regalamos 1 mes.
      a.band-banner__link.i-arrow-left(href='#', title='Ver mas planes') Mira los planes pospago
