//-Banner Home
.ban-hero.js-sliderHome1
  .ban-hero__item
    picture.ban-hero__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner-hero_xm.jpg')
      source(media='(max-width: 640px)', srcset='static/img/demo/banner-hero_sm.jpg')
      source(media='(max-width: 768px)', srcset='static/img/demo/banner-hero_m.jpg')
      source(media='(max-width: 1024px)', srcset='static/img/demo/banner-hero_l.jpg')
      img.ban-hero__img(src='static/img/demo/banner-hero_xl.jpg', alt='Movistar')
    .ban-hero__caption
      h2.ban-hero__title HOT
      h2.ban-hero__title SALE
      p.ban-hero__txt Nuestros descuentos se pondrán interesantes
  .ban-hero__item
    picture.ban-hero__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner-hero_xm.jpg')
      source(media='(max-width: 640px)', srcset='static/img/demo/banner-hero_sm.jpg')
      source(media='(max-width: 768px)', srcset='static/img/demo/banner-hero_m.jpg')
      source(media='(max-width: 1024px)', srcset='static/img/demo/banner-hero_l.jpg')
      img.ban-hero__img(src='static/img/demo/banner-hero_xl.jpg', alt='Movistar')
    .ban-hero__caption
      h2.ban-hero__title SALE
      p.ban-hero__txt Nuestros descuentos se pondrán interesantes
      a.ban-hero__link.btn.btn_blue(href='#', title='Ver promoción') Ver más
