section.layout_section
  .layout_inner-d
    .ban-window
      .ban-window__mask
        picture.ban-window__crop
          //source(media='(max-width: 480px)', srcset='static/img/demo/banner-frame_m.jpg')
          img.ban-window__img(src='static/img/demo/sim.png', alt='Movistar')
        img.ban-window__svg(src='static/img/m-rot-azul.svg', alt='Movistar')
      .ban-window__info
        p.ban-window__txt Disfruta los Beneficios de tener una SIM Prepago en Movistar por solo $60
        a.ban-window__btn.btn(href='#', title='Ir a comprar') Comprar
