//- Banner de la grilla de productos
.ban-slot
  picture.ban-slot__crop
    source(media='(max-width: 480px)', srcset='static/img/demo/banner-grid_sm.jpg')
    img.ban-slot__img(src='static/img/demo/banner-grid.jpg', alt='Movistar')
  .ban-slot__info
    p.ban-slot__txt Un Plan Anticipado siempre es mejor.
    p.ban-slot__def Contrata un plan y recibe hasta
      strong.ban-slot__strong 9 meses
      | de servicio gratis.
    a.btn.btn_blue(href='#', title='Ver más recargas') Ver más recargas
