section.layout_section
  .layout_inner-d
    .ban-publi
      .ban-publi__mask
        picture.ban-publi__crop
          source(media='(max-width: 480px)', srcset='static/img/demo/banner-publi.jpg')
          img.ban-publi__img(src='static/img/demo/banner-publi-xl.jpg', alt='Publi')
        img.ban-publi__svg(src='static/img/m-rot-azul.svg', alt='Publi')
      .ban-publi__info
        .ban-publi__txt 
          p.ban-publi__title Para el resto del mundo
          p.ban-publi__subtitle Llama desde México y mantente comunicado con tus amigos y familiares en todo el mundo.
