.ban-fullimage
  .ban-fullimage__info
    h2.ban-fullimage__title Internet para tu casa
    h3.ban-fullimage__subtitle Disfrútalo con comodidad
    p.ban-fullimage__txt Full Connection te brinda la opción de tecnología necesaria para que sea cero complicado estar conectado.
    a.ban-fullimage__btn.btn.btn_blue(href='#', title='Ver planes') Ver Planes
