if footSimple === true
  .board-foot__center
    button.board__btn.btn.btn__brand Comprar
    a.board__link.link__brand(href='car-checkout.html', title='Continuar sin servicios adicionales') Continuar sin servicios adicionales
else
  .board-foot
    .board-foot__box
      h4.board-foot__txt.subtitle_gral ¿Necesitas Ayuda?
      p.board__txt Para cualquier duda o reclamo por favor escribe un correo a
        a.board__link.link__brand(href='mailto:soporte-mx@telefonica.com', title='Escribir al correo') soporte-mx@telefonica.com
    a.board__btn.btn.btn__brand(href='malla.html', title='Volver a intentarlo') Volver a intentar
