.board__inner
  h2.board__title.title__main Detalles de tu compra
  section.board__cont
    .board-list
      p.title__gral  Orden No. 14525
    .board-list
      p.title__gral  Comprobante No. 1625 3- 32726
    dl.board-list
      dt.board-list__title.subtitle_gral Datos Personales
      dd.board-list__item Martina Fernandez
      dd.board-list__item martinana@gmail.com
      dd.board-list__item 5263 736 273
    .board-list
      h3.board-list__title.subtitle_gral Datos de Envío
      address.board-list__address Avenida Centenario 1540
        br
        | U-Hab Lomas de Centenario Casa No. 8
        br
        | Belém de la Flores.
        br
        | Ciudad de México 01630
  section.board__cont
    h4.board__txt.subtitle_gral Resumen de la compra
    include _row-order
  .board__prefoot
    .board__side
      h3.board__txt.subtitle_gral #{footTitle}
      p.board__txt #{footTxt}
        a.board__link.link__brand(href='mailto:soporte-mx@telefonica.com', title='Escribir al correo') soporte-mx@telefonica.com
    .list-order
      dl.list-order__row
        dt.list-order__label Impuestos
        dd.list-order__value $2.300
      dl.list-order__row
        dt.list-order__label Descuento
        dd.list-order__value $0
      dl.list-order__row
        dt.list-order__label.subtitle_gral Total
        dd.list-order__value $26.160
  footer.board__foot
    a.board__btn.btn.btn__brand(href='malla.html', title='Ir a la tienda') Volver a la tienda
    //-Queda pendiente el link a seguimiento-de-orden.html
    if footLink === true
      a.board__link.link__brand(href='malla.html', title='Sigue tu compra') Seguimiento de tu compra



