//- Links de las tabs
.board-tabs
  .board-tabs__links
    a.board-tabs__link(href='#tab1') Recargas Fijas
    a.board-tabs__link(href='#tab2') Recargas Personalizadas
  //-Tab #1 de recargas fijas
  #tab1.board-tabs__cont
    h2.board-tabs__title.section__head Selecciona una recarga
    .board-tabs__inner
      .board-tabs__crop
        //- Slider contenedor
        ul.board-tabs__slider
          //- Checkbox caja de box
          li.board-tabs__slide
            input.card-box__input(type='radio', name='recharge', value='recharge1', id='recharge1')
            label.card-box__slot(for='recharge1')
              span.card-box__txt-xl 1000 MB
              small.card-box__txt-sm $20
              ul.card-box__list
                li.card-box__item Minutos y SMS ilimitados
                li.card-box__item Whatsapp Ilimitado
                li.card-box__item Vigencia 30 días
              a.card-box__link.link__brand(href='#', title='Ver más información') Ver más información
          //- Checkbox caja de box
          li.board-tabs__slide
            input.card-box__input(type='radio', name='recharge', value='recharge2', id='recharge2', checked)
            label.card-box__slot(for='recharge2')
              span.card-box__txt-xl 2000 MB
              small.card-box__txt-sm $40
              ul.card-box__list
                li.card-box__item Minutos y SMS ilimitados
                li.card-box__item Whatsapp Ilimitado
                li.card-box__item Vigencia 30 días
              a.card-box__link.link__brand(href='#', title='Ver más información') Ver más información
          //- Checkbox caja de box
          li.board-tabs__slide
            input.card-box__input(type='radio', name='recharge', value='recharge3', id='recharge3')
            label.card-box__slot(for='recharge3')
              span.card-box__txt-xl 3000 MB
              small.card-box__txt-sm $60
              ul.card-box__list
                li.card-box__item Minutos y SMS ilimitados
                li.card-box__item Whatsapp Ilimitado
                li.card-box__item Vigencia 30 días
              a.card-box__link.link__brand(href='#', title='Ver más información') Ver más información
          //- Checkbox caja de box
          li.board-tabs__slide
            input.card-box__input(type='radio', name='recharge', value='recharge4', id='recharge4')
            label.card-box__slot(for='recharge4')
              span.card-box__txt-xl 3000 MB
              small.card-box__txt-sm $60
              ul.card-box__list
                li.card-box__item Minutos y SMS ilimitados
                li.card-box__item Whatsapp Ilimitado
                li.card-box__item Vigencia 30 días
              a.card-box__link.link__brand(href='#', title='Ver más información') Ver más información
        .board-tabs__controls
          button.slider__arrow.i-arrow-left.left
            span.slider__arrow-txt anterior
          button.slider__arrow.i-arrow-right.right
            span.slider__arrow-txt siguiente
  //- Tab #2 de recargas personalizadas
  #tab2.board-tabs__cont
    h2.board-tabs__title.section__head Haz una recarga personalizada
    //- Input de valor de recarga
    form.form-tab.validate(action="")
      //- input search
      .input-search
        label.input-search__label Ingresa el valor de la recarga
        small.form__alert(name="recarga")
        small.input-search__tape $
        input.input-search__input(type='search', placeholder='Ej: 80', data-validate='value', name='recarga')
        button.input-search__btn(type='submit') Consultar beneficios
    //- Lista de 3 columnas
    .list-3col
      dl.list-3col__row
        dt.list-3col__label Beneficios
        dd.list-3col__num.list-3col__num_left 650 MB
      dl.list-3col__row
        dt.list-3col__label Saldo Adicional
        dd.list-3col__num $20
      dl.list-3col__row
        dt.list-3col__label Recarga
        dd.list-3col__num.list-3col__num_right $80
    .board-tabs__cols
      //- Lista con viñeta
      ul.board-tabs__col.list-bullet
        li.list-bullet__item Minutos y SMS ilimitados
        li.list-bullet__item Whatsapp Ilimitado
        li.list-bullet__item Vigencia 30 días
      .board-tabs__col
        p.board-tabs__txt Si tu recarga termina, los consumos de llamadas, datos o SMS se harán sobre el saldo.
        p.board-tabs__txt El costo por 1 sms, 1MB o 1 minutos es de $0.98 mxn.

