section.layout_section
  .layout_inner-d
    section.box-square
      div.box-square__list
        article.box-square__item
          h4.box-square__title Pásate a Movistar
          p.box-square__description
            |Con tu mismo número y desde la comodidad de tu casa
        article.box-square__item
          h4.box-square__title ¿Eres de los nuestros?
          p.box-square__description
            |Conoce todos los servicios todos los servicios de nuestro eCare.