section.layout_section
  .layout_inner-d
    section.card-brand
      .card-brand__inner
        .card-brand__item.card-brand__item_left
          .card-brand__info
            .card-brand__icon.i-messages
            .card-brand__txt
              .card-brand__title Minutos y mensajes
              .card-brand__description ¡Obtén más minutos y más SMS a un súper precio!
        .card-brand__item.card-brand__item_right
          .card-brand__info
            .card-brand__icon.i-youtube-fill
            .card-brand__txt
              .card-brand__title Ponle play a tu entretenimiento
              .card-brand__description Con los paquetes YouTube + Netflix disfruta tu contenido favorito durante el tiempo que necesites sin detener tu diversión.