header.board__top-head.card-top__warning
  p.subtitle_gral Pago pendiente
  .card-ico.card-ico__warning
    h1.card-ico__title.i-x-ring Tu pago no se ha podido procesar
    p.card-ico__txt Descripción del error del pago devuelto por flap.
