//- Productos sugeridos en el carrito de compras
.band_warm
  .layout_inner
    .product-suggested
      //-Título del Bloque [slider-productos] - Header
      h3.section__head.product-suggested__title Te podría interesar
      p.section__subhead.product-suggested__subtitle Una serie de accesorios para completar tu compra.
      //-Caja contenedora [slider-productos] - Main
      .product-suggested__inner
        //-Mascara contenedora (Permite las flechas por fuera)
        .slider-showcase
          //-Clase para slick de javascript
          ul.slider-showcase__list
            li.slider-showcase__slot
              img.slider-showcase__img(src="static/img/demo/cart-showcase.jpg", alt="Producto sugerido")
              .slider-showcase__content
                .rating
                  figure.rating__stars
                    img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                p.slider-showcase__title Cargador inalámbrico
                //- Precio
                a.slider-showcase__link.i-shopping-car.btn(href="#", title="Agregar al carrito") Agregar al carrito
            li.slider-showcase__slot
              img.slider-showcase__img(src="static/img/demo/cart-showcase.jpg", alt="Producto sugerido")
              .slider-showcase__content
                .rating
                  figure.rating__stars
                    img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                p.slider-showcase__title Cargador inalámbrico
                //- Precio
                a.slider-showcase__link.i-shopping-car.btn(href="#", title="Agregar al carrito") Agregar al carrito
            li.slider-showcase__slot
              img.slider-showcase__img(src="static/img/demo/cart-showcase.jpg", alt="Producto sugerido")
              .slider-showcase__content
                .rating
                  figure.rating__stars
                    img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                p.slider-showcase__title Cargador inalámbrico
                //- Precio
                a.slider-showcase__link.i-shopping-car.btn(href="#", title="Agregar al carrito") Agregar al carrito
            li.slider-showcase__slot
              img.slider-showcase__img(src="static/img/demo/cart-showcase.jpg", alt="Producto sugerido")
              .slider-showcase__content
                .rating
                  figure.rating__stars
                    img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                p.slider-showcase__title Cargador inalámbrico
                //- Precio
                a.slider-showcase__link.i-shopping-car.btn(href="#", title="Agregar al carrito") Agregar al carrito
            li.slider-showcase__slot
              img.slider-showcase__img(src="static/img/demo/cart-showcase.jpg", alt="Producto sugerido")
              .slider-showcase__content
                .rating
                  figure.rating__stars
                    img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                p.slider-showcase__title Cargador inalámbrico
                //- Precio
                a.slider-showcase__link.i-shopping-car.btn(href="#", title="Agregar al carrito") Agregar al carrito
        .slider-showcase__controls
          button.slider__arrow.i-arrow-left.prev
            span.slider__arrow-txt anterior
          button.slider__arrow.i-arrow-left.next
            span.slider__arrow-txt siguiente

