.card-box(data-radio-name="sim1")
  span.card-box__txt-xl 3000 MB
    small.card-box__txt-sm $60
  ul.card-box__list
    li.card-box__item Minutos y SMS ilimitados
    li.card-box__item Whatsapp Ilimitado
    li.card-box__item Vigencia 30 días
a.card-box__link.link__brand(href='#', title='Ver más información', data-radio-name="sim1") Ver más información

.card-box(data-radio-name="sim2")
  span.card-box__txt-xl 3000 MB
    small.card-box__txt-sm $120
  ul.card-box__list
    li.card-box__item Minutos y SMS ilimitados
    li.card-box__item Whatsapp Ilimitado
    li.card-box__item Vigencia 30 días
a.card-box__link.link__brand(href='#', title='Ver más información', data-radio-name="sim2") Ver más información

.card-box(data-radio-name="sim3")
  span.card-box__txt-xl 3000 MB
    small.card-box__txt-sm $160
  ul.card-box__list
    li.card-box__item Minutos y SMS ilimitados
    li.card-box__item Whatsapp Ilimitado
    li.card-box__item Vigencia 30 días
a.card-box__link.link__brand(href='#', title='Ver más información', data-radio-name="sim3") Ver más información

.card-box(data-radio-name="sim4")
  span.card-box__txt-xl 3000 MB
    small.card-box__txt-sm $260
  ul.card-box__list
    li.card-box__item Minutos y SMS ilimitados
    li.card-box__item Whatsapp Ilimitado
    li.card-box__item Vigencia 30 días
a.card-box__link.link__brand(href='#', title='Ver más información', data-radio-name="sim4") Ver más información


//- .card-box(data-radio-name="sim2")
//-   span.card-box__txt-xl 3000 MB
//-     small.card-box__txt-sm $200
//-   ul.card-box__list
//-     li.card-box__item Minutos y SMS ilimitados
//-     li.card-box__item Whatsapp Ilimitado
//-     li.card-box__item Vigencia 30 días
//- .card-box(data-radio-name="sim3")
//-   span.card-box__txt-xl 3000 MB
//-     small.card-box__txt-sm $200
//-   ul.card-box__list
//-     li.card-box__item Minutos y SMS ilimitados
//-     li.card-box__item Whatsapp Ilimitado
//-     li.card-box__item Vigencia 30 días
