.card-radio
  span.card-radio__title Precio
  ul.card-radio__list
    li.card-radio__item
      input.card-radio__input(type='radio', id='sim1', name='priceSim')
      label.card-radio__label(for='sim1') $60 Sólo SIM
    li.card-radio__item
      input.card-radio__input(type='radio', id='sim2', name='priceSim')
      label.card-radio__label(for='sim2') $60 SIM + Recarga $60
    li.card-radio__item
      input.card-radio__input(type='radio', id='sim3', name='priceSim')
      label.card-radio__label(for='sim3') $60 SIM + Recarga $100
    li.card-radio__item
      input.card-radio__input(type='radio', id='sim4', name='priceSim', checked)
      label.card-radio__label(for='sim4') $60 SIM + Recarga $200
