header.board__top-head.card-top__ok
  p.subtitle_gral Gracias por tu compra
  .card-ico.card-ico__ok
    h1.card-ico__title.i-check-ring Tu pago fue realizado exitosamente
    p.card-ico__txt A continuación puedes ver el comprobante de tu compra.
