if noIco === true
  header.card-top__ok
    .card-ico.card-ico__ok
      h1.card-ico__title Servicios Adicionales
      p.card-ico__txt Selecciona el servicio que quieres comprar.
else
  header.board__top-head.card-top__ok
    p.subtitle_gral Pago pendiente
    .card-ico.card-ico__ok
      h1.card-ico__title.i-download2 Aprovecha y recarga tu SIM Movistar
      p.card-ico__txt Puedes seleccionar una recarga fija o personalizar el valor.
