ul.data-sheet__list.js-listData
  //- #Item 1
  li.data-sheet__item
    figure.data-sheet__crop
      img.data-sheet__img(src='static/img/demo/grid-001.jpg', alt='Apple Iphone X')
    .data-sheet__group
      h3.data-sheet__txt Apple Iphone X
      p.data-sheet__value $1.990
        span.data-sheet__crossed /$2,499
  //- #Item 2
  li.data-sheet__item
    figure.data-sheet__crop
      img.data-sheet__img(src='static/img/demo/grid-001.jpg', alt='Apple Iphone X')
    .data-sheet__group
      h3.data-sheet__txt Apple Iphone X
      p.data-sheet__value $1.990
        span.data-sheet__crossed /$2,499
  //- #Item 3
  li.data-sheet__item
    figure.data-sheet__crop
      img.data-sheet__img(src='static/img/demo/grid-001.jpg', alt='Apple Iphone X')
    .data-sheet__group
      h3.data-sheet__txt Apple Iphone X
      p.data-sheet__value $1.990
        span.data-sheet__crossed /$2,499
  //- #Item 4
  li.data-sheet__item
    figure.data-sheet__crop
      img.data-sheet__img(src='static/img/demo/grid-001.jpg', alt='Apple Iphone X')
    .data-sheet__group
      h3.data-sheet__txt Apple Iphone X
      p.data-sheet__value $1.990
        span.data-sheet__crossed /$2,499
  //- #Item 5
  li.data-sheet__item
    figure.data-sheet__crop
      img.data-sheet__img(src='static/img/demo/grid-001.jpg', alt='Apple Iphone X')
    .data-sheet__group
      h3.data-sheet__txt Apple Iphone X
      p.data-sheet__value $1.990
        span.data-sheet__crossed /$2,499
