form.form.validate(action='', method='')
  fieldset.form__section
    .form__row-high
      p.form__txt El correo que ingresaste no está registrado en la Tienda Movistar. Puedes
        a.link__brand(href='#', title='Ingresar otro correo')    ingresar otro correo
        |, o registrar este correo ingresando los datos en el siguiente formulario.
    .form__row-gral
      legend.form__title-section Datos personales
    .form__row-gral.form__row-none
      label.form__label Nombre
      input.form__input(placeholder='Escribe tu nombre', type="text", name="nombre", data-validate='name')
      small.form__alert(name="nombre")
    .form__row-gral.form__row-none
      label.form__label Apellidos
      input.form__input(placeholder='Escribe tu apellido', type="text", name="apellido", data-validate='lastName')
      small.form__alert(name="apellido")
    .form__row-gral.form__row-none
      label.form__label Teléfono
      input.form__input(placeholder='+571 222 415112', type="text", name="telefono", data-validate='phone')
      small.form__alert(name="telefono")
    .form__row-gral.form__row-none
      label.form__label Correo electrónico
      input.form__input(placeholder='Escribe tu correo electrónico', type="email", name="email", data-validate='email')
      small.form__alert(name="email")
    .form__row
      label.form__label(for='passShow') Contraseña
      .form__relative
        input.form__input(placeholder='Escribe tu contraseña', type="password", name='contraseña')
        button.form__ico.form__js-ico.i-eye(type='')
      small.form__alert(name="contraseña")
    .form__row
      input.form__check(type='checkbox', id='add2', checked, name="avisoPrivacidad", data-validate='checkPrivacy')
      label.form__label_check.i-check(for='add2')
        a.form__link.link(href='#', title='Aviso de privacidad') Acepto aviso de privacidad
      small.form__alert(name="avisoPrivacidad")
    .form__row
      button.form__btn.btn(type="submit") Continuar
