form.form.validate(action='/car-datos-de-facturacion.html', method='')
  //- Selección 1 Enviar a mi casa
  fieldset.form__section
    .form__none
      .form__row-high
        input.form__radio(type='radio', id='inv-mail1', name='inv-mail', onclick="dropDownRadio(this)", checked)
        label.form__radio_label(for='inv-mail1') Enviar a mi casa
        small.form__txt-sm Selecciona una dirección de envío o ingresa un nueva dirección.
        .form__row-innerside
          .form__row-gral
            legend.form__title-section Selecciona una dirección
          .form__row-gral
            input.form__radio(type='radio', id='shipping1', name='shipping' checked)
            label.form__radio_label(for='shipping1') Enviar a mi casa
            address.form__txt-style
              | Avenida Centenario 1540
              br
              | U-Hab Lomas de Centenario Casa No. 8
              br
              | Belém de la Flores.
              br
              | Ciudad de México 01630
          .form__row-inner
            .box-links
              a.box-links__link.link__brand(href='#', title='Editar') Editar
              a.box-links__link.link__brand(href='#', title='Eliminar') Eliminar
          .form__row-gral
            input.form__radio(type='radio', id='shipping2', name='shipping')
            label.form__radio_label(for='shipping2') Casa de mi madre
            address.form__txt-style
              | 420 Boynton Avenida 13, apto. 216 San José,
              br
              | CA 95117-1404
              br
              | Colonia Juárez
              br
              | Ciudad de México 01630
          .form__row-inner
            .box-links
              a.box-links__link.link__brand(href='#', title='Editar') Editar
              a.box-links__link.link__brand(href='#', title='Eliminar') Eliminar
          .form__row-inner
            button.anchor-item.i-arrow-back(type="button",onclick="dropDownButton(this)") Añadir nueva dirección de envío
            .form__cont
              .form__row-gral
                label.form__label-light Nombre de la dirección
                input.form__input(placeholder='Oficina', type="text")
              .form__row-gral
                label.form__label-light Código postal
                input.form__input(placeholder='00000', type="text")
              .form__row-gral.form__row-none
                label.form__label-ico.i-star-fill Calle
                input.form__input.reqCalle(placeholder='Escribe tu domicilio', type="text", name="calle", data-validate='street')
                small.form__alert(name="calle")
                .form__grid
                  .form__grid__item
                    input.form__input(placeholder='Número', type="text", name="calleNumero", data-validate='streetNumber')
                    small.form__alert(name="calleNumero")
                  .form__grid__item
                    input.form__input(placeholder='Colonia', type="text", name="calleColonia", data-validate='streetColony')
                    small.form__alert(name="calleColonia")
              .form__row-gral.form__row-none
                label.form__label-ico.i-star-fill(for="ciudad") Ciudad
                .form__inner-select.i-a-arrow-down
                  select.form__select(name="ciudad", data-validate='city')
                    option(value="") Selecciona
                    option(value="ciudad-1") opcion 1
                    option(value="ciudad-2") opcion 2
                small.form__alert(name="ciudad")
              .form__row.form__row-none
                label.form__label-ico.i-star-fill(for="municipio") Delegación o Municipio
                .form__inner-select.i-a-arrow-down
                  select.form__select(name="municipio", data-validate='municipality')
                    option(value="") Selecciona
                    option(value="municipio-1") opcion 1
                    option(value="municipio-2") opcion 2
                small.form__alert(name="municipio")
              .form__row-gral
                input.form__check(type='checkbox', id='add1')
                label.form__label_check.i-check(for='add1') Añadir y enviar el pedido a esta nueva dirección
              .form__row-gral
                input.form__check(type='checkbox', id='add2', name='add2', data-validate='checkPrivacy')
                label.form__label_check.i-check(for='add2')
                  a.form__link.link(href='#', title='Aviso de privacidad') Acepto aviso de privacidad
                small.form__alert(name="add2")
              .form__row-gral
                input.form__check(type='checkbox', id='add3')
                label.form__label_check.i-check(for='add3') Establecer como mi dirección predeterminada
  //- Selección 2 Pasar a la tienda
  fieldset.form__section
    .form__row-gral
      input.form__radio(type='radio', id='inv-mail2', name='inv-mail', onclick="dropDownRadio(this)")
      label.form__radio_label(for='inv-mail2') Pasar a la tienda
      small.form__txt-sm Encuentra la tienda más cercana donde quieres recoger.
      .form__row-innerside
        .form__row-inner
          label.form__label-light Código postal
          span.search__form
            input.search__input(type="text", placeholder="00000", name="search")
            button.search__btn.i-search(type="submit") Buscar
        .form__row-inner
          label.form__label-light Nombre de un lugar cercano dónde puedas recoger tu celular.
          span.search__form
            input.search__input(type="text", placeholder="Ej: Centro historico", name="search")
            button.search__btn.i-search(type="submit") Buscar
        .form__row-inner.form__box_under
          .form__row-high
            legend.form__title-section Selecciona una tienda en la lista
          .form__row-gral
            input.form__radio(type='radio', id='cac1', name='cac' checked)
            label.form__radio_label(for='cac1') CAC Centro Histórico
            address.form__txt-style
              | Centro, 06000, Calle de Motolinia 34, Centro Histórico
              br
              | Teléfonos: 253 2736 374
              br
              | Horario de Atención: 10am a 9pm
          .form__row-gral
            input.form__radio(type='radio', id='cac2', name='cac')
            label.form__radio_label(for='cac2') CAC Centro Histórico Sucursal 2
            address.form__txt-style
              | Centro, 06000, Calle de Motolinia 34, Centro Histórico
              br
              | Teléfonos: 253 2736 374
              br
              | Horario de Atención: 10am a 9pm
          .form__row-gral
            input.form__radio(type='radio', id='cac3', name='cac')
            label.form__radio_label(for='cac3') CAC Centro Histórico Sucursal 3
            address.form__txt-style
              | Centro, 06000, Calle de Motolinia 34, Centro Histórico
              br
              | Teléfonos: 253 2736 374
              br
              | Horario de Atención: 10am a 9pm
    .form__row-high
      input.form__check(type='checkbox', id='inv1', name='inv')
      label.form__label_check.i-check(for='inv1') Deseo recibir una factura por mi compra
    .form__row
      //a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar
      button.form__btn.btn(type="submit") Continuar
