form#payment.form.validate(action='/car-datos-de-facturacion.html', method='')
  .form__row-high
    p.form__txt Selecciona el método de pago o ingresa los datos:
  fieldset.form__box
    .form__row
      legend.form__title-section(onclick='dropDownRadio(this)') Tus tarjetas de crédito
    .js-formDropdown
      .form__row-gral.form__radio_box
        input.form__radio(type='radio', id='creditcard1', name='creditcard', data-validate='radio')
        label.form__radio_label.form__radio_label-brand(for='creditcard1') Tarjeta VISA terminada en 7650
        a.form__link.link__brand(href='#', title='Eliminar') Eliminar
      .form__row-none.form__radio_box
        input.form__radio(type='radio', id='creditcard2', name='creditcard', data-validate='radio')
        label.form__radio_label.form__radio_label-brand(for='creditcard2') Tarjeta VISA terminada en 7567
        a.form__link.link__brand(href='#', title='Eliminar') Eliminar
      small.form__alert(name="creditcard")
  .form__box.form__box_under
    .form__row
      button.form__title-section(onclick='dropDownRadio(this)') Nuevo método de pago
    .form__radio-grid.js-formDropdown
      //- Grid de radiobuttons
      ul.form__radio-boll
        li.radio-boll__item
          input.radio-boll__input(id="radioboll1", type="radio", name="radiobolls", data-validate='radio')
          label.radio-boll__label(for="radioboll1") Tarjeta de crédito
        li.radio-boll__item
          input.radio-boll__input(id="radioboll2", type="radio", name="radiobolls", data-validate='radio')
          label.radio-boll__label(for="radioboll2") Tarjeta Débito
        li.radio-boll__item
          input.radio-boll__input(id="radioboll3", type="radio", name="radiobolls", data-validate='radio')
          label.radio-boll__label(for="radioboll3") Pago en ventanilla
        li.radio-boll__item
          input.radio-boll__input(id="radioboll4", type="radio", name="radiobolls", data-validate='radio')
          label.radio-boll__label.radio-boll__img(for="radioboll4") PayPal
      small.form__alert(name="radiobolls")
  .form__row
    input.form__check(type='checkbox', id='terms1', name='terms', checked)
    label.form__label_check.i-check(for='terms1')
      a.form__link.link_under(href='#', title='Términos y condiciones')  Acepto términos y condiciones
  .form__row
    button.form__btn.btn Pagar
