// Grid-thumb
.grid-thumb
  .grid-thumb__slot
    input.list-thumb__input(id="price1", type="radio", checked="checked", name="prices")
    label.list-thumb__boll(for="price1") $23.499
    span.list-thumb__txt Equipo libre
  .grid-thumb__slot
    input.list-thumb__input(id="price2", type="radio", name="prices")
    label.list-thumb__boll(for="price2") $23.499
    span.list-thumb__txt Equipo + Plan ($180/mes) Wow!!
  .grid-thumb__slot
    input.list-thumb__input(id="price3", type="radio", name="prices")
    label.list-thumb__boll.list-thumb__small(for="price3") $23.499
    span.list-thumb__txt Cámbiate a Movistar con este equipo
  .grid-thumb__slot
    input.list-thumb__input(id="price4", type="radio", name="prices")
    label.list-thumb__boll.list-thumb__small(for="price4") $23.499
    span.list-thumb__txt Equipo + SIM Prepago
    span.tag.tag_yellow Portabilidad
