.pager.grid__pager
  button.pager__btn.pager__btn_back.i-arrow-left Atrás
  ul.pager__list
    li.pager__item.pager__item_active
      button.pager__item-btn 1
    li.pager__item
      button.pager__item-btn 2
    li.pager__item
      button.pager__item-btn 3
    li.pager__item
      button.pager__item-btn 4
    li.pager__item
      button.pager__item-btn 5
  button.pager__btn.i-arrow-left Siguiente
