//-.grid de malla-marca.html & malla-modulo.html
//item 1
article.grid__slot
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/samsung-galaxy-grand.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title Samsung Galaxy X
            p.grid__ref Prime Plus 16 GB

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color1",
                type="radio",
                checked="checked",
                name="colors1")
              label.list-thumb__circle(
                for="color1",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color2",
                type="radio",
                name="colors1")
              label.list-thumb__circle(
                for="color2",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color3",
                type="radio",
                name="colors1")
              label.list-thumb__circle(
                for="color3",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color4",
                type="radio",
                name="colors1")
              label.list-thumb__circle(
                for="color4",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 2
article.grid__slot
  .grid__tags
    span.tag.tag_min.tag_blue Meses sin interes
    span.tag_corner.tag_corner-yellow.i-triangle -50%
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/grid-001.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title APPLE  - Iphone X
            p.grid__ref ABD478

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color5",
                type="radio",
                checked="checked",
                name="colors2")
              label.list-thumb__circle(
                for="color5",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color6",
                type="radio",
                name="colors2")
              label.list-thumb__circle(
                for="color6",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color7",
                type="radio",
                name="colors2")
              label.list-thumb__circle(
                for="color7",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color8",
                type="radio",
                name="colors2")
              label.list-thumb__circle(
                for="color8",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 3
article.grid__slot
  .grid__tags
    span.tag.tag_min.tag_yellow Por poco tiempo
    //-span.tag_corner.tag_corner-red.i-triangle Hot
    //-span.tag.tag_min.tag_purple 5 H 22 Min de Promoción
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/samsung-galaxy-grand.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title Samsung Galaxy
            p.grid__ref Prime Plus 16GB
          small.grid__ico.i-accessibility Accesibilidad

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color9",
                type="radio",
                checked="checked",
                name="colors3")
              label.list-thumb__circle(
                for="color9",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color10",
                type="radio",
                name="colors3")
              label.list-thumb__circle(
                for="color10",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color11",
                type="radio",
                name="colors3")
              label.list-thumb__circle(
                for="color11",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color12",
                type="radio",
                name="colors3")
              label.list-thumb__circle(
                for="color12",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 4
article.grid__slot
  .grid__tags
    span.tag.tag_min.tag_yellow Por poco tiempo
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/samsung-galaxy-grand2.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title Samsung Galaxy Grand
            p.grid__ref Prime Plus 16GB

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-5.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color18",
                type="radio",
                checked="checked",
                name="colors7")
              label.list-thumb__circle(
                for="color18",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color19",
                type="radio",
                name="colors7")
              label.list-thumb__circle(
                for="color19",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color20",
                type="radio",
                name="colors7")
              label.list-thumb__circle(
                for="color20",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color21",
                type="radio",
                name="colors7")
              label.list-thumb__circle(
                for="color21",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 5
article.grid__slot
  .grid__tags
    //-span.tag.tag_min.tag_yellow Por poco tiempo
    span.tag_corner.tag_corner-red.i-triangle Hot
    //-span.tag.tag_min.tag_purple 5 H 22 Min de Promoción
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/samsung-galaxy-grand3.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title Samsung Galaxy
            p.grid__ref Prime Plus 16GB

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color22",
                type="radio",
                checked="checked",
                name="colors9")
              label.list-thumb__circle(
                for="color22",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color23",
                type="radio",
                name="colors8")
              label.list-thumb__circle(
                for="color23",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color23",
                type="radio",
                name="colors8")
              label.list-thumb__circle(
                for="color23",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color24",
                type="radio",
                name="colors8")
              label.list-thumb__circle(
                for="color24",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 6 SIM
article.grid__slot.grid__slot_unique
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-sim.html")
        img.grid__img(src='static/img/demo/sim.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-sim.html")
            h2.grid__title SIM
            p.grid__ref Llamadas, MSM e internet
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 7
article.grid__slot
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/grid-001.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title APPLE  - Iphone X
            p.grid__ref ABD478

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color26",
                type="radio",
                checked="checked",
                name="colors9")
              label.list-thumb__circle(
                for="color26",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color27",
                type="radio",
                name="colors9")
              label.list-thumb__circle(
                for="color27",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color28",
                type="radio",
                name="colors9")
              label.list-thumb__circle(
                for="color28",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color29",
                type="radio",
                name="colors9")
              label.list-thumb__circle(
                for="color29",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
//item 8
article.grid__banner
  img.grid__art(src=gridImg)
//item 9
article.grid__slot
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/grid-001.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title APPLE  - Iphone X
            p.grid__ref ABD478

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color30",
                type="radio",
                checked="checked",
                name="colors10")
              label.list-thumb__circle(
                for="color30",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color31",
                type="radio",
                name="colors10")
              label.list-thumb__circle(
                for="color31",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color32",
                type="radio",
                name="colors10")
              label.list-thumb__circle(
                for="color32",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color33",
                type="radio",
                name="colors10")
              label.list-thumb__circle(
                for="color33",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__label Desde
        .grid__blocks
          .grid__price
            small.grid__label_brand2 Plan / mes
            .grid__value $ 1,999
          .grid__price
            small.grid__label_brand Prepago
            .grid__value $ 1,999
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
