if homeHead === true
  header.head-section
    h2.head-section__subtitle Teléfonos
else
  header.head-section
    img.head-section__img(src='static/img/demo/apple.svg', alt='Apple Iphone X')
    h1.head-section__title Apple - iPhone
    h2.head-section__subtitle Destacados
