//Hero slider - malla terminales
.hero-img.hero-top
  .hero-img__item
    //img.hero-img__img(src='static/img/m-2.svg', alt='Movistar Brand')
    //- .hero-img__caption
    //-   h2.hero-img__title Vibra.
    //-   span.hero-img__txt Haz de cada foto una publicación, cambia la manera en que el mundo te ve a través de los lentes HUAWEI P10.
    //-   span.hero-img__txt-bold Redeﬁne el retrato moderno.

