.es-history-data
  table.es-table-data
    tbody.es-table-data__content
      tr.es-table-data__row.es-table-data__status-on
        td.es-table-data__cell Hoy con Movistar obtienes el doble de minutos con recargas mayores a $100 pesos. Obtén más información en <a class="active link" href="#">PAQUETES</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row.es-table-data__status-on
        td.es-table-data__cell Sorprende a papá con un nuevo celular. Compra en nuestro eShop y obtén un descuento ingresando el código #DíaDelPadre Más información en <a class="active link" href="#">TIENDA</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row.es-table-banner
        td.es-table-banner__cell(colspan="2")
          .es-table-banner__wrap
            button.es-table-banner__btn-close.i-x.js-btnCloseBanner
            picture.ban-publi__crop
              source(media="(max-width: 979px)" srcset="static/img/demo/historic-photo-banner-mobile.png")
              img.es-table-banner__img.ban-publi__img(src="static/img/demo/historic-photo-banner.png")
            .es-table-banner__info
              .es-table-banner__txt
                p.es-table-banner__title El plan es que tu papá estrene
                p.es-table-banner__subtitle
                  |Compra un smartphone y 3 meses de renta gratis. Con el código
                  span.es-table-banner__tag #DíaDelPadre
                a.es-table-banner__btn.btn_blue(href="#") Comprar
      tr.es-table-data__row
        td.es-table-data__cell ¿Quieres más tiempo para conversar? Si Recargas $100 desde nuestro portal web te regalamos $40 <a class="active link" href="#">RECARGAR</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Juan, tu recarga de $100 pesos fue exitosa. Te invitamos a conocer el detalle de tus consumo en nuestro portal web <a class="active link" href="#">MIS SALDOS</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Juan, tu saldo está a punto de terminar. Activa un nuevo plan y no dejes de hablar con tus seres queridos <a class="active link" href="#">ACTIVAR UN PAQUETE</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell ¿Sabías que puedes recargar tu linea Movistar sin salir de tu casa? <a class="active link" href="#">RECARGAS ONLINE</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Hola Juan, tu PAQUETE vence mañana. Renueva tu plan Rollover y no perderás tus megas. ¿Quieres recargar ahora? <a class="active link" href="#">RECARGAS</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Hola Juan, tu nueva linea Movistar fue activada exitosamente. Disfruta de todos los beneficios que tenemos desde nuestro <a class="active link" href="#">TIENDA</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Hola Juan, tu linea fue suspendido por robo. Para reactivarla debes seguir los siguientes pasos <a class="active link" href="#">AYUDA</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Hola Juan, Estamos estudiando tu queja. Tu tíquet es #182736 y puedes consultar el estado de tu queja desde nuestro portal WEB <a class="active link" href="#">QUEJAS Y RECLAMOS</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell Hola Juan, tu pago fue aprovado, estamos preparando tu pedido para ser enviado. Recuerda que puedes seguir tu pedido desde <a class="active link" href="#">SEGUIMIENTO DE ORDEN</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
      tr.es-table-data__row
        td.es-table-data__cell ¡Bienvenido a Movistar Juan! Todo el equipo de Movistar estará dispuesto ayudarte con tu nueva linea en <a class="active link" href="#">ECARE</a>
        td.es-table-data__cell 05/06/18
          button.es-table__btn-actions.i-menu-bullets.js-btnTooltipData  menú de acciones
          ul.es-table__actions.js-tooltipData.js-tooltipData-close
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="MArcar como no leida") Marcar como no leida
            li.es-table__actions-item
              a.es-table__actions-link.es-link_brand(href="#", title="Eliminar") Eliminar
