//- Menú promocional
.info-prom
  .info-prom__inner
    dl.info-prom__list
      dt.info-prom__title Beneficios que tienes al comprar en Movistar
      dd.info-prom__item.i-calendar-comic Meses sin intereses
      dd.info-prom__item.i-cards Múltiples opciones de pago
      dd.info-prom__item.i-price Los mejores precios
