// List-thumb
ul.list-thumb
  li.list-thumb__item
    input.list-thumb__input(id="color1", type="radio", checked="checked", name="colors")
    label.list-thumb__circle.list-thumb__circle_5(for="color1")
  li.list-thumb__item
    input.list-thumb__input(id="color2", type="radio", name="colors")
    label.list-thumb__circle.list-thumb__circle_1(for="color2")
  li.list-thumb__item
    input.list-thumb__input(id="color3", type="radio", name="colors")
    label.list-thumb__circle.list-thumb__circle_3(for="color3")
  li.list-thumb__item
    input.list-thumb__input(id="color4", type="radio", name="colors")
    label.list-thumb__circle.list-thumb__circle_4(for="color4")
