// List-bullet
ul.list-bullet
  li.list-bullet__item Pantalla Super Retina HD
  li.list-bullet__item Cámaras de 12 MP con gran angular y teleobjetivo
  li.list-bullet__item Grabación de video 4K a 24 cps, 30 cps o 60 cps
  li.list-bullet__item Hasta 2 horas más de batería que el iPhone 7
