.board-slider
  form.list-radio
    //- slider para mobile
    ul.list-radio__list
      //- Item #1
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist1', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist1')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-cloud.svg', alt='Cloud')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
                //- Contenido sólo con el click ver más
        .tooltip
          figure.tooltip__fig
            img.tooltip__img(src='static/img/brands/brand-cloud.svg', alt='Cloud')
          p.tooltip__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
          .tooltip__foot
            .tooltip__col
              small.tooltip__txt-sm Llévalo a
              p.tooltip__txt-value $100
              span.tooltip__bold por mes
            a.tooltip__btn.btn.btn__brand Comprar
      //- Item #2
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist2', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist2')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-blim.png')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
      //- Item #3
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist3', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist3')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-netflix.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
            //- Item #3
      //- Item #4
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist4', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist4')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-recargas.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
      //- Item #5
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist5', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist5')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-movistar_num.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
      //- Item #6
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist6', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist6')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-magic-voice.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
      //- Item #7
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist7', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist7')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-callus.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
      //- Item #8
      li.list-radio__item
        input.list-radio__input.form__check(type="radio", id='radiolist8', name='radiolist')
        label.list-radio__label.form__label_check.i-check(for='radiolist8')
          //- Caja con contenido de cada item
          .list-radio__box
            //- cabecera verde que luego desaparece
            .list-radio__head
              figure.list-radio__fig
                img.list-radio__img(src='static/img/brands/brand-studio-mas.svg')
            //- Contenido sólo para mobile
            p.list-radio__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
            //- botón que sólo parece en desktop
            a.list-radio__link.link__brand(href='#', title='ver Más') Ver Más
            //- Valor elemento constante
            p.list-radio__value $1,999
              small.list-radio__txt-sm Por mes
            //- Botón que dasaarece en desktop
            a.list-radio__btn.btn.btn__brand(href='#', title='Comprar') Comprar
        //- Contenido sólo con el click ver más
        .tooltip
          p.tooltip__txt Disfruta lanzamientos exclusivos de series, películas, novelas y más;  con tu Plan Movistar recibe una cuenta y dos pantallas a la vez.
    //- Arrows del slider
    .list-radio__controls
      button.slider__arrow.i-arrow-left.prev
        span.slider__arrow-txt anterior
      button.slider__arrow.i-arrow-right.next
        span.slider__arrow-txt siguiente
