.panel
  .panel__brand
    p.panel__txt ¿Necesitas más ayuda?
    p.panel__txt Llámanos al
      strong.panel__bold 1800 783972
      | o pon tu tiquete para solicitar
    a.panel__link(href='#', title='Soporte Aquí') soporte aquí.
