article.panel.panel_bg
  .panel__inner_s
    header.panel__top
      figure.panel__avatar
        img.panel__img(src='static/img/demo/avatar.jpg', alt='Avatar')

    .panel__center
      h4.panel__title Martín Polanco
      button.btn-circle.i-bell Notificaciones
        small.btn-circle-small 1
    .panel__row
      p.panel__txt martín.polanco@example.com
      address.panel__txt Calle Liverpool 61, Juárez, 06600
    footer.panel__footer
      a.panel__link.link__brand(href='#', title='Editar Perfil') Editar Perfil
      a.panel__link.link__brand(href='#', title='Cerrar sesión') Cerrar Sesión
