.panel
  .panel__inner_m
    form(action="").panel__row
      label.panel__headline Consultar estado de tu pedido
      .search__form
        input.search__input(type='text', placeholder='Ej: #2064527 o sin línea', name='search')
        button.search__btn.i-search(type='submit')
