.panel
  a.panel__ico(href='#', title='Ir Asistencia Virtual')
    p.panel__bold.i-chat-comic Asistencia Virtual
.panel
  a.panel__ico(href='#', title='Ir Asistencia Virtual')
    p.panel__bold.i-search-help Preguntas frecuentes
.panel
  a.panel__ico(href='panel-requerimientos.html', title='Ir Asistencia Virtual')
    p.panel__bold.i-faq Consulta de requerimiento
