if compartir === true
  .panel
    .panel-tab
      button.panel-tab__not.panel-tab__tab.i-arrow-right.js-tabBtn.js-tabClose Comparte este código
      .panel-tab__inner.js-tabContent.js-tabClose
        header.panel-tab__head
          p.panel-tab__txt Comparte este código con tus amigos.
          p.panel-tab__bold RefMovil736$
        footer.panel-tab__foot
          ul.panel-tab__list
            li.panel-tab__item
              a.panel-tab__link.i-facebook-comic(href='#', title='Comparte en Facebook') Comparte en Facebook
            li.panel-tab__item
              a.panel-tab__link.i-google-plus(href='#', title='Comparte en Google+') Comparte en Google+
            li.panel-tab__item
              a.panel-tab__link.i-twitter-comic(href='#', title='Comparte en Twitter') Comparte en Twitter
            li.panel-tab__item
              a.panel-tab__link.i-email(href='#', title='Comparte por Mail') Comparte por Mail
else if pendiente === true
  .panel
    a.panel__ico(href='#', title='Recuperar orden pendiente')
      p.panel__bold.i-shopping-car Recuperar orden pendiente
else
  .panel
    .panel-tab
      button.panel-tab__tab.i-arrow-right.js-tabBtn.js-tabClose Movistar siempre te da más
      .panel-tab__inner.js-tabContent.js-tabClose
        header.panel-tab__head
          p.panel-tab__txt Comparte este código con tus amigos  y recibiras bonos de descuentos para tus próximas compras.
          p.panel-tab__bold RefMovil736$
        footer.panel-tab__foot
          button.panel-tab__btn.btn Recarga
.panel
  .panel-tab
    button.panel-tab__tab.i-arrow-right.js-tabBtn.js-tabClose ¿Quieres hacer una recarga?
    .panel-tab__inner.js-tabContent.js-tabClose
      header.panel-tab__head
        p.panel-tab__txt Escribe el número MOVISTAR al que le quieres hacer una recarga
      footer.panel-tab__foot
        form.panel-tab__form(action="")
          label.panel-tab__label Escribe tu número
          input.panel-tab__input(type='text', placeholder='Ej: 12345678')
          button.panel-tab__btn.btn Recarga

