article.panel
  .panel__inner_m
    h4.panel__headline Historial de compras
    .panel__table
      include _table-panel
    a.panel__link.link__brand(href='panel-historial.html', title='Ver todo el historial') Ver todo el historial
