//- Buscador
.search
  .layout_inner
    h3.search__title Encuentra tu celular que nosotros te lo llevamos a tu casa
    form.search__form
      input.search__input.js-inputAutocomplete(type='text', placeholder='Ej: iPhone 8 negro', name='search', autocomplete="off")
      button.search__btn.i-search(type='submit')
      .search__panel.js-panelAutocomplete
        ul.search__list
          li.search__item
            a.search__link(href="#") Samsung Galaxy Galaxy J2 Prime
          li.search__item
            a.search__link.search__link_active(href="#") Galaxy S7 edge + VR2
          li.search__item
            a.search__link(href="#") Samsung X Cam
        
        .suggest
          h4.suggest__title Te sugerimos
          .suggest__list
            article.product
              figure.product__photo
                a.product__action(href="#")
                  img.product__img(src="static/img/demo/grid-001.jpg")
              h4.product__name Samsung
              p.product__prices
                span.product__value $1.999
                small.product__small 
                  |/$2,499
            article.product
              figure.product__photo
                a.product__action(href="#")
                  img.product__img(src="static/img/demo/grid-002.jpg")
              h4.product__name Samsung
              p.product__prices
                span.product__value $1.999
                small.product__small 
                  |/$2,499
            article.product
              figure.product__photo
                a.product__action(href="#")
                  img.product__img(src="static/img/demo/grid-003.jpg")
              h4.product__name Samsung
              p.product__prices
                span.product__value $1.999
                small.product__small 
                  |/$2,499



