.slider-brands
  .slider-brands__crop.js-sliderHome2
    figure.slider-brands__item
      img.slider-brands(src='static/img/demo/slider_samsung.jpg', alt='Samsung')
    figure.slider-brands__item
      img.slider-brands(src='static/img/demo/slider_mac.jpg', alt='Apple')
    figure.slider-brands__item
      img.slider-brands(src='static/img/demo/slider_huawei.jpg', alt='Hawuei')
    figure.slider-brands__item
      img.slider-brands(src='static/img/demo/slider_nokia.jpg', alt='Nokia')
  //- Controles
  .slider-brands__controls
    button.slider__arrow.i-arrow-left.i-prev
      span.slider__arrow-txt anterior
    button.slider__arrow.i-arrow-left.i-next
      span.slider__arrow-txt siguiente
