.slider-detail
  //- Caja con espacio externo
  .slider-detail__inner
    //- Clase para slick
    .slider-detail__list.js-slideHome3
      // #1 Detalle destacado
      .slider-detail__slot
        //Slot 1
        include _slot-unique
      // #2 Detalle destacado
      .slider-detail__slot
        //slot 2
        include _slot-unique
      // #3 Detalle destacado
      .slider-detail__slot
        //Slot 3
        include _slot-unique
      // #4 Detalle destacado
      .slider-detail__slot
        //Slot 4
        include _slot-unique
  .slider-detail__controls
    button.slider__arrow.i-arrow-left.prev
      span.slider__arrow-txt anterior
    button.slider__arrow.i-arrow-left.next
      span.slider__arrow-txt siguiente
