.layout_inner-d
  .slider-detail
    //- Caja con espacio externo
    .slider-detail__inner
      //- Clase para slick
      .slider-detail__list.js-slideDetail
        // #1 Detalle destacado
        .slider-detail__slot
          article.grid-slot
            //- Tags de promoción
            .grid__tags
              span.tag.tag_min.tag_yellow Por poco tiempo
              span.tag_corner.tag_corner-yellow.i-triangle -50%
              //-span.tag.tag_min.tag_purple 5 H 22 Min de Promoción
            //- Bloque contenedor
            .grid-slot__inner
              //- Imagen del Terminal
              figure.grid-slot__photo
                a.grid-slot__action(href="detalle-producto.html")
                  img.grid-slot__img(src='static/img/demo/grid-destacado.jpg', alt='Producto Destacado')
              //- [Side]
              .grid-slot__body
                //- [Side] Parte superior
                .grid-slot__order
                  //- Caja para ordenar
                  .grid-slot__main-head
                    //- Título Grande
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h2.grid-slot__title-xl APPLE
                      p.grid-slot__title-xl Iphone X
                  //- Caja para ordenar
                  .grid-slot__header
                    //- Título Antiguo
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h3.grid-slot__title APPLE  - Iphone X
                      p.grid-slot__ref ABD478
                  //- Caja para ordenar
                  .grid-slot__assess
                    .rating.grid-slot__rating(
                      itemprop='aggregateRating',
                      itemscope='',
                      itemtype='http://schema.org/AggregateRating')
                      figure.rating__stars
                        img(
                          src='static/img/rating__stars-4.svg',
                          alt='Valoración #4 en el rating')

                    ul.list-thumb.list-thumb_color
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color1",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color1",
                          style="background-color:#000")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color2",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color2",
                          style="background-color:#E9426D")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color3",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color3",
                          style="background-color:#F59C00")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color4",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color4",
                          style="background-color:#EC6839")
                //- [Side] Parte inferior
                footer.grid-slot__footer
                  .grid-slot__price
                    .grid-slot__label desde
                    .grid-slot__value $ 1,999 / <small class="grid__value_line">$2,499</small>
                  //- Botones inferiores
                  .grid-slot__center
                    p.grid-slot__row
                      a.grid-slot__btn.btn(href="car-checkout.html") Comprar
                    p.grid-slot__row
                      a.grid-slot__link.link__brand(href="comparador-terminales.html") Comparar
        // #2 Detalle destacado
        .slider-detail__slot
          article.grid-slot
            .grid__tags
              span.tag_corner.tag_corner-red.i-triangle Hot
              //-span.tag.tag_min.tag_purple 5 H 22 Min de Promoción
            //- Bloque contenedor
            .grid-slot__inner
              //- Imagen del Terminal
              figure.grid-slot__photo
                a.grid-slot__action(href="detalle-producto.html")
                  img.grid-slot__img(src='static/img/demo/grid-destacado-1.jpg', alt='Producto Destacado')
              //- [Side]
              .grid-slot__body
                //- [Side] Parte superior
                .grid-slot__order
                  //- Caja para ordenar
                  .grid-slot__main-head
                    //- Título Grande
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h2.grid-slot__title-xl APPLE
                      p.grid-slot__title-xl Iphone 8
                  //- Caja para ordenar
                  .grid-slot__header
                    //- Título Antiguo
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h3.grid-slot__title APPLE  - Iphone 8
                      p.grid-slot__ref ABD478
                  //- Caja para ordenar
                  .grid-slot__assess
                    .rating.grid-slot__rating(
                      itemprop='aggregateRating',
                      itemscope='',
                      itemtype='http://schema.org/AggregateRating')
                      figure.rating__stars
                        img(
                          src='static/img/rating__stars-4.svg',
                          alt='Valoración #4 en el rating')

                    ul.list-thumb.list-thumb_color
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color1",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color1",
                          style="background-color:#000")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color2",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color2",
                          style="background-color:#E9426D")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color3",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color3",
                          style="background-color:#F59C00")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color4",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color4",
                          style="background-color:#EC6839")
                //- [Side] Parte inferior
                footer.grid-slot__footer
                  .grid-slot__price
                    .grid-slot__label desde
                    .grid-slot__value $ 1,999 / <small class="grid__value_line">$2,499</small>
                  //- Botones inferiores
                  .grid-slot__center
                    p.grid-slot__row
                      a.grid-slot__btn.btn(href="car-checkout.html") Comprar
                    p.grid-slot__row
                      a.grid-slot__link.link__brand(href="comparador-terminales.html") Comparar
        // #3 Detalle destacado
        .slider-detail__slot
          article.grid-slot
            .grid__tags
              span.tag_corner.tag_corner-red.i-triangle Hot
            //- Bloque contenedor
            .grid-slot__inner
              //- Imagen del Terminal
              figure.grid-slot__photo
                a.grid-slot__action(href="detalle-producto.html")
                  img.grid-slot__img(src='static/img/demo/grid-destacado.jpg', alt='Producto Destacado')
              //- [Side]
              .grid-slot__body
                //- [Side] Parte superior
                .grid-slot__order
                  //- Caja para ordenar
                  .grid-slot__main-head
                    //- Título Grande
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h2.grid-slot__title-xl APPLE
                      p.grid-slot__title-xl Iphone X
                  //- Caja para ordenar
                  .grid-slot__header
                    //- Título Antiguo
                    a.grid-slot__action(href="detalle-producto.html", title='Producto Destacado Iphone X')
                      h3.grid-slot__title APPLE  - Iphone X
                      p.grid-slot__ref ABD478
                  //- Caja para ordenar
                  .grid-slot__assess
                    .rating.grid-slot__rating(
                      itemprop='aggregateRating',
                      itemscope='',
                      itemtype='http://schema.org/AggregateRating')
                      figure.rating__stars
                        img(
                          src='static/img/rating__stars-4.svg',
                          alt='Valoración #4 en el rating')

                    ul.list-thumb.list-thumb_color
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color1",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color1",
                          style="background-color:#000")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color2",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color2",
                          style="background-color:#E9426D")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color3",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color3",
                          style="background-color:#F59C00")
                      li.list-thumb__item
                        input.list-thumb__input(
                          id="color4",
                          type="radio",
                          name="colors")
                        label.list-thumb__circle(
                          for="color4",
                          style="background-color:#EC6839")
                //- [Side] Parte inferior
                footer.grid-slot__footer
                  .grid-slot__price
                    .grid-slot__label desde
                    .grid-slot__value $ 1,999 / <small class="grid__value_line">$2,499</small>
                  //- Botones inferiores
                  .grid-slot__center
                    p.grid-slot__row
                      a.grid-slot__btn.btn(href="car-checkout.html") Comprar
                    p.grid-slot__row
                      a.grid-slot__link.link__brand(href="comparador-terminales.html") Comparar
    .slider-detail__controls
      button.slider__arrow.i-arrow-left.prev
        span.slider__arrow-txt anterior
      button.slider__arrow.i-arrow-left.next
        span.slider__arrow-txt siguiente
