if termMarca === 1
  article.grid__slot
    include _tab-form
else
  article.grid__slot
    .grid__inner
      figure.grid__photo
        a.grid__action(href="detalle-producto.html")
          img.grid__img(src='static/img/demo/grid-005.jpg')
      .grid__body
        .grid__order
          .grid__header
            a.grid__action(href="detalle-producto.html")
              h2.grid__title MOTOROLA
              p.grid__ref Fusión

          .grid__assess
            .rating.grid__rating(
              itemprop='aggregateRating',
              itemscope='',
              itemtype='http://schema.org/AggregateRating')
              figure.rating__stars
                img(
                  src='static/img/rating__stars-5.svg',
                  alt='Valoración #4 en el rating')

            ul.list-thumb.list-thumb_color
              li.list-thumb__item
                input.list-thumb__input(
                  id="color13",
                  type="radio",
                  checked="checked",
                  name="colors4")
                label.list-thumb__circle(
                  for="color13",
                  style="background-color:#000")
              li.list-thumb__item
                input.list-thumb__input(
                  id="color14",
                  type="radio",
                  name="colors4")
                label.list-thumb__circle(
                  for="color14",
                  style="background-color:#E9426D")
              li.list-thumb__item
                input.list-thumb__input(
                  id="color15",
                  type="radio",
                  name="colors4")
                label.list-thumb__circle(
                  for="color15",
                  style="background-color:#F59C00")
              li.list-thumb__item
                input.list-thumb__input(
                  id="color14",
                  type="radio",
                  name="colors4")
                label.list-thumb__circle(
                  for="color14",
                  style="background-color:#EC6839")
        footer.grid__footer
          .grid__price
            .grid__label desde
            .grid__value $ 1,999 / <small class="grid__value_line">$2,499</small>
          .grid__center
            p.grid__row
              a.grid__btn.btn(href="car-checkout.html") Comprar
            p.grid__row
              a.grid__link.link__brand(href="#") Comparar
