//Tabs malla
.tabs
  .tabs__inner
    nav.tabs__header
      .tabs__header-content
        h3.tabs__title SIM Movistar
        ul.tabs__list
          li.tabs__item
            button.tabs__btn.i-arrow-back Características
            //- contenido de tab 1
            .tabs__pane
              article.tabs__slot
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title SIM Global
                    p.tabs-description__txt La SIM Movistar funciona con cualquier dispositivo de ranura 4G, incluyendo Iphones, Androids y Nokia
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-sim-001.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-1 SIM Movistar para <br>cualquier dispositivo
              article.tabs__slot.tabs__slot_reverse
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title Red 4G
                    p.tabs-description__txt Cuélgate de la red de datos más rápida existente, y pasa fotos y videos hasta de 10 megas en menos de 10 segundos.
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-sim-002.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-2 Aprovecha la <br>Red 4G
              article.tabs__slot
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title Cobertura extendida
                    p.tabs-description__txt La cobertura de Movistar es la más confiable del mercado.
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-sim-003.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-3 Cobertura <br>extendida
          
          li.tabs__item.js-tabItemActive
            button.tabs__btn.i-arrow-back Especificaciones
            //- contenido de tab 2
            .tabs__pane
              .layout_inner
                .tabs-detail
                  article.tabs-detail__content
                    h3.tabs-detail__title Especificación general
                    dl.tabs-detail__list
                      dt.tabs-detail__term Tiempo de conversación
                      dd.tabs-detail__define Hasta 21 horas
                      dt.tabs-detail__term Dimensiones
                      dd.tabs-detail__define 143.6 x 70.9 x 7.7mm
                      dt.tabs-detail__term Peso
                      dd.tabs-detail__define 174g
                      dt.tabs-detail__term Memoria interna del teléfono
                      dd.tabs-detail__define 64 GB, 256 GB
                      dt.tabs-detail__term Capacidad de correo electrónico
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Sistema operativo
                      dd.tabs-detail__define iOS 11
                      dt.tabs-detail__term A prueba de salpicaduras
                      dd.tabs-detail__define Sí - Clasificación IP67 según el estándar IEC 60529
                      dt.tabs-detail__term Wifi y llamadas 4G
                      dd.tabs-detail__define Sí
                  article.tabs-detail__content
                    h3.tabs-detail__title Entretenimiento
                    dl.tabs-detail__list
                      dt.tabs-detail__term Cámara trasera
                      dd.tabs-detail__define 12MP de gran angular y telefoto
                      dt.tabs-detail__term Cámara frontal
                      dd.tabs-detail__define 7MP
                      dt.tabs-detail__term Captura de video
                      dd.tabs-detail__define Grabación de video 4K a 24 fps, 30 fps o 60 fps
                      dt.tabs-detail__term NFC
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Reproductor de música
                      dd.tabs-detail__define Sí
                  article.tabs-detail__content
                    h3.tabs-detail__title Conectividad
                    dl.tabs-detail__list
                      dt.tabs-detail__term Tipo de banda
                      dd.tabs-detail__define FDD-LTE (Bandas 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 29, 30, 66) TD-LTE (Bandas 34, 38, 39, 40, 41) TD-SCDMA 1900 (F), 2000 (A) CDMA EV-DO Rev. A (800, 1900, 2100 MHz) UMTS / HSPA + / DC-HSDPA (850, 900, 1700 / 2100, 1900, 2100 MHz) GSM / EDGE (850, 900, 1800, 1900 MHz)
                      dt.tabs-detail__term Bluetooth
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Wi-Fi
                      dd.tabs-detail__define Grabación de video 4K a 24 fps, 30 fps o 60 fps
                  article.tabs-detail__content
                    h3.tabs-detail__title Contenido de la Caja
                    ul.tabs-detail__list.tabs-detail__list_messy
                      li.tabs-detail__item iPhone con iOS 1
                      li.tabs-detail__item EarPods con Lightning Connector
                      li.tabs-detail__item Lightning a 3.5 mm
                      li.tabs-detail__item Adaptador de auriculares Jack
                      li.tabs-detail__item Cable Lightning a USB
                      li.tabs-detail__item Adaptador de alimentación USB
                      li.tabs-detail__item Documentación

          li.tabs__item
            button.tabs__btn.i-arrow-back Términos y Condiciones
              //- contenido de tab 3
            .tabs__pane.tabs-terms
              .layout_inner
                header.tabs-terms__header
                  h3.tabs-terms__title Términos y Condiciones
                .tabs-terms__content
                  p.tabs-terms__concept Bought anything on our online shop? These terms and conditions are worth a read
                  p.tabs-terms__txt The following terms and conditions apply to purchases made from the O2 online shop. We suggest you print a copy to keep for your records. 
                  p.tabs-terms__txt These conditions set out the agreement between you and "us" (Telefónica UK Limited) for purchases made from this website. To purchase from this site you may need to use a credit or debit card and if you have selected a pay monthly mobile or SIM card you will need to set up regular payments from a bank account depending upon the item being purchased. You will also need an email address as we will use this as the main way to keep in contact with you.
                  p.tabs-terms__txt Please note in particular that: - No orders shall be accepted if received from outside the United Kingdom. - Orders shall only be accepted from persons who are 18 or over.
                  p.tabs-terms__concept Information on this website
                  p.tabs-terms__txt Whilst we try to ensure that all descriptions, details, including prices, displayed on this website are correct and up to date, we cannot guarantee that they are. Details may be updated from time to time and are subject to change. You must ensure that prior to placing an order you have checked all relevant details about the products and/or services you have selected. We cannot confirm the price of a product until your order is accepted. All products and services advertised are subject to availability
                  p.tabs-terms__concept Ordering
                  p.tabs-terms__txt The information displayed on this website, including prices, does not constitute an offer to contract or enter into an agreement. When you place an order via this website for products and/or services your order shall constitute an offer for the goods and/or services selected.
                  p.tabs-terms__txt We shall not be obliged to accept your order. If we do, your order will be accepted by us despatching the product to you. Where products are sent separately, our acceptance will relate only to those products actually despatched. Confirmation of orders will be sent to the email address supplied by you when the order was placed.
                  p.tabs-terms__txt Despite our best efforts, occasionally products in our online shop may be incorrectly priced. We do, however, verify prices as part of our despatch procedures. If we discover a pricing error, or there is a change in price before despatch, we will contact you to reconfirm your order at the correct price. If we are unable to contact you within a reasonable time, we may cancel your order and notify you of such cancellation.
                  p.tabs-terms__txt You may cancel an order placed with the O2 online shop provided that we have not yet despatched the products ordered for a full refund.
                  p.tabs-terms__concept Law
                  p.tabs-terms__txt Any contracts formed between you and us via this website will be deemed to have been made in the UK and shall be governed and construed according to English law. Any disputes or proceedings shall be subject to the exclusive jurisdiction of the English Courts.
                  p.tabs-terms__concept Delivery & Charges
                    p.tabs-terms__txt We can only deliver to a valid UK address.
                    p.tabs-terms__txt Delivery timescales cannot be guaranteed. There are certain circumstances where you order may be delayed:
                    p.tabs-terms__txt Orders placed at the weekend or on a Bank Holiday will require at least one extra working day for delivery (for most postcodes, orders placed on a Saturday or Sunday will normally be delivered on a Tuesday). 
                      <br>Any unforeseen stock shortages. If this happens, we will notify you of any delay. 
                      <br>Certain remote postcodes will require additional time for delivery.
                      <br>If we cannot obtain immediate security clearance for payment of your order. The security of our customers is paramount so these checks are essential to combat fraudulent use of payment and address details
                      <br>Delivery charges are as specified in your order.
                      <br>Warranty
                      <br>Unless otherwise stated, all equipment purchased from this website is covered by a 12 month manufacturer's warranty from the date that it is delivered to you. In the unlikely event that you experience a fault or defect with your equipment in the first 12 months following purchase please contact mycare@o2mail.co.uk . This does not affect your statutory rights.
                    p.tabs-terms__concept Payment
                    p.tabs-terms__txt Unless otherwise stated, all prices are inclusive of VAT (where applicable) and are correct at the time of entering the information onto the system. The total cost of your order is the price of the products and/or services ordered plus any applicable delivery charges.
                    p.tabs-terms__txt One-off payment can be made by any of the following methods: Maestro, Mastercard, Visa, Visa Debit, American Express. Monthly line rental charges are paid by direct debit.
                    p.tabs-terms__txt Payment will be taken from you when the order is placed.
                    p.tabs-terms__txt You confirm that the credit, debit or store card that is being used is yours. All credit/debit cardholders are subject to validation checks and authorisation by the card issuer. If the issuer of your payment card refuses to or does not, for any reason, authorise payment to us, we will not be liable for any delay or non-delivery.