table.table-data
  thead.table-data__head
    tr.table-data__row
      th.table-data__head-item Productos
      th.table-data__head-item Valor
      th.table-data__head-item Estatus
      th.table-data__head-item Fecha
  tbody.table-data__content
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") IPhone X
      td.table-data__cell(data-tableHead="Valor") $4.992
      td.table-data__cell(data-tableHead="Estatus") Entregado
      td.table-data__cell(data-tableHead="Fecha") 5 jun 18
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") Recarga
      td.table-data__cell(data-tableHead="Valor") $200
      td.table-data__cell(data-tableHead="Estatus") Entregado
      td.table-data__cell(data-tableHead="Fecha") 13 jun 18
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") SIM
      td.table-data__cell(data-tableHead="Valor") $60
      td.table-data__cell(data-tableHead="Estatus") Pago
      td.table-data__cell(data-tableHead="Fecha") 17 sept 17
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") IPhone X
      td.table-data__cell(data-tableHead="Valor") $4.992
      td.table-data__cell(data-tableHead="Estatus") Rechazado
      td.table-data__cell(data-tableHead="Fecha") 11 may 17
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") IPhone X
      td.table-data__cell(data-tableHead="Valor") $4.992
      td.table-data__cell(data-tableHead="Estatus") Entregado
      td.table-data__cell(data-tableHead="Fecha") 5 jun 18
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") Recarga
      td.table-data__cell(data-tableHead="Valor") $200
      td.table-data__cell(data-tableHead="Estatus") Entregado
      td.table-data__cell(data-tableHead="Fecha") 13 jun 18
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") SIM
      td.table-data__cell(data-tableHead="Valor") $60
      td.table-data__cell(data-tableHead="Estatus") Pago
      td.table-data__cell(data-tableHead="Fecha") 17 sept 17
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") IPhone X
      td.table-data__cell(data-tableHead="Valor") $4.992
      td.table-data__cell(data-tableHead="Estatus") Rechazado
      td.table-data__cell(data-tableHead="Fecha") 11 may 17
    tr.table-data__row
      td.table-data__cell(data-tableHead="Productos") IPhone X
      td.table-data__cell(data-tableHead="Valor") $4.992
      td.table-data__cell(data-tableHead="Estatus") Entregado
      td.table-data__cell(data-tableHead="Fecha") 5 jun 18
