table.table-data
  thead.table-data__head
    tr.table-data__row
      th.table-data__head-item # Ticket
      th.table-data__head-item Descripción
      th.table-data__head-item Estado
      th.table-data__head-item Apertura
      th.table-data__head-item Cierre
  tbody.table-data__content
    tr.table-data__row.table-data__status-on
      td.table-data__cell(data-tableHead="# Ticket") #23035362
      td.table-data__cell(data-tableHead="Descripción") No tengo data y acabo de cargar
      td.table-data__cell(data-tableHead="Estado") Abierto
      td.table-data__cell(data-tableHead="Apertura") 5 jun 18
      td.table-data__cell(data-tableHead="Cierre") 13 jun 18 (Aprox)
    tr.table-data__row.table-data__status-in
      td.table-data__cell(data-tableHead="# Ticket") #26153846
      td.table-data__cell(data-tableHead="Descripción") Línea sin servicio
      td.table-data__cell(data-tableHead="Estado") En proceso
      td.table-data__cell(data-tableHead="Apertura") 13 jun 18
      td.table-data__cell(data-tableHead="Cierre") 11 ene 19
    tr.table-data__row
      td.table-data__cell(data-tableHead="# Ticket") #28473638
      td.table-data__cell(data-tableHead="Descripción") Línea sin servicio
      td.table-data__cell(data-tableHead="Estado") Cerrado
      td.table-data__cell(data-tableHead="Apertura") 17 sept 17
      td.table-data__cell(data-tableHead="Cierre") 17 sept 18
    tr.table-data__row
      td.table-data__cell(data-tableHead="# Ticket") #10927463
      td.table-data__cell(data-tableHead="Descripción") Línea sin servicio
      td.table-data__cell(data-tableHead="Estado") Cerrado
      td.table-data__cell(data-tableHead="Apertura") 11 may 17
      td.table-data__cell(data-tableHead="Cierre") 12 may 17
