//Tabs malla
.tabs
  .tabs__inner
    nav.tabs__header
      .tabs__header-content
        h3.tabs__title Apple iPhone X
        ul.tabs__list
          li.tabs__item.js-tabItemActive
            button.tabs__btn.i-arrow-back Características
            //- contenido de tab 1
            .tabs__pane
              article.tabs__slot
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title Diseño
                    p.tabs-description__txt Resistente a las salpicaduras y al agua. Irresistible a los ojos. Nuevos acabados negro mate y negro brillante. Nuevo botón de inicio
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-detail-product-001.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-1 Nuevos acabados: <br>mate y brillante
              article.tabs__slot.tabs__slot_reverse
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title Cámara
                    p.tabs-description__txt Una cámara totalmente nueva entra en escena. Estabilización óptica de imagen y Flash Quad-LED True Tone.
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-detail-product-002.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-2 Flash Quad-LED <br>True Tone
              article.tabs__slot
                .tabs__slot-content
                  .tabs-description
                    p.tabs-description__title Pantalla
                    p.tabs-description__txt La pantalla Retina HD de iPhone con más colores, 25% más brillante y 3D Touch.
                  figure.tabs__figure
                    img.tabs__img(src="static/img/tabs-detail-product-003.jpg", alt="Apple iPhone X")
                    figcaption.tabs__caption.tabs__caption_curve-3 3D Touch
          
          li.tabs__item
            button.tabs__btn.i-arrow-back Especificaciones técnicas
            //- contenido de tab 2
            .tabs__pane
              .layout_inner
                .tabs-detail
                  article.tabs-detail__content
                    h3.tabs-detail__title Especificación general
                    dl.tabs-detail__list
                      dt.tabs-detail__term Tiempo de conversación
                      dd.tabs-detail__define Hasta 21 horas
                      dt.tabs-detail__term Dimensiones
                      dd.tabs-detail__define 143.6 x 70.9 x 7.7mm
                      dt.tabs-detail__term Peso
                      dd.tabs-detail__define 174g
                      dt.tabs-detail__term Memoria interna del teléfono
                      dd.tabs-detail__define 64 GB, 256 GB
                      dt.tabs-detail__term Capacidad de correo electrónico
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Sistema operativo
                      dd.tabs-detail__define iOS 11
                      dt.tabs-detail__term A prueba de salpicaduras
                      dd.tabs-detail__define Sí - Clasificación IP67 según el estándar IEC 60529
                      dt.tabs-detail__term Wifi y llamadas 4G
                      dd.tabs-detail__define Sí
                  article.tabs-detail__content
                    h3.tabs-detail__title Entretenimiento
                    dl.tabs-detail__list
                      dt.tabs-detail__term Cámara trasera
                      dd.tabs-detail__define 12MP de gran angular y telefoto
                      dt.tabs-detail__term Cámara frontal
                      dd.tabs-detail__define 7MP
                      dt.tabs-detail__term Captura de video
                      dd.tabs-detail__define Grabación de video 4K a 24 fps, 30 fps o 60 fps
                      dt.tabs-detail__term NFC
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Reproductor de música
                      dd.tabs-detail__define Sí
                  article.tabs-detail__content
                    h3.tabs-detail__title Conectividad
                    dl.tabs-detail__list
                      dt.tabs-detail__term Tipo de banda
                      dd.tabs-detail__define FDD-LTE (Bandas 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 29, 30, 66) TD-LTE (Bandas 34, 38, 39, 40, 41) TD-SCDMA 1900 (F), 2000 (A) CDMA EV-DO Rev. A (800, 1900, 2100 MHz) UMTS / HSPA + / DC-HSDPA (850, 900, 1700 / 2100, 1900, 2100 MHz) GSM / EDGE (850, 900, 1800, 1900 MHz)
                      dt.tabs-detail__term Bluetooth
                      dd.tabs-detail__define Sí
                      dt.tabs-detail__term Wi-Fi
                      dd.tabs-detail__define Grabación de video 4K a 24 fps, 30 fps o 60 fps
                  article.tabs-detail__content
                    h3.tabs-detail__title Contenido de la Caja
                    ul.tabs-detail__list.tabs-detail__list_messy
                      li.tabs-detail__item iPhone con iOS 1
                      li.tabs-detail__item EarPods con Lightning Connector
                      li.tabs-detail__item Lightning a 3.5 mm
                      li.tabs-detail__item Adaptador de auriculares Jack
                      li.tabs-detail__item Cable Lightning a USB
                      li.tabs-detail__item Adaptador de alimentación USB
                      li.tabs-detail__item Documentación

          li.tabs__item
            button.tabs__btn.i-arrow-back Opiniones
            //- contenido de tab 3
            .tabs__pane
              .layout_inner
                header.tabs-pane__header(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating")
                  h3.tabs-pane__title Opiniones
                  .rating
                    span.rating__txt Valoración
                    figure.rating__stars
                      img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                    span.rating__value.rating__value_big(itemprop='ratingCount') 4,0
                nav.tabs-pane__nav
                  small.tabs-pane__small 83 comentarios
                  .tabs-pane__filter
                    //-bloque de select para filtros
                    include _filter-select
                    .rating
                      span.rating__txt.tabs-pane__label Filtrar por
                      fieldset.form-rating
                        input#ratingFilter5(type='radio', name='rating-filter', value='5')
                        label.form-rating__label.i-star-comic(for='ratingFilter5', title='5 Estrellas')
                        input#ratingFilter4(type='radio', name='rating-filter', value='4')
                        label.form-rating__label.i-star-comic(for='ratingFilter4', title='4 Estrellas')
                        input#ratingFilter3(type='radio', name='rating-filter', value='3')
                        label.form-rating__label.i-star-comic(for='ratingFilter3', title='3 Estrellas')
                        input#ratingFilter2(type='radio', name='rating-filter', value='2')
                        label.form-rating__label.i-star-comic(for='ratingFilter2', title='2 Estrellas')
                        input#ratingFilter1(type='radio', name='rating-filter', value='1')
                        label.form-rating__label.i-star-comic(for='ratingFilter1', title='1 Estrellas')
                .review
                  .review__line
                    .review__header(itemscope='', itemtype='http://schema.org/Product', itemref='_review2')
                      p.review__title(itemprop='name') Overall a great phone but call quality is terrible
                      span#_datePublished2.review__date(itemprop='datePublished', content='Inserta una fecha/hora válida con formato ISO 8601 aquí. Ejemplos: 2015-07-27 o 2015-07-27T15:30') 24 de Mayo 2018
                    #_review2.review__line-content(itemprop='review', itemscope='', itemtype='http://schema.org/Review', itemref='_datePublished2')
                      .rating
                        span.rating__txt Valoración
                        figure.rating__stars
                          img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                        span.hidden(itemprop="ratingValue") 4.0
                      p.review__author(itemprop='author', itemscope='', itemtype='http://schema.org/Person') TommyT
                      span(itemprop='reviewBody')
                        p.review__txt
                          | My wife and i just recently upgraded from Samsung Galaxy S7 phones to the S9+ phones. The display, camera and speed of the phone is great but we have terrible call quality between our 2 phones. It sounds very synthesized and digital with feedback that makes it hard to understand each other. The call quality is fine when you call other phones but not when its S9 to S9.
                        p.review__txt
                          | Spoke with TMobile Support and Samsung Support and there is still no resolution. Is there any fix coming out for this from TMobile? Looking online it seems that Verizon has instructions on how to turn off the HD calling which seems to be the issue.
                  .review__line
                    .review__header(itemscope='', itemtype='http://schema.org/Product', itemref='_review3')
                      p.review__title(itemprop='name') Overall a great phone but call quality is terrible
                      span#_datePublished3.review__date(itemprop='datePublished', content='Inserta una fecha/hora válida con formato ISO 8601 aquí. Ejemplos: 2015-07-27 o 2015-07-27T15:30') 24 de Mayo 2018
                    #_review3.review__line-content(itemprop='review', itemscope='', itemtype='http://schema.org/Review', itemref='_datePublished3')
                      .rating
                        span.rating__txt Valoración
                        figure.rating__stars
                          img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                        span.hidden(itemprop="ratingValue") 4.0
                      p.review__author(itemprop='author', itemscope='', itemtype='http://schema.org/Person') TommyT
                      span(itemprop='reviewBody')
                        p.review__txt
                          | My wife and i just recently upgraded from Samsung Galaxy S7 phones to the S9+ phones. The display, camera and speed of the phone is great but we have terrible call quality between our 2 phones. It sounds very synthesized and digital with feedback that makes it hard to understand each other. The call quality is fine when you call other phones but not when its S9 to S9.
                        p.review__txt
                          | Spoke with TMobile Support and Samsung Support and there is still no resolution. Is there any fix coming out for this from TMobile? Looking online it seems that Verizon has instructions on how to turn off the HD calling which seems to be the issue.
                  .review__line
                    .review__header(itemscope='', itemtype='http://schema.org/Product', itemref='_review4')
                      p.review__title(itemprop='name') Overall a great phone but call quality is terrible
                      span#_datePublished4.review__date(itemprop='datePublished', content='Inserta una fecha/hora válida con formato ISO 8601 aquí. Ejemplos: 2015-07-27 o 2015-07-27T15:30') 24 de Mayo 2018
                    #_review4.review__line-content(itemprop='review', itemscope='', itemtype='http://schema.org/Review', itemref='_datePublished4')
                      .rating
                        span.rating__txt Valoración
                        figure.rating__stars
                          img(src='static/img/rating__stars-4.svg', alt='Valoración #1 en el rating')
                        span.hidden(itemprop="ratingValue") 4.0
                      p.review__author(itemprop='author', itemscope='', itemtype='http://schema.org/Person') TommyT
                      span(itemprop='reviewBody')
                        p.review__txt
                          | My wife and i just recently upgraded from Samsung Galaxy S7 phones to the S9+ phones. The display, camera and speed of the phone is great but we have terrible call quality between our 2 phones. It sounds very synthesized and digital with feedback that makes it hard to understand each other. The call quality is fine when you call other phones but not when its S9 to S9.
                        p.review__txt
                          | Spoke with TMobile Support and Samsung Support and there is still no resolution. Is there any fix coming out for this from TMobile? Looking online it seems that Verizon has instructions on how to turn off the HD calling which seems to be the issue.
                  //Paginador
                  include _pager
                  //Formulario de opiniones
                  .form.form-reviews
                    h3.form__title ¡Compártenos tú opinión!
                    .form__group
                      label.form__label(for="title") Título
                      input.form__input(type="text", placeholder="Título que resuma tu opinión")
                    .form__group
                      label.form__label(for="message") Escribe tu mensaje
                      textarea.form__textarea(name="", cols="30", rows="5", placeholder="Escribe tu opinión sobre el producto")
                    .form__group
                      label.form__label(for="name") Tu nombre
                      input.form__input(type="text", placeholder="Título que resuma tu opinión")
                    .form__group.rating
                      span.form__label Valoración del Producto
                      fieldset.form-rating
                        input#ratingReviews5(type='radio', name='rating-views', value='5')
                        label.form-rating__label.i-star-comic(for='ratingReviews5', title='5 Estrellas')
                        input#ratingReviews4(type='radio', name='rating-views', value='4')
                        label.form-rating__label.i-star-comic(for='ratingReviews4', title='4 Estrellas')
                        input#ratingReviews3(type='radio', name='rating-views', value='3')
                        label.form-rating__label.i-star-comic(for='ratingReviews3', title='3 Estrellas')
                        input#ratingReviews2(type='radio', name='rating-views', value='2')
                        label.form-rating__label.i-star-comic(for='ratingReviews2', title='2 Estrellas')
                        input#ratingReviews1(type='radio', name='rating-views', value='1')
                        label.form-rating__label.i-star-comic(for='ratingReviews1', title='1 Estrella') 
                    .form__group
                      img.form__captcha(src="static/img/captacha.jpg", alt="captcha")
                    button.form__btn.btn.btn_blue Enviar opinión