article.vitrina-form
  .vitrina-form__inner
    header.vitrina-form__head
        h4.vitrina-form__title ¿Estás interesado?
        p.vitrina-form__subtitle Déjanos tus datos para resolver tus dudas e inquietudes. 
    footer.vitrina-form__foot
      form.vitrina-form__form(action="")
        input.vitrina-form__input(type='text', placeholder='Ingresa tu teléfono y te llamamos sin costo')
        button.vitrina-form__btn.btn.btn_blue Llámenme