/*------------------------------------*\
	texts links
\*------------------------------------*/

a {
  cursor: pointer;
  text-decoration: none;
  outline-width: 0;
  color: $c-default;
  &:focus {
    outline-width: 0;
  }
}

/**
 * @atom Links
 * @section Navegación
 * @modifiers
 *  .link Links generales
 *  .link_brand  Link general de color azul
 *  .link_under  Link general con underline
 * @markup
 *  <a class="link" href="#" title="Go to Link">.link</a>
 *  <a class="link__brand" href="#" title="Go to Link">btn .link__brand</a>
 *  <a class="link__under" href="#" title="Go to Link">btn .link__under</a>
 */

.link {
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active {
    color: $c-brand-2;
  }
}

.link_under {
  text-decoration: underline;
  transition: all 0.2s linear;
  &:hover,
  &:focus,
  &:active {
    color: $c-brand-2;
  }
}

.link__alert {
  color: $c-alert;
  transition: all 0.2s linear;
  &:hover {
    color: $c-alert_hover;
  }
}
.link__brand {
  color: $c-brand-2;
  text-decoration: underline;
  transition: all 0.2s linear;
  &:hover {
    color: $c-brand-2-hover;
  }
}

.link__neutro {
  color: $c-neutro;
  transition: all 0.2s;
}

.link__block {
  display: block;
  padding-top: $sp-xsmall;
  text-align: center;
}

.active {
  color: $c-brand-2;
}
/**
 * @atom Anchor Item con ico
 * @section Navegación
 * @modifiers
 *  .anchor-item Tab general
 * @markup
 * <button class="anchor-item i-arrow-back">Añadir nueva dirección de envío</button>
 */

//Button aspecto de tab con ico
.anchor-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $sp-small $sp-xsmall;
  color: $c-default-1;
  @include font-rem(18px);
  font-family: $f-bold;
  text-align: left;
  border-bottom: 1px solid $c-default-6;
  background-color: $c-neutro;
  &:before {
    order: 2;
    @include font-rem(12px);
  }
}


// Media 1uery desde 768px
@include media-query(medium) {
  .link__block {
    text-align: left;
  }
}
