/*------------------------------------*\
	Transversal Elements
    #Forms Styles
\*------------------------------------*/

input,
select,
textarea {
  outline: none;
  border: none;
}

label {
  cursor: default;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/*------------------------------------*\
	Elementos Formularios
\*------------------------------------*/

// **** Bloque .group-input__num ****
.group-input__num {
  max-width: 40px;
  padding: 6px 4px;
  @include font-rem(20px);
  background-color: $c-default-5;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-family: $f-light;
  vertical-align: middle;
}

.group-input__label {
  display: none;
}

.group-input__btn {
  color: $c-default-1;
  @include font-rem(18px);
  vertical-align: middle;
  background-color: transparent;
}

//Clase de Bloqie generico para todos los formularios
//.form {
// .form__input {
//   max-width: 450px;
// }
//}
// Bloque de Formulario Transversal
// Espacios entre elementos desde el componente form
//Max ancho de los Slots Forms
.form {
  max-width: 480px;
  .btn-share {
    display: block;
    margin-bottom: $sp-small;
    min-width: 170px;
  }
}

//Modifica la estructura para uan estructura de Dos columnas
.form__inner {
  margin: 0 auto;
  padding: 0 $sp-small;
}

//Modifica la estructura para uan estructura de Dos columnas
.form__row-xhigh {
  &.form__row-grid {
    flex-direction: column-reverse;
    .form__btn {
      max-width: 185px;
    }
  }
}

/*---Estructura (Agrupación elementos de Formulario)-----*/

// Caja agrupa elementos en filas
.form__box {
  padding: $sp-small 0;
  margin-bottom: $sp-small;
  .form__radio_label {
    &-payment {
      padding-top: 8px;
    }
    &:before {
      top: 8px;
    }
    &:after {
      top: 13px;
    }
  }
  .form__link {
    display: block;
    padding-left: $sp-medium;
  }
  &_none {
    padding: $sp-none;
    margin-bottom: $sp-none;
  }
}

// Modificador de box coloca borde inferior
.form__box_under {
  border-bottom: 1px solid $c-default-6;
}

// Caja agrupa elementos con inner
.form__cont {
  display: none;
  padding: $sp-small $sp-xsmall;
}

.form__group {
  padding-bottom: 20px;
  &.rating {
    display: block;
  }
  .rating__stars {
    padding-bottom: 10px;
    line-height: 1;
  }
}

/*-----Estructura (Filas de Formulario)-----*/

// Fila de ***DOS*** campos de formulario espacio superior e inferior
.form__row-xhigh {
  position: relative;
  padding: $sp-medium 0;
}

// Fila de ***DOS*** campos de formulario espacio superior e inferior
.form__row-high {
  position: relative;
  padding: $sp-small 0;
}

// Fila de campos de formulario espacio  inferior = 10px
.form__row-sm {
  position: relative;
  padding-bottom: $sp-xsmall;
}

// Fila de campos de formulario espacio  inferior = 20px
.form__row-gral {
  position: relative;
  padding-bottom: $sp-small;
}

// Fila de campos de formulario espacio  inferior = 40px
.form__row {
  position: relative;
  padding-bottom: $sp-medium;
}

// Fila de formulario cols = 50%
.form__row-grid {
  position: relative;
  display: flex;
  justify-content: space-between;
  .form__link,
  .form__alert {
    padding-top: 4px;
    width: 100%;
  }
  .form__link {
    text-align: right;
    @include font-rem(14px);
  }
}

// Center align
.form__row-center {
  align-items: center;
}

// Fila de campos de formulario con inner espacio  inferior
.form__row-inner {
  position: relative;
  margin-left: $sp-medium;
  padding-bottom: $sp-small;
}

.form__row-inner_high {
  position: relative;
  padding-top: $sp-xsmall;
}

// Fila de campos de formulario con inner espacio  inferior
.form__row-innerside {
  position: relative;
  margin-left: $sp-medium;
}

// Fila de campos de formulario genera modificaciones a elementos
.form__row-none {
  .form__label-ico {
    padding-bottom: $sp-xsmall;
  }
}

.form__row-under {
  border-bottom: 1px solid $c-default-3;
  margin-bottom: $sp-medium;
}

.form__head {
  max-width: 450px;
  padding: $sp-small 0;
}

//Dos campos en una sola fila
.form__grid {
  padding-top: 8px;
  @include flexbox;
  @include justify-content(space-between);
  .form__grid__item {
    width: 49%;
  }
  &_center {
    @include align-items(center);
  }
}

/*---------Sección (Formulario)----------*/

.form__section {
  padding: 0;
  margin: 0;
  border: none;
}

/*---------Elemento de título (Formulario)----------*/

.form__title {
  padding-bottom: $sp-medium;
  font-family: $f-default;
  @include font-rem(36px);
  text-align: center;
}

/*---------Elemento de título para secciones (Formulario)----------*/

.form__title-section {
  font-family: $f-bold;
  @include font-rem(18px);
}

/*---------Elementos de texto (Formulario)----------*/

.form__txt {
  padding: 0;
  margin: 0;
}

.form__txt-sm {
  display: block;
  padding: 0 0 $sp-xsmall $sp-medium;
  @include font-rem(14px);
}

.form__txt-style {
  display: block;
  font-style: normal;
  padding-left: $sp-medium;
  padding-bottom: $sp-xsmall;
  @include font-rem(16px);
}

.form__txt-xl {
  display: block;
  @include font-rem(18px);
  font-family: $f-bold;
  color: $c-default-1;
}

.form__txt-strong {
  display: block;
  font-family: $f-bold;
  padding-left: $sp-medium;
}

.form__txt-ico {
  padding-left: $sp-xsmall;
  @include font-rem(16px);
  &:before {
    @include font-rem(8px);
    color: $c-warning;
    vertical-align: super;
  }
}

.form__txt-inline {
  display: inline-block;
  font-family: $f-default;
  padding: 0;
  margin: 0;
  @include font-rem(16px);
  .form__label-ico {
    display: inline;
    @include font-rem(16px);
  }
}

/*---------Label (Formulario)----------*/

.form__label {
  display: block;
  padding-bottom: 10px;
  font-family: $f-bold; //@include font-rem(16px);
}

.form__label-light {
  display: block;
  padding-bottom: $sp-xsmall; //@include font-rem(14px);
}

/**
 * @molecule Label Icono Obligatorio
 * @section Formulario
 * @markup
 *  <div class="form__row-gral form__row-none">
 *     <label class="form__label-ico i-star-fill">Código postal</label>
 *     <input class="form__input" placeholder="000000" type="text">
 *  </div>
 *
*/

.form__label-ico {
  display: flex;
  align-items: center;
  &:before {
    order: 2;
    padding-right: 4px;
    color: $c-warning;
    @include font-rem(8px);
  }
}

/**
 * @molecule Label con icono
 * @section Formulario
 * @markup
 *   <div class="form__row-inner">
 *     <label class="form__label-light form__box-ico i-check-circle">Correo electrónico o teléfono</label>
 *     <input class="form__input" placeholder="martinana@gmail.com" type="email" name="email">
 *   </div>
*/

.form__box-ico {
  position: relative;
  &.i-eye {
    &:before {
      display: block;
      position: absolute;
      right: -50px;
      bottom: -30px;
      color: $c-default-1;
      @include font-rem(12px);
    }
  }
}
//Quita y pone el icon check azul dentro del input
.js-formCheck {
  position: relative;
  &:before {
    content: unicode($i-check-circle2);
    font-family: 'msmx-eshop' !important;
    display: block;
    position: absolute;
    right: 12px;
    bottom: -34px;
    color: $c-brand-2;
    @include font-rem(20px);
  }
}

.form__relative {
  position: relative;
}

.form__ico {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 31px;
  cursor: pointer;
  background-color: transparent;
  &:before {
    color: $c-default-1;
    @include font-rem(12px);
  }
}
.form__arrow {
  color: $blue;
  cursor: pointer;
}

.form__js-input {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  opacity: 0;
}

/*---------Alert----------*/

/**
 * @molecule  Alert
 * @section Formulario
 * @markup
 *   <div class="form__row form__box-alert">
 *     <label class="form__label-light">Contraseña</label>
 *     <input class="form__input" placeholder="martinana@gmail.com" type="password" name="contraseña">
 *     <span class="form__alert">Contraseña incorrecta. Intenta de nuevo o haz clic en recuperar contraseña.</span>
 *   </div>
 */

.form__alert {
  font-family: $f-light;
  @include font-rem(14px);
  color: $c-alert;
  min-height: 20px;
}

// esta es la clase usada en JS
.error {
  border: 1px solid $c-alert;
}

/**
 * @molecule Input
 * @section Formulario
 * @modifiers
 *   .form__label    Labels
 *   .form__input    Input
 * @markup
 *   <div class="form__row-gral">
 *     <label class="form__label" for="title">Título</label>
 *     <input class="form__input" type="text" placeholder="Título que resuma tu opinión">
 *   </div>
 */

.form__input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4;
  @include font-rem(14px);
  font-family: $f-regular;
  border-radius: 4px;
  background-color: $c-tag-5_l;
  &::placeholder {
    color: $c-default-3;
  }
}

/**
 * @molecule Input Textarea
 * @section Formulario
 * @modifiers
 *   .form__label       Labels
 *   .form__textarea    Input Textarea
 * @markup
 *   <div class="form__row-gral">
 *     <label class="form__label" for="message">Escribe tu mensaje</label>
 *     <textarea class="form__textarea" name="" cols="30" rows="5" placeholder="Escribe tu opinión sobre el producto"></textarea>
 *   </div>
 */

.form__textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  resize: none;
  font-family: $f-regular;
  @include font-rem(14px);
  border-radius: 4px;
  background-color: $c-tag-5_l;
}

.form__captcha {
  display: block;
  margin: 30px auto 10px;
}

.form__btn {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/*---------Checkbox----------*/

/**
 * @molecule Input checkbox
 * @section Formulario
 * @markup
 *  <div class="form__row">
 *    <input class="form__check" type="checkbox" id="invoice1" name="invoice">
 *    <label class="form__label_check i-check" for="invoice1">Deseo recibir una factura por mi compra</label>
 *  </div>
 *
*/

.form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked+.form__label_check {
    &:before {
      color: $c-neutro;
      border-color: $c-brand-2;
      background-color: $c-brand-2;
      animation: ripple 0.2s linear forwards;
    }
  }
}

// Modificador de la
.form__label_check {
  @include flexbox;
  @include align-items(center);
  cursor: pointer;
  &:before {
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    line-height: 1.8;
    color: transparent;
    @include font-rem(10px);
    border: 2px solid $c-default-3;
    background-color: $c-neutro;
    border-radius: 2px;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
  }
  .form__link {
    color: $c-brand-2;
    text-decoration: underline; //padding-left: 10px;
  }
}

/*---------Radiobutton Verde----------*/

/**
 * @molecule Radio button
 * @section Formulario
 * @modifiers
 *  .form__radio_label  RadioButton de color Azul
 *  .form__radio_label-brand RadioButton de color Verde
 * @markup
 *   <div class="form__row">
 *     <input class="form__radio" id="data1" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data1">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data2" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data2">Comprar como invitado</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data3" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data3">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data4" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data4">Comprar como invitado</label>
 *   </div>
 */

.form__radio {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  &:checked+.form__radio_label {
    &:before {
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
    &:after {
      width: 14px;
      height: 14px;
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
  }
}

.form__radio_label {
  position: relative;
  left: 40px;
  font-family: $f-bold;
  @include font-rem(16px);
  vertical-align: middle;
  cursor: pointer;
  &.light {
    font-family: $f-default;
  }
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $c-brand-2;
    background-color: $c-neutro;
  }
  &:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    transform: scale(0);
    border-radius: 50%;
    background-color: $c-brand-2;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
  }
}

//- Input radio verde
.form__radio_label-brand {
  &:before {
    content: "";
    border: 2px solid $c-default-2;
    background-color: $c-neutro;
  }
  &:after {
    background-color: $c-brand;
  }
}

//- Bloque formulario radio especial
.form__radio_box {
  .form__link {
    &.link__brand {
    display: block;
    }
  }
}


/*---------Bloque de Grid para radio en cápsula (Formulario)----------*/

// .form__radio-grid {
// }
/*--------- radio en cápsula (Formulario)----------*/

.form__radio-boll {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
}

.radio-boll__item {
  position: relative;
  margin-bottom: 10px;
}

/*-------- Bloque de radio en cápsula (Formulario)----------*/

.radio-boll__label {
  position: relative;
  left: 0;
  display: block;
  width: 100%;
  min-height: 40px;
  border-radius: 25px;
  border: 1px solid $c-default-3;
  background-color: $c-neutro;
  transition: all 0.2s;
  cursor: pointer;
  font-family: $f-light;
  text-align: center;
  padding: 6px 0;
}

.radio-boll__img {
  @include font-rem(0px);
  width: 100%;
  fill: $c-neutro;
  background-image: url("../img/brand-paypal.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px auto;
  background-color: $c-neutro;
  transition: all 0.2s;
  cursor: pointer;
}

.radio-boll__input {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.radio-boll__input {
  &:checked+.radio-boll__label {
    background-color: $c-brand_2;
    color: $c-neutro;
    border: none;
  }
  &:checked+.radio-boll__img {
    background-image: url("../img/brand-paypal_light.svg");
    background-color: $c-brand_2;
    border: none;
  }
}

/*--------Elemento Select----------*/

/**
 * @molecule Select
 * @section Formulario
 * @markup
 *   <div class="form__row">
 *     <input class="form__radio" id="data1" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data1">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data2" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data2">Comprar como invitado</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data3" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data3">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data4" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data4">Comprar como invitado</label>
 *   </div>
 */

/*-------- Elemento select (Formulario)----------*/

.form__select {
  width: 100%;
  padding: 12px 20px;
  @include font-rem(14px);
  font-family: $f-regular;
  color: $c-default;
  background-color: $c-default-5;
}

.form__inner-select {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: $c-tag-5_l;
  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    @include font-rem(16px);
    color: $c-brand-2;
    transform: translateY(-50%);
  }
}

.form__link {
  color: $c-brand-2;
  &:hover {
    color: $c-brand-2-hover;
  }
}

// $bp-small-m : 480px
@include media-query(small-m) {
  .form {
    .form__btn {
      max-width: 230px;
    }
    .radio-boll__label {
      width: 200px;
    }
    .btn-share {
      display: inline-block;
    }
  }
  .form__radio-boll {
    flex-direction: initial;
    justify-content: space-evenly;
  }
}

// $bp 768px
@include media-query(medium) {
  .form__group {
    &.rating {
      @include flexbox;
    }
  }
  .form {
    .form__btn {
      display: inline-block;
      margin-right: $sp-small;
    }
    .form__link {
      position: relative;
      //display: initial;
    }
  }
  .form__row-xhigh {
    &.form__row-grid {
      flex-direction: row;
    }
    .form__btn {
      margin: 0 0 0 auto;
    }
  }
  .form__btn {
    margin: 0 auto 0 0;
  }
  .form__section {
    .search__form {
      margin: 0 auto 0 0;
    }
  }
}

.form_validate-messages {
  margin-left: 0 !important;
}

@include media-query(small-wide) {
  .form {
    .btn-share {
      margin-bottom: 0;
    }
  }
}

@include media-query(wide) {
  .form__title {
    @include font-rem(48px);
  }
  .form__input {
    @include font-rem(16px);
  }
  .form__textarea {
    @include font-rem(16px);
  }
  .form__group {
    padding-bottom: 26px;
  }
  .form__row-inner_high {
    margin-left: $sp-medium;
  }
}
