//*------------------------------------*\
    //Variables Breakpoint
//*------------------------------------*/

$bp-small: 375px;
$bp-small-m: 480px;
$bp-small-medium: 650px;
//- Breakpoint especial de ruptura para pantallas Movistar
$bp-sm-md: 692px;
$bp-medium: 768px;
$bp-small-wide: 980px;
$bp-wide: 1024px;
$bp-large: 1180px;
$bp-big: 1280px;
$bp-huge: 1440px;
