//*------------------------------------*\
//Variables Espacios transversales
//*------------------------------------*/

$sp-none            : 0;
$sp-xsmall          : 10px;
$sp-small           : 20px;
//- $sp-small-medium: 20px;
$sp-medium          : 40px;
//-$sp-small-wide   : 20px;
$sp-wide            : 60px;
$sp-large           : 80px;
$sp-big             : 100px;
$sp-huge            : 120px;
