section.layout_section
  .layout_inner-d
    .ban-vitrina__info
      h2.ban-vitrina__title Paquetes prepago
      h2.ban-vitrina__subtitle ¿Ya conoces nuestros paquetes prepago? Cómpralos desde aquí y obtén más minutos, mensajes y Megas.
    .ban-group
      .ban-square
        picture.ban-square__crop
          source(media='(max-width: 480px)', srcset='static/img/demo/banner-square_xm.jpg')
          img.ban-hero__img(src='static/img/demo/banner-square_xl.jpg', alt='Movistar')
        .ban-square__info
          h4.ban-square__title Movistar ilimitado
          p.ban-square__txt Habla, navega y envía maíls de manera ilimitada.
      .ban-square
        picture.ban-square__crop
          source(media='(max-width: 480px)', srcset='static/img/demo/banner-square2_xm.jpg')
          img.ban-hero__img(src='static/img/demo/banner-square2_xl.jpg', alt='Movistar')
        .ban-square__info
          h4.ban-square__title Paquete de internet
          p.ban-square__txt Navega y usa tus Apps con nuestros paquetes de internet.
