.ban-group
  .ban-square
    picture.ban-square__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner-square_xm.jpg')
      img.ban-hero__img(src='static/img/demo/banner-square_xl.jpg', alt='Movistar')
    .ban-square__info
      h2.ban-square__title.i-cell Pospago
      p.ban-square__txt Las ventajas de tener un plan con Movistar
      a.ban-square__link(href='#', title='Conoce Más') Conoce más
  .ban-square
    picture.ban-square__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner-square2_xm.jpg')
      img.ban-hero__img(src='static/img/demo/banner-square2_xl.jpg', alt='Movistar')
    .ban-square__info
      h2.ban-square__title.i-cell-money Prepago
      p.ban-square__txt Disfruta los Beneficios de ser parte de Movistar
      a.ban-square__link(href='#', title='Conoce Más') Conoce más

