article.band-form
  .band-form__inner
    h4.band-form__title.band-form__item 
      strong.band-form__head ¿Eres cliente movistar? 
      | recarga $200 y obtienes más MB por tu compra en línea
    .band-form__foot.band-form__item 
      form.band-form__form(action="")
        label.band-form__label Escribe tu número
        input.band-form__input(type='text', placeholder='Ej: 12345678')
        button.band-form__btn.btn.btn_blue Recarga
      a.band-form__link.link__brand(href="#") Ver más recargas