.ban-frame
  .ban-frame__mask
    picture.ban-frame__crop
      //source(media='(max-width: 480px)', srcset='static/img/demo/banner-frame_m.jpg')
      img.ban-frame__img(src='static/img/demo/sim.png', alt='Movistar')
    img.ban-frame__svg(src='static/img/m-rot-azul.svg', alt='Movistar')
  .ban-frame__info
    p.ban-frame__txt Disfruta los Beneficios de tener una SIM Prepago en Movistar por solo $60
    a.ban-frame__btn.btn(href='#', title='Ir a comprar') Comprar
