//- Banner de la grilla de productos
.ban-slot__box
  p.ban-slot__headline Disfruta los Beneficios de tener una SIM Prepago en Movistar
  .ban-band__inner
    .ban-slot__panel
      ul.ban-slot__list
        li.ban-slot__item.i-cell-chat Llamadas y MSM
        li.ban-slot__item.i-cell-at Internet
        li.ban-slot__item.i-conectivity Apps
      .ban-slot__row
        p.ban-slot__txt-xl $60
        a.ban-slot__link.link__brand(href='#', title='Ver Más') Ver Más
    small.ban-slot__txt-sm Beneficios por 15 días. Vigencia del 12 de febrero al 31 de Mayo de 2018

