//-Banner Home
.ban-hero.ban-hero_2.js-sliderHome1
  .ban-hero__item
    picture.ban-hero__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner2-hero_xm.jpg')
      source(media='(max-width: 640px)', srcset='static/img/demo/banner2-hero_sm.jpg')
      source(media='(max-width: 768px)', srcset='static/img/demo/banner2-hero_m.jpg')
      source(media='(max-width: 1024px)', srcset='static/img/demo/banner2-hero_l.jpg')
      img.ban-hero__img(src='static/img/demo/hero-banner2.jpg', alt='Movistar')
    .ban-hero__caption
      .ban-hero__inner
        h2.ban-hero__title Nunca pierdas tus MEGAS
        p.ban-hero__txt Con Prepago® Rollover no pierdas tus MB! Súmalos a tu siguiente recarga del mismo monto.
        small.ban-hero__sm Si compras ahora tendrás un 20% de descuento (Solo para compras online)
      a.ban-hero__link.btn.btn_blue(href='#', title='Ver promoción') Ver más
  .ban-hero__item
    picture.ban-hero__crop
      source(media='(max-width: 480px)', srcset='static/img/demo/banner2-hero_xm.jpg')
      source(media='(max-width: 640px)', srcset='static/img/demo/banner2-hero_sm.jpg')
      source(media='(max-width: 768px)', srcset='static/img/demo/banner2-hero_m.jpg')
      source(media='(max-width: 1024px)', srcset='static/img/demo/banner2-hero_l.jpg')
      img.ban-hero__img(src='static/img/demo/hero-banner2.jpg', alt='Movistar')
    .ban-hero__caption
      .ban-hero__inner
        h2.ban-hero__title Nunca pierdas tus MEGAS
        p.ban-hero__txt Con Prepago® Rollover no pierdas tus MB! Súmalos a tu siguiente recarga del mismo monto.
        //- small.ban-hero__sm Si compras ahora tendrás un 20% de descuento (Solo para compras online)
      //- a.ban-hero__link.btn.btn_blue(href='#', title='Ver promoción') Ver más
