footer.boards-tabs__foot
  small.boards-tabs__type.i-star-fill Recibirás tu SIM Movistar y  la información sobre la recarga. Recuerda que primero debes iniciar la SIM Movistar y después puedes activar la recarga.
  a.boards-tabs__link.link__brand(href='car-ingresa-tus-datos.html',title='Continuar sin recargas adicionales') Continuar sin recargas adicionales
