.txt-banner
  header.txt-banner__head
    h4.txt-banner__title Movistar, siempre a mano
    h5.txt-banner__subtitle Habla más por menos
  ul.box-banner
    li.box-banner__item
      a.box-banner__card(href='#', title="Ir a recargas")
        span.box-banner__txt.i-cell-money Recargas
    li.box-banner__item
      a.box-banner__card(href='#', title="Ir a Chat")
        span.box-banner__txt.i-chat-comic Chat con Nikko
    li.box-banner__item
      a.box-banner__card(href='#', title="Ir a Cobertura 4G")
        span.box-banner__txt.i-cell-4g Conoce la Cobertura 4G
    li.box-banner__item
      a.box-banner__card(href='#', title="Ir a App Movistar")
        span.box-banner__txt.i-download Descarga la App Movistar
