.box-ico
  p.box-ico__txt.i-hand-money Imprime el recibo y ve al banco o a la tienda de conveniencia más cercana para realizar tu pago.
  a.board__btn.btn.btn__brand(href='malla.html', title='Ir a la tienda') Volver a la tienda
