
a.btn-fixed(href='car-checkout.html', title='Ir a pagar')
  .btn-fixed__link
    button.btn-circle.i-shopping-car Carrito de compra
      small.btn-circle-small 1
  span.data__total $46.768
  button.btn Ver carrito
