.callto
  .callto__inner
    h4.callto__title Conoce el estado de tu pedido
    .callto__cont
      form.callto__search
        label.search__label Rastrear orden
        .search__form
          input.search__input(type='text', placeholder='Ej: iPhone 8 negro', name='search')
          button.search__btn.i-search(type='submit')
      a.callto__link.link__brand(href='#', title='Tienes problemas con el código') ¿Tienes Problemas con tu código?
