- var item1 = 'Confirmar Productos'
- var item2 = 'Datos Personales'
- var item3 = 'Datos de envío'
- var item4 = 'Pago'

.cart-steps
  h3.cart-steps__title.section__head Carrito de compras
  .cart-steps__grid
    if item === 1
      p.cart-steps__item.cart-steps__item_active #{item1}
      p.cart-steps__item #{item2}
      p.cart-steps__item #{item3}
      p.cart-steps__item #{item4}
    if item === 2
      p.cart-steps__item.cart-steps__item_active #{item1}
      p.cart-steps__item.cart-steps__item_active #{item2}
      p.cart-steps__item #{item3}
      p.cart-steps__item #{item4}
    if item === 3
      p.cart-steps__item.cart-steps__item_active #{item1}
      p.cart-steps__item.cart-steps__item_active #{item2}
      p.cart-steps__item.cart-steps__item_active #{item3}
      p.cart-steps__item #{item4}
    if item === 4
      p.cart-steps__item.cart-steps__item_active #{item1}
      p.cart-steps__item.cart-steps__item_active #{item2}
      p.cart-steps__item.cart-steps__item_active #{item3}
      p.cart-steps__item.cart-steps__item_active #{item4}

