header.board__top-head.card-top__caution
  p.subtitle_gral Pago pendiente
  .card-ico.card-ico__caution
    h1.card-ico__title.i-hours No olvides realizar tu pago
    p.card-ico__txt Recuerda que tienes 24 horas para hacer tu pago.
    p.card-ico__txt De lo contrario, los productos serán liberados.
