.data__table
  .data__item
    span.tag.tag_blue Este producto recibe cupones
    .data__grid
      figure.data__col
        img.data__img(src="static/img/demo/thumb-phone.png", alt="")
        figcaption.data__caption
          span.data__th Apple iPhone X
          a.data__link(href="#") Eliminar
      dl.data__subitem.data__subitem_huge
        dt.data__th Color y Características
        dt.data__group
          p.list-thumb__circle.list-thumb__circle_active(style="background-color: #D0021B")
          p.list-thumb__boll.data__tag 32 GB
      dl.data__subitem
        dt.data__th Cantidad
        dd.group-input
            button.group-input__btn(type="button" data-btn="-") -
            input.group-input__num(id="addon" type="text" placeholder="1" value="1" disabled="")
            label.group-input__label(for="addon") Unidades
            button.group-input__btn(type="button" data-btn="+" data-max="5") +
      dl.data__subitem
        dt.data__th Precio
        dd.data__price $23.499
  .data__item
    span.tag.tag_blue Este producto recibe cupones
    .data__grid
      figure.data__col
        img.data__img(src="static/img/demo/thumb-sim.png", alt="")
        figcaption.data__caption
          span.data__th SIM Movistar
          a.data__link(href="#") Eliminar
      dl.data__subitem.data__subitem_huge
        dt.data__th Detalle de SIM
        dt.data__items
          p.data__txt.i-chat-comic Minutos México,Estados Unidos y Canadá: ilimitado
          p.data__txt.i-wifi Internet 1400 MB
          p.data__txt.i-chat Aplicaciones WhatsApp Ilimitado** Incluye llamadas.
      dl.data__subitem
        dt.data__th Cantidad
        dd.data__amount 1
      dl.data__subitem
        dt.data__th Precio
        dd.data__price $23.499
  .data__item
    .data__grid
      figure.data__col
        img.data__img(src="static/img/demo/thumb-reload.png", alt="")
        figcaption.data__caption
          span.data__th Recarga $200
          a.data__link(href="#") Eliminar
      .data__subitem.data__subitem_huge
        p.data__th Detalle de Recarga
        ul.data__list-general
          li.data__item-bullet Recibes 3000 MB
          li.data__item-bullet Aplicaciones WhatsApp Ilimitado*
          li.data__item-bullet Incluye llamadas.
          li.data__item-bullet Minutos México, Estados Unidos y Canadá: ilimitado

      dl.data__subitem.data__subitem_huge
        dt.data__th Monto de la recarga
