.data-sheet
  //-formulario
  //- form.data-sheet__form(action="")
  //-   //-seccion 1 del formulario
  //-   label.data-sheet__label Comparar con
  //-   span.data-sheet__grid
  //-     input.data-sheet__input(type="text", placeholder='Apple iPhone 7')
  //-     button.data-sheet__btn.i-search(type='submit')
  figure.data-sheet__fig
    img.data-sheet__img(src='static/img/demo/iphone.jpg')
  .data-sheet__info
    h3.data-sheet__txt Apple iPhone 7
    p.data-sheet__value $1039,990
    a.data-sheet__btn2.btn(href='car-checkout.html', title='Ir a comprar') Comprar
  .data-sheet__specs
    .data-sheet__row
      small.data-sheet__txt-sm Dimensiones
      p.data-sheet__txt 138.3 x 67.1 x 7.1mm
    .data-sheet__row
      small.data-sheet__txt-sm Peso
      p.data-sheet__txt 138g
    .data-sheet__row
      small.data-sheet__txt-sm Pantalla
      p.data-sheet__txt 4.7 pulgadas
    .data-sheet__row
      small.data-sheet__txt-sm Memoria Interna
      p.data-sheet__txt 32GB, 128GB ó 256GB
    .data-sheet__row
      small.data-sheet__txt-sm Sistema Operativo
      p.data-sheet__txt iOS 10
    .data-sheet__row
      small.data-sheet__txt-sm A prueba de salpicaduras
      p.data-sheet__txt Sí
  a.data-sheet__link.i-add(href='malla.html', title='Ver más Terminales') Ver Más
