.data__aside
  .data__aside-wrap
    .data__header
      h2.data__title Datos de compra
      p.data__subtitle Orden No. 1423274
    dl.data__list
      dt.data__term Iphone X
      dd.data__value $23.499
    dl.data__list
      dt.data__term SIM card
      dd.data__value $60
    dl.data__list
      dt.data__term Recarga
      dd.data__value $200
    dl.data__list
      dt.data__term Envío
      dd.data__value GRATIS
    dl.data__list
      dt.data__term Impuestos
      dd.data__value $2.300
    dl.data__list
      dt.data__term Descuento MX1 = 91
      dd.data__value - $2.300
    dl.data__list
      dt.data__term Descuento XCQAD
      dd.data__value - $2.300
    .data__form
      .input-search
        label.input-search__label
          |Escribe tu código de descuento
          small.txt_blue Puedes agregar más de un cupón
        input.input-search__input(type='search', placeholder='Ej: MX1=91')
        button.input-search__btn(type='submit') Aplicar
    dl.data__list.data__summary
      dt.data__term Total
      dd.data__total $28.350
