.data-sheet
  //-formulario
  //- form.data-sheet__form(action="")
  //-   //-seccion 1 del formulario
  //-   label.data-sheet__label Comparar con
  //-   span.data-sheet__grid
  //-     input.data-sheet__input(type="text")
  //-     button.data-sheet__btn.i-search.js-btnData(type='submit')
  //-   //- Lista desplegable
  //-   include _data-sheet_list

  figure.data-sheet__fig
    img.data-sheet__img(src='static/img/demo/null.jpg')
  .data-sheet__info
    h3.data-sheet__txt
    p.data-sheet__value
    a.data-sheet__btn2.btn(href='car-checkout.html', title='Ir a comprar') Comprar
  .data-sheet__specs
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
    .data-sheet__row
      small.data-sheet__txt-sm
      p.data-sheet__txt
  a.data-sheet__link.i-add(href='malla.html', title='Ver más terminales') Ver Más
