article.board
  include _card-ico_green
  //- Espacio de texto sencillo
  .board__lead
    p.board__txt Recuerda que agregaste un paquete con:
    ul.board-list
      li.board-list__item.i-whatsapp 2 GB  de Whatsapp
      li.board-list__item.i-facebook 2 GB  de Facebook
  include _list-radio
include _board-footer
