form.form.validate(action='', method='')
  fieldset
    .form__head.form__row-inner_high
      p.form__txt-inline Ingresa tus datos
        small.form__txt-ico.i-star-fill campos obligatorios
    .form__row-inner_high.form__row-none
      label.form__label-ico.i-star-fill Teléfono o correo electrónico
      input.form__input(placeholder='+521 2221234567', type="text", name='email', data-validate='emailTel')
      small.form__alert(name="email")
    .form__row-inner_high
      a.form__link.link_under.link__block(href='#', alt='olvidaste tu contraseña') ¿Olvidaste tu contraseña?
    .form__row-high
      button.form__btn.btn.btn__brand(type='submit') Continuar
