form.form.validate(action='', method='')
  .form__head
    p.form__txt Tu cuenta ya está registrada en la Tienda de Movistar.
    p.form__txt Por favor ingresa tu contraseña:
  .form__row
    span.form__txt-xl martinana@gmail.com
  .form__row-sm
    label.form__label-light(for='contraseña') Contraseña
    .form__relative
      input.form__input(placeholder='Escribe tu contraseña', type="password", name='contraseña', data-validate='password')
      button.form__ico.form__js-ico.i-eye(type='button')
    .form__row
      small.form__alert(name="contraseña")
  .form__row
    a.form__link.link_under.link__block(href='#', alt='olvidaste tu contraseña') ¿Olvidaste tu contraseña?
  .form__row
    //a.form__btn.btn.btn__brand(href="car-metodos-de-envio.html") Continuar
    button.form__btn.btn.btn__brand(type='submit') Continuar
    a.link__brand.link__block(href='#', alt='Cambiar el correo') Cambiar el correo
