form#metodoEnvio.form(action='', method='')
  .form__box.form__box_under
    .form__row-gral
      input.form__radio(type='radio', id='invoice-mail1', name='invoice-mail', checked)
      label.form__radio_label.form__radio_label-brand(for='invoice-mail1') Enviar a una dirección
      small.form__txt-sm Selecciona una dirección de envío o ingresa un nueva dirección.
    .form__row-none
      input.form__radio(type='radio', id='invoice-mail2', name='invoice-mail')
      label.form__radio_label.form__radio_label-brand(for='invoice-mail2') Pasar a la tienda
      small.form__txt-sm Encuentra la tienda más cercana donde quieres recoger.
  .form__row
    input.form__check(type='checkbox', id='invoice1', name='invoice')
    label.form__label_check.i-check(for='invoice1') Deseo recibir una factura por mi compra
  .form__row
    //a.form__btn.btn(href="car-metodos-de-envio-desplegado.html") Continuar
    button.form__btn.btn(type='submit') Continuar
