form.form.validate(action='', method='')
  .form__row-high
    input.form__radio(type='radio', id='data1', name='data', checked, onclick="dropDownRadio(this)")
    label.form__radio_label.form__radio_label-brand(for='data1') Ingresa o regístrate
      //-.form__row-inner.form__box-alert
    .form.form-slot1
      .form__row.js-formDropdown
        .form__row-high
          label.form__label-light.form__box-ico.i-check-circle Correo electrónico o teléfono
          input.form__input(placeholder='martinana@gmail.com', name="email", data-validate='emailTel')
          small.form__alert(name="email")
        .form__row-high
          //a.form__btn.btn.btn__brand(href="car-ingresa-tu-contrasena.html") Continuar
          button.form__btn.btn.btn__brand(type='submit') Continuar
        .form__row-inner_high
          span.form__label-light También puedes ingresar con tus redes sociales
          a.btn-share.i-facebook-fill(href='#', alt='Inicie con Facebook') Inicia con Facebook
          a.btn-share.btn-share_red.i-share-google(href='#', alt='Inicie con Google+') Inicia con Google+
  .form__row-high
    input.form__radio(type='radio', id='data2', name='data', onclick="dropDownRadio(this)")
    label.form__radio_label.form__radio_label-brand(for='data2') Comprar como invitado
    .form__row.js-formDropdown
      .form__row-inner_high
        span.form__txt-sm No abrirás una cuenta en la tienda de Movistar.
        span.form__txt-sm No recibirás notificaciones de descuentos, ni promociones.
      .form.form-slot7.validate(action='', method='')
        .form__head.form__row-inner_high
          p.form__txt-inline Ingresa tus datos
            small.form__txt-ico.i-star-fill campos obligatorios
        //- .form__row-gral
        //-   legend.form__title-section Datos personales
        .form__row-inner_high.form__row-none
          label.form__label-ico.i-star-fill Teléfono o correo electrónico
          input.form__input(placeholder='+521 2221234567', type="text", name='email2', data-validate='emailTel')
        .form__row-inner_high
          small.form__alert(name="email2")
        .form__row-inner_high
          button.form__btn.btn.btn__brand(type='submit') Continuar
