//Formulario de opiniones
.form.form-reviews
  h3.form__title ¡Compártenos tú opinión!
  .form__row-gral
    label.form__label(for="title") Título
    input.form__input(type="text", placeholder="Título que resuma tu opinión")
  .form__row-gral
    label.form__label(for="message") Escribe tu mensaje
    textarea.form__textarea(name="", cols="30", rows="5", placeholder="Escribe tu opinión sobre el producto")
  .form__row-gral
    label.form__label(for="name") Tu nombre
    input.form__input(type="text", placeholder="Título que resuma tu opinión")
  .form__row.rating
    span.form__label Valoración del Producto
    fieldset.form-rating
      input#ratingReviews5(type='radio', name='rating-views', value='5')
      label.form-rating__label.i-star-comic(for='ratingReviews5', title='5 Estrellas')
      input#ratingReviews4(type='radio', name='rating-views', value='4')
      label.form-rating__label.i-star-comic(for='ratingReviews4', title='4 Estrellas')
      input#ratingReviews3(type='radio', name='rating-views', value='3')
      label.form-rating__label.i-star-comic(for='ratingReviews3', title='3 Estrellas')
      input#ratingReviews2(type='radio', name='rating-views', value='2')
      label.form-rating__label.i-star-comic(for='ratingReviews2', title='2 Estrellas')
      input#ratingReviews1(type='radio', name='rating-views', value='1')
      label.form-rating__label.i-star-comic(for='ratingReviews1', title='1 Estrella')
  .form__row
    img.form__captcha(src="../dist/static/img/captacha.jpg", alt="captcha")
  .form__row-gral
    input.form__btn.btn(type="submit", value="Escribe tu opinión")
