if alertInput === 1
  form.form.form__inner.validate
    .form__row-gral
      label.form__label-light Correo electrónico o teléfono
      input.form__input.error(placeholder='martinana@gmail.com', name="email", data-validate='emailTel', type='email')
      .form__row-grid
        small.form__alert(name="email")
        a.form__link.link_under(href='#', alt='Abrir una nueva cuenta') ¿Abrir una nueva cuenta?
    .form__row-gral
      label.form__label-light(for='passShow') Contraseña
      .form__relative
        input.form__input.error(placeholder='Escribe tu contraseña', type="email", name='contraseña', data-validate='password')
        button.form__ico.form__js-ico.i-eye(type='button')
      .form__row-grid
        small.form__alert(name="contraseña")
        a.form__link.link_under(href='#', alt='olvidaste tu contraseña') ¿Olvidaste tu contraseña?
    .form__row-xhigh.form__row-grid
      a.link__brand.link__block(href='#', alt='Cambiar el correo') Crear tú cuenta
      button.form__btn.btn.btn__brand(type='submit') Siguiente
else
  form.form.form__inner(action='', method='')
    .form__row-gral
      label.form__label-light.js-formCheck Correo electrónico o teléfono
      input.form__input(placeholder='martinana@gmail.com', name="email")
      .form__row-grid
        //small.form__alert Usuario no registrado.
        a.form__link.link_under(href='#', alt='Abrir una nueva cuenta') ¿Abrir una nueva cuenta?
    .form__row-gral
      label.form__label-light(for='passShow') Contraseña
      .form__relative
        input.form__input(placeholder='Escribe tu contraseña', type="password", name='contraseña')
        button.form__ico.form__js-ico.i-eye(type='')
      .form__row-grid
        //small.form__alert Usuario no registrado.
        a.form__link.link_under(href='#', alt='olvidaste tu contraseña') ¿Olvidaste tu contraseña?
    .form__row-xhigh.form__row-grid
      a.link__brand.link__block(href='#', alt='Cambiar el correo') Crear tú cuenta
      button.form__btn.btn.btn__brand(type='submit') Siguiente
