form.form.validate(action='/car-datos-de-pago.html', method='')
  //- Selección 1 Enviar a mi casa
  fieldset.form__section
    .form__none
      .form__head
        legend.form__title-section Selecciona una dirección de facturación
      .form__row-none
        input.form__radio(type='radio', id='shipping1', name='shipping' checked)
        label.form__radio_label(for='shipping1') Tania Dimas
        span.form__txt-strong RFC:
        small.form__txt-style
          | DIBT310885B64
          br
          | 55 4275 3983
          br
          | tania.dimas@telefonica.com
        address.form__txt-style
          | Avenida Centenario 1540
          br
          | U-Hab Lomas de Centenario Casa No. 8
          br
          | Belém de la Flores.
          br
          | Ciudad de México 01630
      .form__row-inner
        .box-links
          a.box-links__link.link__brand(href='#', title='Editar') Editar
          a.box-links__link.link__brand(href='#', title='Eliminar') Eliminar
      .form__row
        button.anchor-item.i-arrow-back(type="button",onclick="dropDownButton(this)") Añadir nueva dirección de facturación
        .form__cont
          .form__row-sm
            h3.form__title-section Datos personales
          .form__row-gral
            p.form__txt-inline Ingresa tus datos
              small.form__txt-ico.i-star-fill campos obligatorios
          .form__row
            input.form__check.valid(type='checkbox', id='data1', name='data' checked)
            label.form__label_check.i-check(for='data1') Usar los mismos datos personales y de envío.
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Nombre y apellido
            input.form__input(placeholder='Escribe tu nombre y apellido', type="text", name='nombre', data-validate='name')
            small.form__alert(name="nombre")
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Proporciona tu RFC
            input.form__input(placeholder='Escribe tu RFC', type="text", name='RFC', data-validate='RFC')
            small.form__alert(name="RFC")
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Teléfono
            input.form__input(placeholder='Escribe tu número de teléfono', type="text", name="telefono",  data-validate='phone')
            small.form__alert(name="telefono")
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Correo electrónico
            input.form__input(placeholder='Escribe tu correo electrónico', type="email", id="email", name="email",  data-validate='email', data-validate-equalEmail)
            small.form__alert(name="email")
          .form__row.form__row-none
            label.form__label-ico.i-star-fill Confirma tu correo electrónico
            input.form__input(placeholder='Escribe tu correo electrónico', type="email", name='confirmEmail', data-validate='confirmEmail')
            small.form__alert(name="confirmEmail")
          //- Seccion Datos personales
          .form__row
            h3.form__title-section.title_under Datos personales
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Código postal
            input.form__input(placeholder='000000', type="text", name='postal', data-validate='postalCode')
            small.form__alert(name="postal")
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill Calle
            input.form__input(placeholder='Escribe tu domicilio', type="text", name='calle', data-validate='street')
            small.form__alert(name="calle")
            .form__grid
              .form__grid__item
                input.form__input(placeholder='Número', type="text", name='calleNumero', data-validate='streetNumber')
                small.form__alert(name="calleNumero")
              .form__grid__item
                input.form__input(placeholder='Colonia', type="text", name='calleColonia', data-validate='streetColony')
                small.form__alert(name="calleColonia")
          .form__row-gral.form__row-none
            label.form__label-ico.i-star-fill(for="ciudad") Ciudad
            .form__inner-select.i-a-arrow-down
              select.form__select(name='ciudad', data-validate='city')
                option(value="") Selecciona
                option(value="ciudad-1") Ciudad 1
                option(value="ciudad-2") Ciudad 2
            small.form__alert(name="ciudad")
          .form__row.form__row-none.form__row-under
            label.form__label-ico.i-star-fill(for="municipio") Delegación o Municipio
            .form__inner-select.i-a-arrow-down
              select.form__select(name='municipio', data-validate='municipality')
                option(value="") Selecciona
                option(value="municipio-1") Municipio 1
                option(value="municipio-2") Municipio 2
            small.form__alert(name="municipio")
          .form__row-gral
            input.form__check(type='checkbox', id='add2', checked, name='avisoPrivacidad', data-validate='checkPrivacy')
            label.form__label_check.i-check(for='add2')
              a.form__link.link(href='#', title='Aviso de privacidad') Acepto aviso de privacidad
            small.form__alert(name="avisoPrivacidad")
          .form__row
            input.form__check(type='checkbox', id='add3')
            label.form__label_check.i-check(for='add3') Establecer como mi dirección predeterminada
          .form__row-sm
            //a.form__btn.btn(href='car-datos-de-pago.html') Continuar
            button.form__btn.btn.btn_blue(type='submit') Agregar dirección
    .form__row
      //a.form__btn.btn(href='car-datos-de-pago.html') Continuar
      button.form__btn.btn(type='submit') Continuar
