.slider__cards.js-slideCards
  //-card 1
  .card.card_sm
    header.card__header
      span.card__tag.card__tag_magenta El más buscado
      h3.card__title 200 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid
          span.card__ico.i-chat Whatsapp
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 2 días
      .card__item
        p.card__subtitle Minutos / SMS
        p.card__txt Ilimitados
      .card__item
        p.card__subtitle Recarga
        p.card__txt $10
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
  //-card 2
  .card.card_sm
    header.card__header
      span.card__tag Promoción
      h3.card__title 500 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid
          span.card__ico.i-chat Whatsapp
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 5 días
      .card__item
        p.card__subtitle Minutos / SMS
        p.card__txt Ilimitados
      .card__item
        p.card__subtitle Recarga
        p.card__txt $20
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
  //-card 3
  .card.card_sm
    header.card__header
      h3.card__title 1000 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid-icon
          span.card__ico.i-chat Whatsapp
          span.card__ico.i-facebook-fill facebook
          span.card__ico.i-twitter-comic Twitter
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 5 días
      .card__item
        p.card__subtitle Minutos / SMS
        .card__grid
          img.card__img(src="static/img/demo/country-flag-001.png", alt="Estados Unidos")
          img.card__img(src="static/img/demo/country-flag-002.png", alt="Mexico")
          img.card__img(src="static/img/demo/country-flag-003.png", alt="Canada")
        p.card__txt 500 min. fijo y móvil
      .card__item
        p.card__subtitle Recarga
        p.card__txt $100
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
  //-card 4
  .card.card_sm
    header.card__header
      h3.card__title 1000 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid
          span.card__ico.i-chat Whatsapp
          span.card__ico.i-facebook-fill facebook
          span.card__ico.i-twitter-comic Twitter
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 35 días
      .card__item
        p.card__subtitle Minutos / SMS
        .card__grid
          img(src="static/img/demo/country-flag-001.png", alt="Estados Unidos").card__img
          img(src="static/img/demo/country-flag-002.png", alt="Mexico").card__img
          img(src="static/img/demo/country-flag-003.png", alt="Canada").card__img
        p.card__txt 500 min. fijo y móvil
      .card__item
        p.card__subtitle Recarga
        p.card__txt $300
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
  //-card 5
  .card.card_sm
    header.card__header
      h3.card__title 1000 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid
          span.card__ico.i-chat Whatsapp
          span.card__ico.i-facebook-fill facebook
          span.card__ico.i-twitter-comic Twitter
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 35 días
      .card__item
        p.card__subtitle Minutos / SMS
        .card__grid
          img(src="static/img/demo/country-flag-001.png", alt="Estados Unidos").card__img
          img(src="static/img/demo/country-flag-002.png", alt="Mexico").card__img
          img(src="static/img/demo/country-flag-003.png", alt="Canada").card__img
        p.card__txt 500 min. fijo y móvil
      .card__item
        p.card__subtitle Recarga
        p.card__txt $300
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
  //-card 6
  .card.card_sm
    header.card__header
      h3.card__title 1000 MB
    .card__content
      .card__item
        p.card__subtitle Apps
        .card__grid
          span.card__ico.i-chat Whatsapp
          span.card__ico.i-facebook-fill facebook
          span.card__ico.i-twitter-comic Twitter
      .card__item
        p.card__subtitle Vigencia
        p.card__txt 35 días
      .card__item
        p.card__subtitle Minutos / SMS
        .card__grid
          img(src="static/img/demo/country-flag-001.png", alt="Estados Unidos").card__img
          img(src="static/img/demo/country-flag-002.png", alt="Mexico").card__img
          img(src="static/img/demo/country-flag-003.png", alt="Canada").card__img
        p.card__txt 500 min. fijo y móvil
      .card__item
        p.card__subtitle Recarga
        p.card__txt $300
    footer.card__foot
      button.card__btn.btn.btn_blue Lo quiero
