// grid
.layout_inner
  //-bloque de select para filtros
  .grid__top
    span.hide_desk
      button.btn_tag.i-filter.js-filtroBtn Filtros
    .grid__select
      include _filter-select
  .layout_grid
    .grid_filtro.js-filtro
      .filtro__scroll.js-stop
        .filtro
          h2.filtro__title Filtrar por
          ul.filtro__level1
            li.filtro__item.js-dropdown
              span.filtro__subtitle.i-arrow-back.js-dropdownBtn Rango de Precio
              .filtro__level2.js-dropdownSlide
                .filtro__slide
                  .filtro__slide__qty
                    span.filtro__slide__number.filtro__slide__number_min $0
                    span.filtro__slide__number.filtro__slide__number_max $600.000
                  input.filtro__slide__input#priceRange(type="text" value="0, 300000" min="0" max="600000" step="50")

                  p.filtro__slide__dark.filtro__slide__price_highlight
                    span#price $0 - $300.000

          ul.filtro__level1
            li.filtro__item.js-dropdown
              span.filtro__subtitle.i-arrow-back.js-dropdownBtn Teléfonos
              ul.filtro__level2.js-dropdownSlide
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Marca
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item1") Alcatel (2)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item2",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item2") Apple (5)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item3",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item3") Bmobile (1)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item4",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item4") Hisense (2)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item5",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item5") Huawei (4)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item6",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item6") LAVA (2)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item7",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item7") LG (5)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item8",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item8") Nokia (2)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item9",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item9") Motorola (8)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item19",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item19") Samsung (7)
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item10",
                        type="checkbox",
                        name="marca")
                      label.form__label_check.i-check(
                        for="item10") Sony (4)
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Memoria
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item11",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item11") 2 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item12",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item12") 4 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item13",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item13") 8 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item14",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item14") 16 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item15",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item15") 32 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item16",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item16") 64 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item17",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item17") 128 GB
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item18",
                        type="checkbox",
                        name="memoria")
                      label.form__label_check.i-check(
                        for="item18") 256 GB
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Pantalla
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item1a") Retina
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Cámara
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item1a") 12MP + 20MP
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item11") 12 Mpx
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item2a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item2a") 13 Mpx
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item3a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item3a") 16 Mpx
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item4a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item4a") 20 Mpx + 12 Mpx
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Color
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="itemc1",
                        type="checkbox",
                        name="color")
                      label.form__label_check.i-check(
                        for="itemc1")
                        span.list-thumb__ovals(style="background-color: #50535A")
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="itemc2",
                        type="checkbox",
                        name="color")
                      label.form__label_check.i-check(
                        for="itemc2")
                        span.list-thumb__ovals(style="background-color: #FE7676")
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="itemc3",
                        type="checkbox",
                        name="color")
                      label.form__label_check.i-check(
                        for="itemc3")
                        span.list-thumb__ovals(style="background-color: #7ED321")
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="itemc4",
                        type="checkbox",
                        name="color")
                      label.form__label_check.i-check(
                        for="itemc4")
                        span.list-thumb__ovals(style="background-color: #BD10E0")
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Estado
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item1a") Nuevo
                li.filtro__item.js-dropdown
                  span.filtro__headline.i-arrow-back.js-dropdownBtn Características especiales
                  ul.filtro__level3.js-dropdownSlide
                    li.filtro__subitem.form__row_check
                      input.form__check(
                        id="item1a",
                        type="checkbox",
                        name="pantalla")
                      label.form__label_check.i-check(
                        for="item1a") Equipos con accesibilidad

      .filtro__footer
        button.btn Aplicar filtros
    .grid_content
      .grid
        if gridModules === true
          include _grid-slots_modules
        else
          include _grid-slots
        include _grid-pager


