.group-input
  button.group-input__btn(type="button" data-btn="-") -
  input.group-input__num(id="addon", type="text", placeholder="1" value="1" disabled)
  label.group-input__label(for="addon") Unidades
  button.group-input__btn(type="button" data-btn="+" data-max="5") +
