//Hero slider - malla terminales

.hero-banner
  .hero-banner__item
    img.hero-banner__svg(src='static/img/m-rot-azul.svg', alt='Movistar Brand')
    picture.hero-banner__crop
      source(media='(max-width: 767px)', srcset='static/img/demo/hero-banner_xs.jpg')
      img.hero-banner__img(src='static/img/demo/hero-banner_xl.jpg', alt='Movistar Brand')
    .hero-banner__caption
      h2.hero-banner__title Vibra.
      span.hero-banner__txt Haz de cada foto una publicación, cambia la manera en que el mundo te ve a través de los lentes HUAWEI P10.
      span.hero-banner__bold Redeﬁne el retrato moderno.
      a.hero-banner__btn.btn(href='#', title='Conoce más') Conoce más
  .hero-banner__item
    img.hero-banner__svg(src='static/img/m-rot-azul.svg', alt='Movistar Brand')
    picture.hero-banner__crop
      source(media='(max-width: 768px)', srcset='static/img/demo/hero-banner_xs.jpg')
      img.hero-banner__img(src='static/img/demo/hero-banner_xl.jpg', alt='Movistar Brand')
    .hero-banner__caption
      h2.hero-banner__title Vibra 123.
      span.hero-banner__txt Haz de cada foto una publicación, cambia la manera en que el mundo te ve a través de los lentes HUAWEI P10.
      span.hero-banner__txt-bold Redeﬁne el retrato moderno.
