.input-search
  label.input-search__label Tiempo de entrega:
  input.input-search__input(type='search', placeholder='Código Postal')
  button.input-search__btn(type='submit') Calcular
.input-search.i-tel-comic
  label.input-search__label ¿Necesitas ayuda con tu compra?:
  input.input-search__input(type='search', placeholder='Déjanos tu teléfono')
  button.input-search__btn(type='submit') Enviar
