// List-thumb_boll
ul.list-thumb
  li.list-thumb__item
    input.list-thumb__input(id="boll1", type="radio", checked="checked", name="bolls")
    label.list-thumb__boll(for="boll1") 32 GB
  li.list-thumb__item
    input.list-thumb__input(id="boll2", type="radio", name="bolls")
    label.list-thumb__boll(for="boll2") 128 GB
  li.list-thumb__item
    input.list-thumb__input(id="boll3", type="radio", name="bolls")
    label.list-thumb__boll(for="boll3") 256 GB
