// List- Group
.list-group
  p.list-icons__txt Todas las SIM Movistar incluyen una recarga básica.
  //Lista de iconos
  ul.list-icons
    li.list-ico__line.i-chat-comic Minutos México, Estados Unidos y Canadá: ilimitado
    li.list-ico__line.i-cell-detail Internet 1400 MB
    li.list-ico__line.i-chat Aplicaciones WhatsApp Ilimitado** Incluye llamadas.
  //Lista de bullets
  ul.list-bullet
    li.list-bullet__item Vigencia de 15 días
    li.list-bullet__item GSM
    li.list-bullet__item Normativa de contactos (4g lte)
    li.list-bullet__item Formato: SIM, MINI, MACRO, NANO
    li.list-bullet__item Tecnología NFC integrada
  p.list-icons__txt Este producto tiene costo de envío.
  //- Link
  a.link__brand(href='#', title="Términos y condiciones") Leer términos y condiciones
