// List-ico
dl.list-ico
  dt.list-ico__txt Compartir
  dd.list-ico__item
    a.list-ico__link.i-facebook(href='#', title="Compartir en Facebook") Compartir en facebook
  dd.list-ico__item
    a.list-ico__link.i-twitter-comic(href='#', title="Compartir en Facebook") Compartir en Twitter
  dd.list-ico__item
    a.list-ico__link.i-chat(href='#', title="Compartir en Facebook") Compartir en Whatsapp
  dd.list-ico__item
    a.list-ico__link.i-email(href='#', title="Compartir en Facebook") Compartir por correo
