// Menu detail Sticky
ul.list-sticky
  li.list-sticky__item
    figure.list-sticky__fig
      img.list-sticky__img(src="static/img/iphone.png", alt="Apple iPhone X")
      figcaption.list-sticky__caption Apple iPhone X
  li.list-sticky__item
    small.list-sticky__sm-txt Precio:
    span.list-sticky__txt $23.789
  li.list-sticky__item
    small.list-sticky__sm-txt Color:
    span.list-sticky__txt Negro
  li.list-sticky__item
    small.list-sticky__sm-txt Capacidad:
    span.list-sticky__txt 32 GB
  li.list-sticky__item
    small.list-sticky__sm-txt Cantidad:
    span.list-sticky__txt 1
  li.list-sticky__item.list-sticky__item_huge
    button.list-sticky__btn.btn.i-shopping-car Agregar al carrito
  //- li.list-sticky__item
  //-   button.btn-circle.i-shopping-car.head__item Carrito de compra
  //-     small.btn-circle-small 1
