//- Menú promocional
.menu-promo
  .menu-promo__inner
    ul.menu-promo__list
      li.menu-promo__item
        a.menu-promo__link.i-money(href="#") Los mejores precios
      li.menu-promo__item
        a.menu-promo__link.i-shopping-car(href="#") Compra sencilla
      li.menu-promo__item
        a.menu-promo__link.i-house(href="#") Lo llevamos a la puerta de tu casa