mixin Blockmodal
  .modal__box
    button.modal__close.i-x Cerrar
    img.modal__img(src="static/img/m-movistar-green.svg", alt="App Store")
    h3.modal__title Alerta
    p.modal__txt No podrás comprar más de 5 productos del mismo tipo.
    a.modal__btn.btn.btn__brand(href='malla.html', title='Ir a comprar productos') Comprar otros productos



if modalActive === true
  .modal.modal__view
    +Blockmodal
else if modalActive === 1
  .modal
    +Blockmodal
