.panel__ban.ban-band
  picture.ban-band__crop
    source(media='(max-width: 768px)', srcset='static/img/demo/panel-ban-band_m.jpg')
    img.ban-band__img(src='static/img/demo/panel-ban-band_xl.jpg', alt='Movistar')
  .ban-band__info
    p.ban-band__def ¿Eres de los nuestros?
    p.ban-band__txt Conoce todos los servicios de nuestro eCare.
    //- a.ban-band__link(href='#', title='Ver planes postpago') Mira los Planes Pospago
