dl.panel
  dt.panel__inner_top
    h4.panel__headline Notificaciones
  dd.panel__odd
    p.panel__txt ¡Bienvenido a Movistar Juan! Todo el equipo de Movistar estará dispuesto ayudarte con tu nueva linea en ECARE
    .panel__end
      time.panel__small 08/07/18
      button.panel__btn-ico.i-menu-bullets  Acciones
  dd.panel__odd
    p.panel__txt Hola Juan, tu pago fue aprobado, estamos preparando tu pedido para ser enviado. Recuerda que puedes seguir tu pedido desde
    .panel__end
      time.panel__small 08/07/18
      button.panel__btn-ico.i-menu-bullets  Acciones
  dd.panel__odd
    p.panel__txt Todo el equipo de Movistar estará dispuesto ayudarte con tu nueva linea en ECARE.
    .panel__end
      time.panel__small 08/07/18
      button.panel__btn-ico.i-menu-bullets  Acciones
  .panel__inner_m
    a.panel__link.link__brand(href='panel-historico-notificaciones.html', title='Ver más notificaciones') Ver más notificaciones
