.layout__inner
  article.prefoot
    h3.prefoot__title
      a.link__brand(href='#', title='Ir a Términos y condiciones') Términos y condiciones
    p.prefoot__txt Oferta válida del 01 al 31 de enero de 2018. Aplica para Holding 2 con importe del 100%.Aplica para cliente nuevo o portabilidad desde 2 líneas. Aplica con Contrato Marco, anexo móvil y  contrato de condiciones uniformes. No aplica para reventa. En las adiciones se debe firmar anexo modificatorio para los planes E para todos los cargos básicos. Aplica únicamente para equipos traídos o a precio de carpeta comercial full prepago vigente.
