// Block Rating
.rating(itemprop="aggregateRating", itemscope, itemtype="http://schema.org/AggregateRating")
  span.rating__txt Valoración
  figure.rating__stars
    img(src="static/img/rating__stars-4.svg", alt="Valoración #1 en el rating")
  span.rating__value(itemprop="ratingValue") 4.0
