.row-order
  dl.row-order__row
    dt.row-order__label Iphone X
    dd.row-order__value $23.499
  dl.row-order__row
    dt.row-order__label SIM card
    dd.row-order__value $12
  dl.row-order__row
    dt.row-order__label Plan 1
    dd.row-order__value $349
  dl.row-order__row
    dt.row-order__label Envío
    dd.row-order__value Gratis
