article.grid__slot
  .grid__tags
    span.tag.tag_min.tag_blue Meses sin intereses
    span.tag_corner.tag_corner-yellow.i-triangle -50%
    //-span.tag.tag_min.tag_purple 5 H 22 Min de Promoción
  .grid__inner
    figure.grid__photo
      a.grid__action(href="detalle-producto.html")
        img.grid__img(src='static/img/demo/grid-001.jpg')
    .grid__body
      .grid__order
        .grid__header
          a.grid__action(href="detalle-producto.html")
            h2.grid__title APPLE  - Iphone X
            p.grid__ref ABD478

        .grid__assess
          .rating.grid__rating(
            itemprop='aggregateRating',
            itemscope='',
            itemtype='http://schema.org/AggregateRating')
            figure.rating__stars
              img(
                src='static/img/rating__stars-4.svg',
                alt='Valoración #4 en el rating')

          ul.list-thumb.list-thumb_color
            li.list-thumb__item
              input.list-thumb__input(
                id="color1",
                type="radio",
                name="colors")
              label.list-thumb__circle(
                for="color1",
                style="background-color:#000")
            li.list-thumb__item
              input.list-thumb__input(
                id="color2",
                type="radio",
                name="colors")
              label.list-thumb__circle(
                for="color2",
                style="background-color:#E9426D")
            li.list-thumb__item
              input.list-thumb__input(
                id="color3",
                type="radio",
                name="colors")
              label.list-thumb__circle(
                for="color3",
                style="background-color:#F59C00")
            li.list-thumb__item
              input.list-thumb__input(
                id="color4",
                type="radio",
                name="colors")
              label.list-thumb__circle(
                for="color4",
                style="background-color:#EC6839")
      footer.grid__footer
        .grid__price
          .grid__label desde
          .grid__value $ 1,999 / <small class="grid__value_line">$2,499</small>
        .grid__center
          p.grid__row
            a.grid__btn.btn(href="car-checkout.html") Comprar
          p.grid__row
            a.grid__link.link__brand(href="comparador-terminales.html") Comparar
