.tab-form
  button.tab-form__tab.i-arrow-right.js-tabBtn Recarga Aquí
  .tab-form__inner.js-tabContent
    header.tab-form__head
      p.tab-form__txt ¿Eres cliente movistar? recarga $200 y obtienes más MB por tu compra en línea
    footer.tab-form__foot
      form.tab-form__form(action="")
        label.tab-form__label Escribe tu número
        input.tab-form__input(type='text', placeholder='Ej: 12345678')
        button.tab-form__btn.btn.btn_blue Recarga
      a.tab-form__link.link__brand Ver más recargas

