//Tabs malla
nav.band_shadow
  .layout_inner
    ul.tabs-bar
      li.tabs-bar__item 
        a.tabs-bar__link.i-cell-all.tabs-bar__link_active(href="#") Todos los equipos
      li.tabs-bar__item  
        a.tabs-bar__link.i-cell-favorite Promociones
      li.tabs-bar__item  
        a.tabs-bar__link.i-cell-recharge Equipos con plan
