table.table-data.table-data_slide
  thead.table-data__head
    tr.table-data__row
      th.table-data__head-item   &nbsp;
      th.table-data__head-item Productos
      th.table-data__head-item Valor
      th.table-data__head-item Estatus
      th.table-data__head-item Fecha
      th.table-data__head-item &nbsp;
  tbody.table-data__content
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #172540
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") Recarga
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $4.933
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") En Tránsito
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #9376
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") Iphone X
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $200
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Entregado
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
        button.table-data__btn-arrow.js-dataDetailBtn(data-invoice='MSRO0037942')
    tr.table-data__row.table-data__slide-row.js-dataDetail(data-invoice='MSRO0037942')
      td.table-data__slide-cell.table-data__cell_bg.table-data__cell_center(colspan="6")
        img.table-data__slide-img(src="static/img/demo/factura-historial.jpg", alt="")
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #28339
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") Recarga
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $60
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Entregado
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #9372
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") SIM
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $200
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Pago
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #9372
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") SIM
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $200
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Pago
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #9372
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") SIM
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $200
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Pago
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar
    tr.table-data__row
      td.table-data__cell.table-data__cell_hide(data-tableHead="# Ticket") #9372
      td.table-data__cell.table-data__cell_mb1(data-tableHead="Productos") SIM
      td.table-data__cell.table-data__cell_mb3(data-tableHead="Valor") $200
      td.table-data__cell.table-data__cell_mb2(data-tableHead="Estatus") Pago
      td.table-data__cell.table-data__cell_mb4(data-tableHead="Fecha") 28 FEB. 18
      td.table-data__cell.table-data__cell_center.table-data__cell_occult(data-tableHead="Descargar")
        a(href="#", title="Descargar historial").link__brand Descargar