.txt-banner
  .txt-banner__head
    h4.txt-banner__title Las mejores ventajas solo online
  .txt-banner__box
    span.txt-banner__txt-xl 0
      small.txt-banner__txt-sm %
    span.txt-banner__txt-strong Sin intereses
    p.txt-banner__txt 6 ó 12 meses sin intereses al pagar con tarjeta de crédito.
  .txt-banner__box
    span.txt-banner__txt-xl 48
    span.txt-banner__txt-strong Gratis en 48 horas
    p.txt-banner__txt Recíbelo gratis en 48 horas en cualquier parte de Chile.
