/*------------------------------------*\
	Transversal Elements
    #Styles links - appearance buttons
\*------------------------------------*/

button {
  outline-width: 0;
  border: none;
  &:focus {
    outline-width: 0;
  }
}

/**
 * @atom Botones
 * @section Navegación
 * @modifiers
 *  .btn Botón principal de fondo verde
 *  .btn_blue Botón Secundario de fondo azul
 * @markup
 *  <a class="btn" href="#" title="Go to Button">.btn</a>
 *  <a class="btn btn_blue" href="#" title="Go to Button">btn .btn_blue</a>
 */

.btn {
  display: inline-block;
  padding: 16px 14px;
  text-align: center;
  color: $c-neutro;
  font-family: $f-light;
  letter-spacing: .05em;
  transition: all 0.2s linear;
  border-radius: 4px;
  background-color: $c-brand;
  &.i-shopping-car {
    &:before {
      padding-right: 14px;
      @include font-rem(26px);
      vertical-align: middle;
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:focus,
  &:active {
    background-color: $c-brand-hover;
  }
}

.btn_blue {
  background-color: $c-brand-2;
  transition: all 0.2s linear;
  &:hover {
    background-color: $c-brand-2-hover;
  }
}

/**
 * @atom Botones
 * @section Navegación
 * @modifiers
 *  .btn-circle Botón de carrito de compras
 * @markup
 *  <button class="btn-circle i-shopping-car">Carrito de compra<small class="btn-circle-small">1</small></button>
 */

.btn-circle {
  position: relative;
  display: inline-block;
  top: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: $c-default-4;
  @include font-rem(0px);
  vertical-align: middle;
  &:before {
    color: $c-brand-2;
    @include font-rem(24px);
  }
}

.btn-circle-small {
  position: absolute;
  display: inline-block;
  top: 4px;
  right: 2px;
  width: 20px;
  height: 20px;
  color: $c-neutro;
  border-radius: 50%;
  background-color: $c-brand;
  @include font-rem(10px);
  line-height: 2;
}

// Botón Fixed desde Botón
.btn-circle-Fixed-bottom {
  position: fixed !important;
  top: calc(100vh - 70px);
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/**
 * @atom Botones
 * @section Links
 * @modifiers
 *  .btn-share  Botón de Facebook
 *  .btn-share_red Botón de Google
 * @markup
 *  <div class="form__row-inner_high">
 *    <span class="form__label-light">También puedes ingresar con tus redes sociales</span>
 *    <a class="btn-share i-facebook-fill" href="#" alt="Inicie con Facebook">Inicia con Facebook</a>
 *    <a class="btn-share btn-share_red i-share-google" href="#" alt="Inicie con Google+">Inicia con Google+</a>
 *  </div>
 */

.btn-share {
  display: inline-block;
  position: relative;
  left: 0;
  color: $c-neutro;
  background-color: $c-social-1;
  margin-left: 50px;
  border-radius: 4px;
  text-align: center;
  padding: 8px 20px;
  min-height: 42px;
  line-height: 1.5;
  &:before {
    position: absolute;
    top: 0;
    left: -45px;
    @include font-rem(42px);
    color: $c-social-1;
    padding: 0;
  }
}

.btn-share_red {
  background-color: $c-social-2;
  &:before {
    color: $c-social-2;
  }
}

/**
 * @atom Botones Tags
 * @section Navegación
 * @modifiers
 *  .btn-circle Botón de carrito de compras
 * @markup
 *  <div class="filtro__control">
 *    <span class="btn_tag i-filter js-filtroBtn">Filtros</span>
 *    <span class="btn_tag i-reload js-orderBtn">Ordenar</span>
 *  </div
 */

.btn_tag {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  margin: 0 4px;
  text-align: center;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  color: $c-neutro;
  background-color: $c-brand-2;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:focus,
  &:active {
    background-color: $c-brand-hover;
  }
  &:before {
    @include font-rem(18px);
    padding-right: 5px;
    vertical-align: text-top;
  }
}
