/*------------------------------------*\
  layout theme
\*------------------------------------*/

html,
body {
  overflow-x: hidden;
}

.theme_bg-color {
  background-color: $c-default-5;
}

.theme_bg {
  overflow-x: hidden;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.theme {
  overflow-x: hidden;
}

.content {
  &.band-sticky {
    padding-top: 50px;
  }
}

.band {
  top: -50px;
  transition: top .5s cubic-bezier(0, 0, 0.22, 1.02);
  &.sticky {
    top: 0;
  }
}

.band_brand-2 {
  position: relative;
  background-color: $c-brand-2;
}

.band_brand-1 {
  position: relative;
  background-color: $c-brand;
}

.band_warm {
  background-color: $c-tag-5_l;
}

.band_shadow {
  background-color: $c-neutro;
  margin-bottom: 16px;
  box-shadow: 0 10px 14px -10px rgba(0, 0, 0, 0.19);
}

/*---Band Inner (contenedor para componentes)----*/

.band_inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


/*---Layout Inner (Principal Transversal)----*/

.layout_bg-col {
  background-color: $c-default-5;
}


/*---Layout Inner (Principal Transversal)----*/

.layout_inner {
  width: 88%;
  max-width: 1280px;
  margin: 0 auto;
}

/*---Layout Box (Principal Transversal)----*/

.layout_box {
  width: 100%;
  background-color: $c-neutro;
}

/*---Layout Panels (Principal Transversal)----*/

.layout_panels {
  width: 100%;
  padding-bottom: $sp-medium;
}

/*---Layout Grid de 2 columnas desiguales + aside (Principal Transversal)----*/

.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: $sp-small;
  grid-template-areas: 'content-s' 'content-l' 'aside';
  width: 100%;
}

/*---Layout 2 columna pequeña----*/

.layout-grid__col-s {
  grid-area: content-s;
  display: block;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  .panel {
    margin-bottom: $sp-small;
  }
}

/*---Layout 2 columna grande----*/

.layout-grid__col-l {
  grid-area: content-l;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  display: block;
  margin: 0 auto;
  .panel {
    margin-bottom: $sp-small;
  }
}

/*---Layout Aside----*/

.layout-grid__aside {
  grid-area: aside;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  display: block;
  margin: 0 auto;
  .panel {
    margin-bottom: $sp-small;
  }
}

@media screen and (min-width: 692px) {
  .layout_inner-d,
  .layout_panels {
    width: 88%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

//- bp 768px
@include media-query(medium) {
  .layout_box {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid $c-default-3;
  }
  .theme_bg {
    background-size: 150%;
  }
  .layout_panels {
    width: 100%;
    padding: $sp-wide 0 $sp-large;
  }
  /*---Layout 2 cols y Aside----*/
  .layout-grid {
    grid-template-areas: 'content-s aside' 'content-l aside';
    -ms-grid-columns: [content-s] 2.5fr [aside] 2fr;
    grid-template-columns: [content-s] 2.5fr [aside] 2fr;
  }
  .layout-grid__aside {
    max-width: none;
    min-width: auto;
  }
}

//- bp 1024px
@include media-query(wide) {
  /*---Layout 2 cols y Aside----*/
  .layout-grid {
    grid-template-areas: 'content-s content-l aside';
    -ms-grid-columns: [content-s] 2fr [content-s] 3fr [aside] 1.6fr;
    grid-template-columns: [content-s] 2fr [content-s] 3fr [aside] 1.6fr;
  }
  // .layout-grid__col-s {
  //   margin: 0 auto 0 0;
  // }
  /*---Layout 2 columna grande----*/
  .layout-grid__col-l {
    max-width: none;
    min-width: 300px;
  }
}

//- bp 1280px
@include media-query(huge) {
  .theme_bg {
    background-position: top center;
    background-size: contain;
  }
}
