/*------------------------------------*\
    #Titles
\*------------------------------------*/
/**
 * @atom Headlines
 * @section Typografías
 * @markup
 *   <h1 class="title">Titulo Principal</h1>
 *   <h2 class="subtitle_sm">Subtítulo Pequeños</h2>
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/**
 * @atom Title Main
 * @section Elementos
 * @markup
 *   <h2 class="title__main">Título con línea inferior</h2>
 */

//title page
.title__main {
  font-family: $f-bold;
  @include font-rem(18px);
  border-bottom: 1px solid $c-default-4;
  padding-bottom: $sp-xsmall;
  margin-bottom: $sp-small;
}

/**
 * @atom Title
 * @section Elementos
 * @markup
 *  <h2 class="title">Título Principal</h2>
 */

//title page form slot
.title {
  font-family: $f-default;
  @include font-rem(32px);
}

/**
 * @atom Title General
 * @section Elementos
 * @markup
 *   <h2 class="title__gral">Títulos Generales</h2>
 */

.title__gral {
  font-family: $f-bold;
  @include font-rem(18px);
}

/**
 * @atom Subtitle General
 * @section Elementos
 * @markup
 *  <p class="subtitle_gral">Subtítulos Generales</p>
 */

.subtitle_gral {
  font-family: $f-bold;
  @include font-rem(14px);
  text-transform: uppercase;
}

/**
 * @atom Subtitle Small
 * @section Elementos
 * @markup
 *   <p class="subtitle_sm">Subtítulos Sin bold</p>
 */

.subtitle_sm {
  font-family: $f-regular;
  @include font-rem(14px);
  text-transform: uppercase;
}

// Title section
.section__head {
  @include font-rem(30px);
}
.section__subhead {
  margin: 0;
}

// Titulos de sección con línea inferior
.title_under {
  border-bottom: 1px solid $c-default-3;
  padding-bottom: $sp-xsmall;
}

/**
 * @atom Title Head
 * @section Elementos
 * @markup
 *   <h1 class="title_head">Título Principal</h1>
 */

.title_head {
  display: block;
  @include font-rem(36px);
}

/**
 * @atom Title Underline
 * @section Elementos
 * @markup
 *   <h1 class="title_underline">Título Principal con línea inferior</h1>
 */

.title_underline {
  display: block;
  @include font-rem(36px);
  padding-bottom: $sp-xsmall;
  border-bottom: 1px solid $c-default-6;
  text-align: center;
}


.title_subhead {

}

//title bloque
.title_line {

}
// Titulo de sección
.title_section {
  font-family: $f-light;
  @include font-rem(64px);
}
.subtitle_section {
  font-family: $f-bold;
}
.subhead {

}
.subtitle_line {

}

.headline {

}
// $bp-medium: 768px
@include media-query(medium) {
  .title {
    @include font-rem(48px);
  }
  .title__main {
    @include font-rem(24px);
  }
}
// $bp-wide: 1024px
@include media-query(wide) {
  .title {
    @include font-rem(64px);
  }
  .section__head {
    @include font-rem(40px);
  }
}
