/*------------------------------------*\
    #Styles for text elements
\*------------------------------------*/
body {
  line-height: 1.4;
  color:  $c-default;
  @include font-rem(16px);
  font-family: $f-default;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.txt_bold {
  font-family: $f-bold;
}

.txt_brand {
  color: $c-brand;
}

.txt_through {
  font-family: $f-light;
  text-decoration: line-through;
}
