//extends _template
//
//block variables
//  //- variables txt Breadcrumbs Menú
//  - var item1 = 'Inicio'
//  - var item2 = 'Tienda'
//  - var item3 = 'iPhone X'
//
//block content
//  include block/_form-slot1
//  include block/_form-slot2
//  include block/_form-slot3
//  include block/_form-slot3a
//  include block/_form-slot4
//  include block/_form-slot5
