extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 2
  - var callTo = true
  - var uncarMenu = false

block content
  section.layout_section
    include block/_cart-steps
    .layout_inner
      // contenido para ingresar
      .data
        // Contenido constante con título
        .data__content
          header.data__header
            h2.data__title Comprar como invitado
          // formulario comprar como invitado [form-slot7]
          include block/_form__comprar-como-invitado
        // Aside permanente
        include block/_data-aside
      // info footer Band de logos
      include block/_data-footer


  include block/_cart-showcase

