extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 1
  - var callTo = true
  - var uncarMenu = false
  - var modalActive = 1


block content
  section.layout_section
    include block/_cart-steps
    .layout_inner
      //- contenido para ingresar
      .data
        //- Contenido constante con título
        .data__content
          h2.data__title Productos, Accesorios y Servicios
          //-Contenido del Checkout
          include block/_data-table
        //- Aside permanente
        include block/_data-aside-pay
      //- info footer Band de logos
      include block/_data-footer

  include block/_cart-showcase


