extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var callTo = true
  - var uncarMenu = false
  //- Cambios de Texto en Bloque board foot
  - var footTitle = 'La orden de compra será enviada a tu correo'
  - var footTxt = 'Una vez tu pago sea efectivo, la factura de compra será enviada al correo electrónico que ingresaste. Para cualquier duda o reclamo por favor escribe un correo a'

block content
  section.band_inner.layout_section
    article.board
      include block/_card-ico_caution
      include block/_box-ico
      include block/_board
    include block/_data-footer

