extends _template

block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  - var item1 = 'Inicio'
  - var item2 = 'Tienda'
  - var item3 = 'SIM Movistar'
  - var urlitem3 = 'detalle-sim.html'
  //- variable carga el menu-sticky
  - var sticky = true


block content
  section.layout_inner
    //-Grid Box contenedor
    .grid-box(itemscope, itemtype="http://schema.org/Product")
      //-Grid Box area 1
      .grid-box__cell.grid-box__cell-1
        //- Main Image
        figure.main-photo
          img.main-photo__img(src="static/img/sim.png", alt="SIM Movistar")
        //- Link
        .grid-box__link.link__brand(href="/", title="Comparar Producto") Comparar Producto
      //-Grid Box area 2
      .grid-box__cell.grid-box__cell-2
        .grid-box__row
          h1.grid-box__txt.title(itemprop="name") SIM Movistar
          h2.subtitle_sm(itemprop="brand") Movistar
      //-Grid Box area 3
      .grid-box__cell.grid-box__cell-3
        .grid-box__row
          //-Rating
          .grid-box__item
            include block/_rating
          .grid-box__item.grid-box__row_line
            a.link__brand(href="#", title="Comentarios") 83 comentarios
          .grid-box__item.grid-box__row_line
            include block/_list-ico
        .grid-box__row
          include block/_lists-groups
        .grid-box__wrap
          //-Radio button
          .grid-box__item
            include block/_card-radio
          //-card
          .grid-box__grid
            include block/_card-box
          //-Price
          .grid-box__grid2
            span.grid-box__txt Precio Total:
            span.grid-box__txt-xl $260
      .grid-box__cell.grid-box__cell-4
        .grid-box__row
          include block/_input-search
      .grid-box__cell.grid-box__cell-5
        .grid-box__row
          button.grid-box__link.btn.i-shopping-car(onclick="location.href='car-checkout.html'") Agregar al carrito
  include block/_band-banner
  include block/_tabs-sim
  include block/_faq
  include block/_btn-fixed__mb
