extends _template

block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  - var item1 = 'Inicio'
  - var item2 = 'Tienda'
  - var item3 = 'iPhone X'
  - var urlitem3 = 'detalle-producto.html'
  //- variable carga el menu-sticky
  - var sticky = true

block content
  section.layout_inner
    //-Grid Box contenedor
    .grid-box(itemscope, itemtype="http://schema.org/Product")
      //-Grid Box area 1
      .grid-box__cell.grid-box__cell-1
        //- Main Slider
        include block/_main-slider
        //- Link
        .grid-box__link.link__brand(href="/", title="Comparar Producto") Comparar Producto
      //-Grid Box area 2
      .grid-box__cell.grid-box__cell-2
        .grid-box__row
          h1.grid-box__txt.title(itemprop="name") Apple iPhone X
          h2.subtitle_sm(itemprop="brand") Apple
        .grid-box__row
          //-Grid Nube de tags
          include block/_tags
      //-Grid Box area 3
      .grid-box__cell.grid-box__cell-3
        .grid-box__row
          .grid-box__item
            include block/_rating
          .grid-box__item.grid-box__row_line
            a.link__brand(href="#", title="Comentarios") 83 comentarios
          .grid-box__item.grid-box__row_line
            include block/_list-ico
        .grid-box__row
          include block/_list-bullet
        .grid-box__row
          span.grid-box__txt Color:
          include block/_list-thumb
        .grid-box__row
          span.grid-box__txt Capacidad:
          include block/_list-thumb_boll
        .grid-box__row
          span.grid-box__txt Cantidad:
          include block/_group-input
        .grid-box__row
          span.grid-box__txt Precio:
          include block/_grid-thumb
      .grid-box__cell.grid-box__cell-4
        .grid-box__row
          include block/_input-search
      .grid-box__cell.grid-box__cell-5
        .grid-box__row
          button.grid-box__link.btn.i-shopping-car(onclick="location.href='car-checkout.html'") Agregar al carrito
  .band_brand-2
    //- Banner de texto
    include block/_txt-banner
  //- Tabs
  include block/_tabs
  .band_brand-1
    //- Banner de texto
    include block/_box-banner
  //- Preguntas Frecuentes
  include block/_faq
  include block/_btn-fixed__mb
