extends _template
block variables
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  //- Cambios de slots en la grilla
  - var termMarca = 1
  //- Imagen ADS
  - var titleImg = 'static/img/demo/banner-ads.jpg'
  //- Header solo para el home
  - var homeHead = true

block content
  //- Banner Principal
  include block/_banner-hero
  section.layout_section
    .layout_inner-d
      //- // Slider de logos
      include block/_slider-brands
      //- Grupo de Banners
      include block/_banner-group
      //- Head Detail
      include block/_head-section
      //- Slider de Terminal destacado
      include block/_slider-slots-home
      //- Head Detail
      include block/_head-section2
    //- Banner Full image
    include block/_banner-fullimage
    //- Call to Action
    include block/_callto
