extends _template

block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 3
  - var callTo = true
  - var uncarMenu = false

block content
  section.layout_section
    include block/_cart-steps

    .layout_inner
      .data
        .data__content
          h2.data__title Productos, Accesorios y Servicios
          p Contenido paso carrito



        .data__aside
          .data__aside-wrap
            .data__header
              h2.data__title Datos de compra
              p.data__subtitle Orden No. 1423274
            dl.data__list
              dt.data__term Iphone X
              dd.data__value $23.499
            dl.data__list
              dt.data__term SIM card
              dd.data__value $60
            dl.data__list
              dt.data__term Recarga
              dd.data__value $200
            dl.data__list
              dt.data__term Envío
              dd.data__value GRATIS
            dl.data__list
              dt.data__term Impuestos
              dd.data__value $2.300
            dl.data__list
              dt.data__term Descuento MX1 = 91
              dd.data__value - $2.300
            dl.data__list
              dt.data__term Descuento XCQAD
              dd.data__value - $2.300
            .data__form
              .input-search
                label.input-search__label
                  |Escribe tu código de descuento
                  small.txt_blue Puedes agregar más de un cupón
                input.input-search__input(type='search', placeholder='Ej: MX1=91')
                button.input-search__btn(type='submit') Aplicar
            dl.data__list.data__summary
              dt.data__term Total
              dd.data__total $28.350
            .data__actions
              button.btn.data_btn Ir a Pagar
      .data__info
        p.data__label Compra segura
        img(src="static/img/logos-compra_segura.png", alt="")


  include block/_cart-showcase


