extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  - var item1 = 'Inicio'
  - var item2 = 'Tienda'
  - var item3 = 'Login'
  //- Call to action llámanos gratis
  - var callTo = false
  //- Desaparece el carrito
  - var uncarMenu = false

block content
  section.layout_section
    .layout_inner-d
      //- Contenido constante con título al 100%
      header.data__header-full
        h2.title_head Ir a mi cuenta
      //- contenido para ingresar
      .data
        //- Estructura al 50%
        .data__even
          //- formulario de Ingresa tus datos [form-slot2]
          include block/_form__login
        //- Estructura al 50%
        .data__even
          //- Banner Cuadrado
          include block/_banner-frame
      //- Banner Band
      include block/_banner-band
