extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  - var item1 = 'Inicio'
  - var item2 = 'Tienda'
  //- Imagen ADS
  - var titleImg = 'static/img/demo/grid-ads.jpg'
  //- Grid en Malla Módulos
  - var gridModules = false

block content
  // banner hero
  include block/_hero-banner
  //- Menu Promo
  //- include block/_menu-promo
  // Menu Info prom Gris
  include block/_info-prom
  // Search
  include block/_search
  //- // Menu Tabs malla
  //- include block/_tabs-bar
  // Malla productos
  include block/_grid


