extends _template-3
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variables txt Breadcrumbs Menú
  //- var item1 = 'Inicio'
  //- var item2 = 'Tienda'
  //- Breadcrumbs de solo un item
  - var breadcrumbsUnique = true
  //- Call to action llámanos gratis
  - var callTo = false
  //- Desaparece el carrito
  - var uncarMenu = true
//- variable carga el menu-sticky
  - var sticky = true

block content
  section.layout_section
    //- Caja con borde nueva estructura
    section.layout_panels
      .panel
        .panel__head
          h1.title_underline Histórico de notificaciones
        .panel__inner
          .panel__content
            div.es-toggle-switch
              span.es-toggle-switch__txt Recibir notificaciones por SMS
              input.es-toggle-switch__input#linea-activa(type="checkbox")
              label.es-form__label.es-toggle-switch__label(for="linea-activa")
            .history__actions
              a.history__link(href="#") Marcar todas como leidas
              include block/_date-range
            include block/_history-data
          .panel__footer
            include block/_pager
