extends _template
block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true

block content
  //Banner-hero - TO-DO Lula
  include block/_banner-hero2
  //Grid-reload - TO-DO Lula
  section.layout_section.layout_bg-col
    .layout_inner-d
      header.head__box
        h1.head__title Aprovecha y lleva tu SIM con una recarga
      include block/_grid-cards
      footer.foot__box
        a.foot__link-i.link__brand.i-arrow-left(href='#', title='Ver todas las recargas')  Ver todas las recargas
  // Slider de destacados
  section.layout_section
    .layout_inner-d
      header.head__box
        h1.head__title Compra nuestros equipos con una línea prepago
      //- Slider de Terminal destacado
      include block/_slider-slots-home
  //banner-window - TO-DO Jerson
  include block/_banner-window
  //box-banner - TO-DO Jerson
  include block/_box-square
  //form-banner - TO-DO Jerson ver _tab-form
  include block/_band-form
  //Grid banner-square - TO-DO Jerson
  include block/_banner-vitrina
  //banner-publi - TO-DO Jerson
  include block/_banner-publi
  //Grid card-brand - TO-DO Jerson
  include block/_card-brand
  //band-form - TO-DO Jerson
  include block/_vitrina-form
